Repository ZupIT/charlescd, changes with the labels that .github/labeler.yml gives for each.
All labels: butler, villager, moove, octopipe, circle-matcher, new-ui, legacy-ui, tracing, docs, installer

.github/labeler.yml:

butler: butler/**
villager: villager/**
moove: moove/**
octopipe: octopipe/**
circle-matcher: circle-matcher/**
new-ui: ui/packages/new-ui/**
legacy-ui: ui/packages/legacy/**
tracing: tracing/**
docs: docs/**
installer: install/**

Update codecov file
  .github/.codecov.yml
Labels: none

point action to coverage subdirectory
  .github/workflows/butler-ci.yml
Labels: none

point action to coverage subdirectory
  .github/workflows/butler-ci.yml
Labels: none

Forcing build
  circle-matcher/pom.xml
Labels: circle-matcher

set working directory
  .github/workflows/butler-ci.yml
Labels: none

set working directory
  .github/workflows/butler-ci.yml
Labels: none

Updating codecov
  .github/.codecov.yml
Labels: none

Reverting change
  circle-matcher/pom.xml
Labels: circle-matcher

point to clover.xml
  .github/workflows/butler-ci.yml
Labels: none

point to clover.xml
  .github/workflows/butler-ci.yml
Labels: none

Updating codecov
  .github/.codecov.yml
Labels: none

GitBook: [v0.2.1] 22 pages modified
  docs/primeiros-passos/instalando-charles.md
Labels: docs

Add UI codecov CI step
  .github/workflows/ui-ci.yml
Labels: none

Add UI codecov CI step
  .github/workflows/ui-ci.yml
Labels: none

GitBook: [v0.2.1] one page modified
  docs/primeiros-passos/instalando-charles.md
Labels: docs

Updating codecov
  .github/.codecov.yml
Labels: none

Change UI tests threshold
  ui/package.json
Labels: none

Change UI tests threshold
  ui/package.json
Labels: none

try another action version
  .github/workflows/butler-ci.yml
  butler/package.json
Labels: butler

try another action version
  .github/workflows/butler-ci.yml
  butler/package.json
Labels: butler

point to lcov file
  .github/workflows/butler-ci.yml
Labels: none

point to lcov file
  .github/workflows/butler-ci.yml
Labels: none

add env
  .github/workflows/butler-ci.yml
Labels: none

add env
  .github/workflows/butler-ci.yml
Labels: none

Update .codecov.yml
  .github/.codecov.yml
Labels: none

Update .codecov.yml
  .github/.codecov.yml
Labels: none

Update .codecov.yml
  .github/.codecov.yml
Labels: none

Update .codecov.yml
  .github/.codecov.yml
Labels: none

Updating codecov
  .github/.codecov.yml
Labels: none

Updating codecov
  .github/.codecov.yml
Labels: none

Update butler-ci.yml
  .github/workflows/butler-ci.yml
Labels: none

Update butler-ci.yml
  .github/workflows/butler-ci.yml
Labels: none

Forcing build
  circle-matcher/pom.xml
Labels: circle-matcher

update node image
  butler/Dockerfile
Labels: butler

remove duplicate key from config
  .github/.codecov.yml
Labels: none

Update .codecov.yml
  .github/.codecov.yml
Labels: none

Update .codecov.yml
  .github/.codecov.yml
Labels: none

Reverting
  circle-matcher/pom.xml
Labels: circle-matcher

Change to quiz-app
  .github/workflows/quiz-app-backend-devrelease.yml
  samples/quiz-app/backend/README.md
  samples/quiz-app/backend/assets/v1/questions.json
  samples/quiz-app/backend/assets/v2/answers.json
  samples/quiz-app/backend/assets/v2/questions.json
  samples/quiz-app/backend/cmd/quiz_app/Dockerfile
  samples/quiz-app/backend/cmd/quiz_app/main.go
  samples/quiz-app/backend/go.mod
  samples/quiz-app/backend/go.sum
  samples/quiz-app/backend/internal/answers/set_answers.go
  samples/quiz-app/backend/internal/api/api.go
  samples/quiz-app/backend/internal/questions/get_questions.go
  samples/quiz-app/backend/internal/repositories/answers_repository.go
  samples/quiz-app/backend/internal/repositories/questions_repository.go
  samples/quiz-app/backend/internal/types/answer.go
  samples/quiz-app/backend/internal/types/question.go
  samples/quiz-app/frontend/README.md
Labels: none

GitBook: [v0.2.1] one page modified
  docs/primeiros-passos/instalando-charles.md
Labels: docs
