Repository ZupIT/charlescd, pull requests merged in 2020-08, with the labels that each got.

#358 Spinnaker v2 integration
  butler/src/app/v1/core/integrations/cd/spinnaker/spinnaker-api.service.ts
  butler/src/app/v1/core/integrations/cd/spinnaker/spinnaker.service.ts
  butler/src/app/v2/api/deployments/deployments.module.ts
  butler/src/app/v2/api/deployments/pipes/cd-configuration-existence-pipe.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/app/v2/core/integrations/spinnaker/connector.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/spinnaker-pipeline.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/pipeline-builder.ts
  butler/src/tests/v2/unit/spinnaker/connector.spec.ts
Labels: butler

#298 Fix env string in butler
  butler/src/app/v1/core/config/configurations.ts
Labels: butler

#359 Fix open sea deployment
  butler/src/app/resources/migrations/20200715113000-create-v2-deployments.ts
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
Labels: butler

#361 Fix virtualservice consolidated value
  butler/src/app/v2/api/deployments/deployments.module.ts
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/app/v2/api/deployments/repository/index.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
Labels: butler

#360 Tests mock server
  butler/src/app/v1/core/integrations/configuration/interfaces/env-configuration.interface.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/app/v2/core/integrations/spinnaker/connector.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/connector-result.interface.ts
  butler/src/tests/integration/utils/fixture-utils.service.ts
  butler/src/tests/integration/v2/controllers/callback.controller.integration-spec.ts
  butler/src/tests/integration/v2/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/integration/v2/handlers/deployment.handler.integration-spec.ts
Labels: butler

#362 Fix v2 butler unusedversions
  butler/src/app/v2/core/integrations/spinnaker/connector.ts
  butler/src/app/v2/core/integrations/spinnaker/pipeline-builder.ts
  butler/src/tests/v2/unit/spinnaker/connector.spec.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/one-component-no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/one-component-with-unused.ts
Labels: butler

#333 Remove React.memo from some menus
  ui/src/modules/Account/Menu/MenuItem.tsx
  ui/src/modules/Settings/Menu/MenuItem.tsx
Labels: TESTED, bug, ui

#334 Update resetVersion function to clean errors
  ui/src/modules/Circles/Release/Create/Module.tsx
Labels: TESTED, bug, ui

#338 Adding jsonformatter to missing localdatetime fields
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/response/ArtifactResponse.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/role/response/PermissionResponse.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/role/response/RoleResponse.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/usergroup/response/UserGroupResponse.kt
Labels: TESTED, moove

#364 Prioritize requeue deployments, fix deployment validation test
  butler/src/app/resources/migrations/20200715113000-create-v2-deployments.ts
  butler/src/app/v1/core/integrations/databases/constraints/queued_deployments.constraints.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/jobs/pgboss.worker.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/app/v2/api/deployments/use-cases/notification-use-case.ts
  butler/src/tests/integration/v2/controllers/callback.controller.integration-spec.ts
  butler/src/tests/integration/v2/controllers/deployment.controller.integration-spec.ts
Labels: butler

#368 extract functions
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
Labels: butler

#376 validate unique components per on deploy
  butler/.eslintrc
  butler/src/app/v1/api/components/pipe/components.pipe.ts
  butler/src/app/v1/core/integrations/cd/spinnaker/connector/pipelines/create-total-pipeline.ts
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/entity/component.entity.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/entity/execution.entity.ts
  butler/src/app/v2/api/deployments/jobs/pgboss.worker.ts
  butler/src/app/v2/api/deployments/pipes/cd-configuration-existence-pipe.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/app/v2/api/deployments/validations/component-unique-by-name.ts
  butler/src/tests/integration/v2/controllers/deployment.controller.integration-spec.ts
Labels: butler

#377 validate image url to match k8s format and length
  butler/src/app/v2/api/deployments/dto/create-component-request.dto.ts
  butler/src/tests/integration/v2/controllers/deployment.controller.integration-spec.ts
Labels: butler

#363 Using Keycloak internal host for authentication
  install/helm-chart/charts/keycloak/values.yaml
  install/helm-chart/charts/nginx/templates/nginx-conf.yaml
  install/helm-chart/single-file.yaml
  install/helm-chart/templates/charlescd-moove-deployment.yaml
  install/helm-chart/values.yaml
Labels: TESTED

#326 Charles circles sample
  .github/workflows/circles-sample-devrelease.yml
  install/helm-chart/charts/nginx/values.yaml
  install/helm-chart/single-file.yaml
  samples/circles/app/Dockerfile
  samples/circles/app/app.js
  samples/circles/app/circles.js
  samples/circles/app/d3.helpers.js
  samples/circles/app/d3.v3.js
  samples/circles/app/favicon.ico
  samples/circles/app/helpers.js
  samples/circles/app/index.html
  samples/circles/app/nginx.conf
  samples/circles/app/style.css
  samples/circles/app/textarea.js
  samples/circles/circles-sample/Chart.yaml
  samples/circles/circles-sample/circles-sample-darwin.tgz
  samples/circles/circles-sample/templates/deployment.yaml
  samples/circles/circles-sample/templates/service.yaml
  samples/circles/circles-sample/value.yaml
Labels: documentation, enhancement

#386 added option for Octopipe to skip https validation on git requests
  octopipe/.env
  octopipe/pkg/repository/github/github.go
  octopipe/pkg/repository/gitlab/gitlab.go
Labels: octopipe

#366 Fixing GitLab integration
  moove/commons/src/test/kotlin/io/charlescd/moove/commons/GitServiceMapperLegacyTest.kt
  moove/commons/src/test/kotlin/io/charlescd/moove/commons/integration/git/service/GitLabServiceLegacyTest.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Build.kt
  moove/infrastructure/pom.xml
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitHubProviderService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitLabClientFactory.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitLabService.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/GitLabClientFactoryTest.groovy
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/GitLabServiceTest.groovy
  moove/security/src/test/kotlin/io/charlescd/moove/security/service/KeycloakClientServiceTest.groovy
Labels: TESTED, moove

#388 Butler stabilization lint fix
  butler/src/app/v1/api/base.controller.ts
  butler/src/app/v1/api/deployments/deployments.module.ts
  butler/src/app/v1/core/integrations/moove/moove.service.ts
  butler/src/app/v2/api/api.module.ts
  butler/src/app/v2/api/deployments/controller/notification.controller.ts
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/entity/execution.entity.ts
  butler/src/app/v2/api/deployments/pipes/simultaneous-deployment-validation.pipe.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/spinnaker-pipeline.interface.ts
  butler/src/tests/integration/utils/test-setup-utils.ts
Labels: butler

#331 Validating circle segments
  moove/application/src/main/kotlin/io/charlescd/moove/application/CsvSegmentationService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/request/CreateCircleRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/DeleteCircleByIdInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindAllCirclesInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindCircleByIdInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/PatchCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/UpdateCircleWithCsvFileInteractorImplTest.groovy
  ui/src/core/components/Form/Input/__tests__/Input.spec.tsx
  ui/src/core/components/Form/Input/index.tsx
  ui/src/modules/Circles/Segments/Rule.tsx
  ui/src/modules/Circles/Segments/__tests__/Rule.spec.tsx
  ui/src/modules/Circles/Segments/__tests__/Segments.spec.tsx
  ui/src/modules/Circles/Segments/index.tsx
Labels: TESTED, bug, moove, ui

#322 Improve tests
  ui/src/core/components/Dropdown/Item/index.tsx
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
Labels: ui

#382 Fix empty deploy period
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/interactor/impl/RetrieveDeploymentsMetricsInteractorImpl.kt
  moove/metrics/src/test/groovy/io/charlescd/moove/metrics/interactor/impl/RetrieveDeploymentMetricsInteractorImplUnitTest.groovy
Labels: TESTED, bug, moove

#396 Butler v2 undeploy tests
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-destination-rules-stage.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-virtualservice.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-with-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/dummy-virtualservice-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-one-unused.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-deployment.spec.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-undeployment.spec.ts
Labels: butler

#399 Return the same dto for v1 and v2 deployments
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-cleanup-handler.ts
  butler/src/resources/migrations/20200715113000-create-v2-deployments.ts
  butler/src/resources/postman/Darwin_Deploy.postman_collection.json
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment-cleanup.handler.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment.handler.integration-spec.ts
Labels: butler

#400 notify moove on cd callback
  butler/src/app/v2/api/deployments/use-cases/receive-notification.usecase.ts
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
Labels: butler

#401 fix callback url
  butler/src/app/v1/core/config/configurations.ts
  butler/src/app/v1/core/constants/application/configuration.constants.ts
  butler/src/app/v1/core/integrations/configuration/interfaces/env-configuration.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/failure-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/success-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-failure-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-success-webhook-stage.ts
  butler/src/app/v2/core/utils/url.utils.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-virtualservice.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-with-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/dummy-virtualservice-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-one-unused.ts
Labels: butler

#403 Fix butler undeployment return
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/dto/read-undeployment.dto.ts
  butler/src/app/v2/api/deployments/use-cases/create-undeployment.usecase.ts
  butler/src/tests/v1/stubs/configurations/env-configuration.stub.ts
Labels: butler

#404 Remove hardcoded user/pass
  butler/src/app/v1/core/config/configurations.ts
Labels: butler

#406 fix butler callback url
  butler/src/app/v2/core/utils/url.utils.ts
Labels: butler

#408 Set components running to false on cleanup
  butler/src/app/v2/api/deployments/repository/deployment.repository.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-cleanup-handler.ts
  butler/src/tests/v2/integration/handlers/deployment-cleanup.handler.integration-spec.ts
Labels: butler

#387 Add link that opens Charles Documentation
  ui/src/core/components/Icon/index.tsx
  ui/src/modules/Main/Sidebar/__tests__/Sidebar.spec.tsx
  ui/src/modules/Main/Sidebar/index.tsx
  ui/src/modules/Main/__tests__/Main.spec.tsx
Labels: TESTED, docs, enhancement, ui

#419 Fix repeated drules v2
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-destination-rules-stage.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-no-repeated-subset.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-no-repeated-subset.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-deployment.spec.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-undeployment.spec.ts
Labels: butler

#420 Update execution status and notify moove on undeployment
  butler/src/app/v2/api/deployments/use-cases/receive-notification.usecase.ts
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
Labels: butler

#375 Validating if email is already registered.
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2UserController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/UserService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/CreateUserInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/CreateUserInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/request/CreateUserRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/CreateUserInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/UserRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/KeycloakService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserRepository.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/controller/UserController.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/controller/UserControllerUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/KeycloakServiceGroovyUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyGroovyUnitTest.groovy
  moove/security/src/main/kotlin/io/charlescd/moove/security/service/KeycloakClientService.kt
  moove/security/src/test/groovy/io/charlescd/moove/security/service/KeycloakClientServiceTest.groovy
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
  ui/src/core/providers/__tests__/users.spec.ts
  ui/src/core/providers/users.ts
  ui/src/modules/Users/Create/Form.tsx
  ui/src/modules/Users/Create/__tests__/CreateUser.spec.tsx
  ui/src/modules/Users/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Users/__tests__/hooks.spec.tsx
  ui/src/modules/Users/hooks.ts
Labels: TESTED, moove, ui

#431 dont log entire objects on deploy
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/app/v2/api/deployments/use-cases/create-undeployment.usecase.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.usecase.ts
  butler/src/app/v2/core/integrations/spinnaker/connector.ts
Labels: butler

#427 Butler stabilization fix undeployment callback
  butler/src/app/v2/api/deployments/use-cases/receive-notification.usecase.ts
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
Labels: butler

#432 dont run cleanup query if no expired executions are found
  butler/src/app/v2/api/deployments/use-cases/deployment-cleanup-handler.ts
Labels: butler

#433 create pg extension in case the database cant run uuid_generate_v4
  butler/src/resources/migrations/20200715112000-create-uuid-extension.ts
Labels: butler

#434 use pgcrypto to generate uuid
  butler/src/resources/migrations/20200715112000-create-uuid-extension.ts
  butler/src/resources/migrations/20200715114000-create-v2-components.ts
  butler/src/resources/migrations/20200715115000-create-v2-executions.ts
Labels: butler

#437 Add circle label on deployment
  butler/src/app/v2/core/integrations/spinnaker/interfaces/spinnaker-pipeline.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/pipeline-builder.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/bake-stage.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-no-repeated-subset.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-no-rollback.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-virtualservice.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-with-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component.ts
Labels: butler

#441 Butler stabilization execution list
  butler/src/app/v2/api/deployments/controller/executions.controller.ts
  butler/src/app/v2/api/deployments/deployments.module.ts
  butler/src/app/v2/api/deployments/dto/execution/paginated-execution-query.dto.ts
  butler/src/app/v2/api/deployments/dto/execution/paginated-executions.dto.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/api/deployments/use-cases/paginated-executions.usecase.ts
  butler/src/resources/migrations/20200715115000-create-v2-executions.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
Labels: butler
