Repository ZupIT/charlescd, pull requests merged in 2020-06, with the labels that each got.

#48 Feature/octopipe ci
  .github/workflows/octopipe-ci.yml
  .github/workflows/octopipe-devrelease.yml
  .github/workflows/octopipe-publish.yml
  octopipe/revive.toml
Labels: octopipe

#54 Renaming tracing property and bypassing lint build for now
  .github/workflows/moove-ci.yaml
  moove/pom.xml
  moove/web/pom.xml
Labels: moove

#51 remove build prefix and github release creation
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitHubProviderService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/VillagerClientService.kt
Labels: moove

#50 Release 1.0 tracing lib spring
  tracing/spring/pom.xml
Labels: tracing

#57 [Octopipe] Fix update k8s resource
  octopipe/pkg/deployer/deployer_deploy.go
Labels: octopipe

#71 Fix/identify circle interactor
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/IdentifyCircleInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/IdentifyCircleInteractorImplTest.groovy
Labels: moove

#73 Fix provider value for Other option
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/constants.ts
Labels: bug, ui

#74 Add error handlers for Workspace configs fetched hooks
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Git/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/hooks.ts
Labels: enhancement, ui

#76 Doc improvements
  docs/README.md
  docs/SUMMARY.md
  docs/circle-matcher/circle-matcher.md
  docs/circulos/circle-matcher.md
  docs/circulos/como-criar-circulos.md
  docs/circulos/como-identificar-os-circulos.md
  docs/circulos/como-integrar-circulos-com-servicos.md
  docs/get-started/creating-your-first-module.md
  docs/get-started/defining-a-workspace/README.md
  docs/get-started/defining-a-workspace/configuracoes-de-deploy.md
  docs/get-started/defining-a-workspace/docker-registry.md
  docs/get-started/defining-a-workspace/github.md
  docs/get-started/first-deploy.md
  docs/get-started/installing-charles.md
  docs/key-concepts.md
Labels: docs

#81 fix moove prod release workflow
  .github/workflows/moove-devrelease.yml
  .github/workflows/moove-prodrelease.yml
  moove/legacy-moove/pom.xml
Labels: moove

#82 Enhancement: removing unused folders and information.
  moove/CHANGELOG.md
  moove/docker-compose.yml
  moove/resources/keycloak/tls.crt
  moove/resources/keycloak/tls.key
Labels: moove

#84 Removing unused files
  circle-matcher/mvnw
  circle-matcher/mvnw.cmd
Labels: circle-matcher

#72 Update container run integration tests
  .github/workflows/butler-ci.yml
  butler/Dockerfile
  butler/docker-compose.yml
  butler/package.json
  circle-matcher/pom.xml
Labels: butler, circle-matcher

#83 Enhancement front routes
  ui/.env
  ui/.gitignore
  ui/environments/dev
  ui/environments/mock
  ui/src/core/constants/routes.ts
  ui/src/core/providers/auth.ts
  ui/src/core/providers/base/index.ts
  ui/src/modules/Main/__tests__/Main.spec.tsx
  ui/src/modules/Main/index.tsx
Labels: enhancement, ui

#86 fix moove dockerfile
  butler/package.json
  circle-matcher/pom.xml
  moove/web/Dockerfile
Labels: butler, circle-matcher, moove

#90 [OCTOPIPE] Feature/verify null deployment
  octopipe/pkg/mozart/mozart_utils.go
Labels: octopipe

#89 Fixing moove lint pipeline
  .github/workflows/circle-matcher-ci.yml
  .github/workflows/circle-matcher-devrelease.yml
  .github/workflows/circle-matcher-prodrelease.yml
  .github/workflows/moove-ci.yaml
  .github/workflows/moove-devrelease.yml
  .github/workflows/moove-prodrelease.yml
  .github/workflows/villager-ci.yml
  .github/workflows/villager-devrelease.yml
  .github/workflows/villager-prodrelease.yml
  moove/pom.xml
Labels: moove

#92 use postgres 11 alpine on tests
  butler/docker-compose.yml
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
Labels: butler

#106 Verify istio components is null or manifest undefined name
  octopipe/pkg/deployer/deployer_deploy.go
Labels: octopipe

#112 Adding create parameters array function
  moove/.gitignore
  moove/data/import-3.csv
  moove/data/stubby/integrations.yml
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
Labels: moove

#120 Improve runner ordering, get right module id on undeployment
  butler/src/app/resources/postman/Darwin_Deploy.postman_collection.json
Labels: butler

#110 docs: Update register-metrics-provider.md
  docs/reference/metrics/register-metrics-provider.md
Labels: docs

#115 reduce resources and update images
  install/helm-chart/Chart.yaml
  install/helm-chart/Readme.md
  install/helm-chart/charts/octopipe-charlescd/Chart.yaml
  install/helm-chart/charts/octopipe-charlescd/values.yaml
  install/helm-chart/single-file.yaml
  install/helm-chart/templates/charlescd-moove-deployment.yaml
  install/helm-chart/templates/charlescd-ui-deployment.yaml
  install/helm-chart/templates/charlescd-villager-deployment.yaml
  install/helm-chart/values.yaml
Labels: installer

#123 Fix/Circle delete wrong method
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/CircleMatcherClient.kt
Labels: moove

#111 docs: Update users-group.md
  docs/reference/users-group.md
Labels: docs

#114 docs: Update hyphotesis.md
  docs/reference/hyphotesis.md
Labels: docs

#128 Verify empty name undeploy in octopipe
  octopipe/pkg/deployer/deployer_undeploy.go
Labels: octopipe

#121 Fix/open sea separation pipeline
  butler/package.json
  butler/src/app/api/deployments/dto/read-queued-istio-deployment/read-queued-istio-deployment.dto.ts
  butler/src/app/api/deployments/entity/queued-istio-deployment.entity.ts
  butler/src/app/api/deployments/use-cases/create-circle-deployment-request.usecase.ts
  butler/src/app/api/deployments/use-cases/create-default-deployment-request.usecase.ts
  butler/src/app/core/integrations/cd/spinnaker/connector/pipelines/create-total-pipeline.ts
  butler/src/app/resources/migrations/20200615113000-remove-circle-id-column.ts
  butler/src/tests/unit/use-cases/create-default-deployment-request-usecase.spec.ts
Labels: butler

#153 Trigger unit tests
  circle-matcher/pom.xml
Labels: circle-matcher

#113 Fix find inactive circles with empty name
  moove/.gitignore
  moove/data/import-3.csv
  moove/data/stubby/integrations.yml
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
Labels: moove

#98 Improve UI mocks
  ui/environments/mock
  ui/package.json
  ui/public/config.js
  ui/stub/auth/index.js
  ui/stub/auth/mock.js
  ui/stub/cdConfiguration/index.js
  ui/stub/cdConfiguration/mock.js
  ui/stub/circle-matcher/index.js
  ui/stub/circle-matcher/mock.js
  ui/stub/circles/index.js
  ui/stub/circles/mock.js
  ui/stub/git/index.js
  ui/stub/git/mock.js
  ui/stub/index.js
  ui/stub/metricProvider/index.js
  ui/stub/metricProvider/mock.js
  ui/stub/metrics/index.js
  ui/stub/metrics/mock.js
  ui/stub/modules/index.js
  ui/stub/modules/mock.js
  ui/stub/registry/index.js
  ui/stub/registry/mock.js
  ui/stub/roles/index.js
  ui/stub/roles/mock.js
  ui/stub/routes.js
  ui/stub/user-groups/index.js
  ui/stub/user-groups/mock.js
  ui/stub/userGroup/index.js
  ui/stub/userGroup/mock.js
  ui/stub/users/index.js
  ui/stub/users/mock.js
  ui/stub/workspaces/index.js
  ui/stub/workspaces/mock.js
  ui/yarn.lock
Labels: enhancement, ui

#155 Fix/when one module fail all fail
  butler/src/app/api/deployments/repository/component-undeployments.repository.ts
  butler/src/app/api/deployments/services/pipeline-deployments.service.ts
  butler/src/app/api/deployments/services/pipeline-error-handler.service.ts
  butler/src/app/api/notifications/use-cases/receive-undeployment-callback.usecase.ts
  butler/src/app/core/services/deployments/status-management-service.ts
  butler/src/tests/integration/fixtures/component_deployments.json
  butler/src/tests/integration/fixtures/component_undeployments.json
  butler/src/tests/integration/fixtures/components.json
  butler/src/tests/integration/fixtures/deployments.json
  butler/src/tests/integration/fixtures/module_deployments.json
  butler/src/tests/integration/fixtures/module_undeployments.json
  butler/src/tests/integration/fixtures/modules.json
  butler/src/tests/integration/fixtures/queued_undeployments.json
  butler/src/tests/integration/fixtures/undeployments.json
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-undeployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/receive-undeployment-callback-usecase.integration-spec.ts
  butler/src/tests/integration/utils/fixture-utils.service.ts
  butler/src/tests/stubs/repository/component-undeployments-repository.stub.ts
  butler/src/tests/stubs/services/status-management-service.stub.ts
  butler/src/tests/unit/services/pipeline-error-handler-service.spec.ts
  butler/src/tests/unit/use-cases/receive-undeployment-callback-usecase.spec.ts
Labels: butler

#158 create user other than root
  ui/src/modules/Users/Create/Form.tsx
Labels: bug, ui

#157 Issue resolve security libs
  ui/package.json
  ui/yarn.lock
Labels: bug, ui

#170 UI test coverage improvement
  ui/src/modules/Circles/List/HealthVariation/Card/__tests__/Card.spec.tsx
  ui/src/modules/Circles/List/HealthVariation/Card/index.tsx
  ui/src/modules/Circles/List/HealthVariation/__tests__/HealthVariation.spec.tsx
  ui/src/modules/Circles/List/HealthVariation/index.tsx
  ui/src/modules/Circles/List/__tests__/List.spec.tsx
  ui/src/modules/Circles/List/__tests__/helpers.spec.ts
  ui/src/modules/Circles/List/index.tsx
Labels: ui

#135 UI proxy
  ui/.env
  ui/.gitignore
  ui/env-writer.js
  ui/environments/dev
  ui/environments/mock
  ui/package.json
  ui/public/config.js
  ui/src/setupProxy.js
  ui/yarn.lock
Labels: bug, ui

#185 Update git configuration name
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
Labels: bug, ui

#196 Remove React.memo
  ui/src/modules/Circles/Menu/MenuItem.tsx
  ui/yarn.lock
Labels: bug, ui

#204 Check `src` prop before render member names' initials
  ui/src/core/components/AvatarName/index.tsx
Labels: bug, ui

#200 Several requests to users on login
  ui/src/modules/Auth/Login/hook.ts
Labels: bug, ui

#199 "Undeploy" option is enabled on the menu of Default circle
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: bug, ui

#205 Enhancement: installation with minikube
  install/helm-chart/Chart.yaml
  install/helm-chart/Readme.md
  install/helm-chart/charts/keycloak/Chart.yaml
  install/helm-chart/charts/mongodb/values.yaml
  install/helm-chart/charts/nginx/templates/nginx-conf.yaml
  install/helm-chart/charts/octopipe-charlescd/Chart.yaml
  install/helm-chart/charts/octopipe-charlescd/values.yaml
  install/helm-chart/single-file.yaml
  install/helm-chart/templates/charlescd-butler-deployment.yaml
  install/helm-chart/templates/charlescd-circle-matcher-deployment.yaml
  install/helm-chart/templates/charlescd-moove-deployment.yaml
  install/helm-chart/values.yaml
Labels: enhancement, installer

#208 Improve environment process
  ui/.env
  ui/.gitignore
  ui/env-writer.js
Labels: bug, ui

#211 Update environment vars process
  ui/.gitignore
  ui/package.json
  ui/src/setupProxy.js
Labels: bug, enhancement, ui
