Repository ZupIT/charlescd, pull requests merged in 2020-11, with the labels that each got.

#649 Ends_with, matchers and contains conditions
  circle-matcher/pom.xml
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Condition.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/Constants.java
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/ConditionTest.groovy
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/request/CreateCircleRequest.kt
  ui/src/modules/Circles/Segments/conditional.options.tsx
Labels: circle-matcher, moove, ui

#657 create typeorm cli config file
  butler/ormconfig.js
Labels: butler

#656 fix responsive layout
  ui/src/modules/Groups/Tabs/Modal/styled.ts
Labels: TESTED, ui

#636 Update React Hook Form
  ui/package.json
  ui/src/core/components/Form/AceEditor/index.tsx
  ui/src/core/components/Form/Select/Async/index.tsx
  ui/src/core/components/Form/Select/MultiCheck/Select.tsx
  ui/src/core/components/Form/Select/MultiCheck/index.tsx
  ui/src/core/components/Form/Select/Single/index.tsx
  ui/src/core/components/Form/Select/interfaces.ts
  ui/src/core/interfaces/InputEvents.ts
  ui/src/modules/Account/ChangePassword.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetric.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetricsGroup.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddMetrics.spec.tsx
  ui/src/modules/Circles/Matcher/index.tsx
  ui/src/modules/Circles/Release/Create/Module.tsx
  ui/src/modules/Circles/Release/Create/helpers.ts
  ui/src/modules/Circles/Release/Create/index.tsx
  ui/src/modules/Circles/Segments/__tests__/Rule.spec.tsx
  ui/src/modules/Circles/Segments/conditional.options.ts
  ui/src/modules/Circles/Segments/index.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/unit-test/form-context.mock.tsx
  ui/yarn.lock
Labels: TESTED, ui

#643 fix workspace search bug
  ui/src/core/components/Form/SearchInput/index.tsx
  ui/src/modules/Workspaces/Menu/MenuItem.tsx
  ui/src/modules/Workspaces/Menu/__tests__/MenuItem.spec.tsx
  ui/src/modules/Workspaces/Menu/__tests__/fixtures.ts
  ui/src/modules/Workspaces/Menu/index.tsx
  ui/src/modules/Workspaces/__tests__/Workspace.spec.tsx
  ui/src/modules/Workspaces/index.tsx
Labels: TESTED, bug, ui

#630 Git not required hypothesis board
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/GitConfigurationExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/GitConfigurationMapper.kt
Labels: TESTED, backend, moove, severity/minor

#612 Fix wrong failed build status
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/DockerRegistryHttpApiV2Client.java
  villager/src/main/java/io/charlescd/villager/interactor/build/impl/UpdateBuildInfoInteractorImpl.java
Labels: TESTED, bug, villager

#615 Changing Octopipe name to CharlesCD at CD Configuration
  ui/src/core/assets/svg/charlescd.svg
  ui/src/core/assets/svg/docker.svg
  ui/src/core/assets/svg/gcp.svg
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/constants.ts
Labels: ui

#648 Bugfix: Service adjusted to accept merging with "master" and "main"
  moove/commons/src/main/kotlin/io/charlescd/moove/commons/integration/git/service/GitHubServiceLegacy.kt
  moove/commons/src/test/kotlin/io/charlescd/moove/commons/GitHubServiceLegacyTest.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitHubService.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/GitHubServiceTest.groovy
Labels: TESTED, backend, bug, moove, severity/moderate

#664 Fix warning on test
  ui/src/__tests__/Routes.spec.tsx
  ui/src/core/components/Form/Select/__tests__/AsyncSelect.spec.tsx
  ui/src/core/components/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/__tests__/Layer.Metrics.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddAction.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/MetricsGroups.spec.tsx
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
  ui/src/modules/Circles/List/HealthVariation/Card/__tests__/Card.spec.tsx
  ui/src/modules/Circles/List/HealthVariation/__tests__/HealthVariation.spec.tsx
  ui/src/modules/Circles/List/__tests__/List.spec.tsx
  ui/src/modules/Circles/Release/Create/__tests__/CreateRelease.spec.tsx
  ui/src/modules/Circles/Release/__tests__/Release.spec.tsx
  ui/src/modules/Groups/Tabs/Form/__tests__/Form.spec.tsx
  ui/src/modules/Groups/Tabs/Modal/__tests__/Modal.spec.tsx
  ui/src/modules/Hypotheses/Board/__tests__/Board.spec.tsx
  ui/src/modules/Hypotheses/__tests__/Hypoyheses.spec.tsx
  ui/src/modules/Main/Sidebar/MenuItems/__tests__/MenuItems.spec.tsx
  ui/src/modules/Main/Sidebar/__tests__/Sidebar.spec.tsx
  ui/src/modules/Main/__tests__/Main.spec.tsx
  ui/src/modules/Metrics/Circles/History/__tests__/CircleReleasesTable.spec.tsx
  ui/src/modules/Metrics/Circles/History/__tests__/CircleRow.spec.tsx
  ui/src/modules/Metrics/Circles/History/__tests__/Summary.spec.tsx
  ui/src/modules/Metrics/Circles/History/__tests__/SummaryRelease.spec.tsx
  ui/src/modules/Metrics/Deploys/Release/__tests__/ReleaseComonentTable.spec.tsx
  ui/src/modules/Metrics/Deploys/Release/__tests__/ReleaseHistory.spec.tsx
  ui/src/modules/Metrics/Deploys/Release/__tests__/ReleaseRow.spec.tsx
  ui/src/modules/Metrics/Deploys/__tests__/ChartMenu.spec.tsx
  ui/src/modules/Metrics/Deploys/__tests__/Deploys.spec.tsx
  ui/src/modules/Metrics/__tests__/Metrics.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Component.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/ComponentForm.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Components.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/__tests__/Modules.spec.tsx
  ui/src/modules/Settings/Credentials/Section/__tests__/Section.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/MetricActions.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/hooks.spec.ts
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/ConnectionStatus.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/MetricsProvider.spec.tsx
  ui/src/modules/Settings/Credentials/__tests__/Credentials.spec.tsx
  ui/src/modules/Settings/Credentials/__tests__/FormRegistry.spec.tsx
  ui/src/modules/Settings/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Users/Comparation/Item/Modals/ResetPassword/__tests__/ModalResetPassword.spec.tsx
  ui/src/modules/Users/Comparation/__tests__/UsersComparation.spec.tsx
  ui/src/modules/Users/Create/__tests__/CreateUser.spec.tsx
  ui/src/modules/Users/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Users/__tests__/hooks.spec.tsx
Labels: ui

#614 Fixing Docker Hub Bearer Authentication and Deploy
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/DockerRegistryHttpApiV2Client.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/RegistryClient.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/authentication/DockerBasicAuthResponse.java
  villager/src/main/java/io/charlescd/villager/infrastructure/persistence/DockerRegistryConfigurationEntity.java
  villager/src/test/java/io/charlescd/villager/test/DockerBearerAuthenticatorTest.java
  villager/src/test/java/io/charlescd/villager/test/SaveDockerRegistryConfigurationInteractorTest.java
Labels: TESTED, bug, severity/critical, villager

#634 V2 migration script
  butler/.eslintignore
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/.eslintrc
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/Dockerfile
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/README.md
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/migration.js
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/package-lock.json
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/package.json
Labels: butler

#683 Fix butler destination rules generation
  butler/src/app/v2/core/integrations/utils/deployment.utils.ts
  butler/src/app/v2/core/integrations/utils/istio-deployment-manifests.utils.ts
  butler/src/app/v2/core/integrations/utils/istio-undeployment-manifests.utils.ts
  butler/src/tests/v1/connectors/spinnaker/fixtures/expected-base-virtual-service-formatted-subsets.ts
  butler/src/tests/v1/connectors/spinnaker/fixtures/expected-istio-pipeline-formatted-subsets.ts
  butler/src/tests/v1/connectors/spinnaker/format-dns-label.spec.ts
  butler/src/tests/v1/unit/conectors/spinnaker/base-virtual-service.spec.ts
  butler/src/tests/v1/unit/conectors/spinnaker/create-total-pipeline.spec.ts
  butler/src/tests/v2/unit/octopipe/fixtures/deployment/one-component-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/octopipe/fixtures/deployment/one-component-hostname-gateway.ts
  butler/src/tests/v2/unit/octopipe/fixtures/deployment/one-component-virtualservice.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-hostname-gateway.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-hostname-gateway.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-virtualservice.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-hostname-gateway.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/no-repeated-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/no-repeated-default-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-default-circle-dr.ts
  butler/src/tests/v2/unit/utils/istio-deployment.spec.ts
  butler/src/tests/v2/unit/utils/istio-undeployment.spec.ts
Labels: TESTED, butler

#685 Circle matcher spring update and swagger add
  circle-matcher/pom.xml
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/configuration/SwaggerConfig.java
Labels: circle-matcher

#694 add input error
  ui/src/core/components/Form/Input/__tests__/Input.spec.tsx
  ui/src/core/components/Form/Input/index.tsx
  ui/src/core/components/Form/Input/styled.ts
Labels: ui

#652 Improve error messages moove
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/FeignErrorDecoderConfiguration.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/configuration/FeignErrorDecoderConfigurationTest.groovy
Labels: TESTED, moove

#697 Fix default deployment merge strategy
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/tests/v1/connectors/spinnaker/format-dns-label.spec.ts
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment-cleanup.handler.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment.handler.integration-spec.ts
  butler/src/tests/v2/integration/pipes/simultaneous-deployment-validation.integration-spec.ts
  butler/src/tests/v2/integration/pipes/undeployment-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/use-cases/create-deployment-usecase.integration-spec.ts
Labels: butler

#698 Refactoring user creation request to do not accept empty password
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/CreateUserInteractorImpl.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: bug, moove

#703 Remove "Override release" from all circles instead Default
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: TESTED, ui

#665 Remove photo url
  ui/src/core/components/Avatar/__tests__/Avatar.spec.tsx
  ui/src/core/components/Avatar/index.tsx
  ui/src/core/components/AvatarName/__tests__/AvatarName.spec.tsx
  ui/src/core/components/AvatarName/index.tsx
  ui/src/core/components/Card/Board/index.tsx
  ui/src/core/mocks/data.json
  ui/src/modules/Account/__tests__/Account.spec.tsx
  ui/src/modules/Account/index.tsx
  ui/src/modules/Circles/interfaces/Circle.ts
  ui/src/modules/Groups/Tabs/Form/__tests__/fixtures.ts
  ui/src/modules/Groups/Tabs/Form/index.tsx
  ui/src/modules/Groups/Tabs/Modal/__tests__/fixtures.ts
  ui/src/modules/Groups/Tabs/Modal/index.tsx
  ui/src/modules/Groups/interfaces/UserGroups.ts
  ui/src/modules/Groups/interfaces/UserGroupsPagination.ts
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Members/Modal/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Members/index.tsx
  ui/src/modules/Hypotheses/interfaces.ts
  ui/src/modules/Modules/Comparation/Form/__tests__/Component.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Modules/interfaces/Module.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/interfaces.ts
  ui/src/modules/Settings/Workspaces/interfaces/WorkspacePagination.ts
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/Create/Form.tsx
  ui/src/modules/Users/Create/__tests__/CreateUser.spec.tsx
  ui/src/modules/Users/Create/styled.ts
  ui/src/modules/Users/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Users/interfaces/User.ts
  ui/src/modules/Users/interfaces/UserPagination.ts
  ui/src/modules/Workspaces/interfaces/WorkspacePagination.ts
  ui/stub/circles/mock.js
  ui/stub/modules/mock.js
  ui/stub/user-groups/mock.js
  ui/stub/users/mock.js
  ui/stub/workspaces/mock.js
Labels: TESTED, ui

#708 New metric documentation link
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
Labels: ui

#710 Add some data test Id
  ui/src/core/components/Badge/__tests__/Badge.spec.tsx
  ui/src/core/components/Badge/index.tsx
  ui/src/core/components/Card/Release/index.tsx
  ui/src/core/components/Menu/index.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Components.tsx
  ui/src/modules/Circles/Matcher/ResultList.tsx
Labels: ui

#716 Readme on compass
  compass/README.md
Labels: compass, documentation

#718 Adding running options to README
  circle-matcher/README.md
Labels: circle-matcher
