Repository ZupIT/charlescd, pull requests merged in 2020-09, with the labels that each got.

#450 Add page indication on paginated response
  butler/src/app/v2/api/deployments/dto/execution/paginated-execution-query.dto.ts
  butler/src/app/v2/api/deployments/dto/execution/paginated-executions.dto.ts
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/api/deployments/use-cases/paginated-executions.usecase.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
Labels: butler

#451 Fix ingress options v2
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/dto/create-component-request.dto.ts
  butler/src/app/v2/api/deployments/dto/read-component-deployment.dto.ts
  butler/src/app/v2/api/deployments/entity/component.entity.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/interfaces/component.interface.ts
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
Labels: butler

#393 add label circleId
  butler/src/app/v1/api/components/entity/component.entity.ts
  butler/src/app/v1/api/components/interfaces/pipeline-version.interface.ts
  butler/src/app/v1/core/integrations/cd/octopipe/octopipe.service.ts
  butler/src/app/v1/core/integrations/cd/spinnaker/connector/pipelines/create-total-pipeline.ts
  butler/src/app/v1/core/integrations/cd/spinnaker/connector/utils/base-stage-helm.ts
  butler/src/app/v1/core/integrations/octopipe/interfaces/octopipe-payload.interface.ts
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-undeployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/receive-undeployment-callback-usecase.integration-spec.ts
  butler/src/tests/unit/conectors/spinnaker/base-stage-helm.spec.ts
  butler/src/tests/unit/conectors/spinnaker/create-total-pipeline.spec.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-base-helm-previous-stages.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-base-stage-helm.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-istio-pipeline.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-total-pipeline.ts
  butler/src/tests/unit/conectors/spinnaker/manifests/base-delete-deployment.spec.ts
  butler/src/tests/unit/entity/component-entity.spec.ts
  butler/src/tests/unit/services/octopipe-service.spec.ts
  octopipe/pkg/pipeline/pipeline.go
Labels: TESTED, butler, moove, octopipe

#407 remove module controller
  butler/src/app/v1/api/modules/controller/index.ts
  butler/src/app/v1/api/modules/controller/modules.controller.ts
  butler/src/app/v1/api/modules/modules.module.ts
  butler/src/app/v1/api/modules/services/index.ts
  butler/src/app/v1/api/modules/services/modules.service.ts
Labels: butler

#453 Index pagination by 0, validate query string params
  butler/src/app/v2/api/deployments/dto/execution/paginated-execution-query.dto.ts
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/api/deployments/use-cases/paginated-executions.usecase.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
Labels: butler

#454 Add component name v2
  butler/src/app/v1/api/deployments/dto/create-deployment/create-component-deployment.dto.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/virtual-service-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-empty-virtual-services-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-virtual-services-stage.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-hostname-gateway.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-hostname-gateway.ts
Labels: butler

#456 Fix spinnaker tests, return hostValue and gatewayName on executions index
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment-cleanup.handler.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment.handler.integration-spec.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-deployment.spec.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-undeployment.spec.ts
Labels: butler

#459 validate componentName + imageTag cannot be greater than 63
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/validations/composite-field-size.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: butler

#460 Butler stabilization version concat validation
  butler/src/app/v2/api/deployments/validations/composite-field-size.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: butler

#462 Refinement UI
  .github/workflows/ui-devrelease.yml
  ui/env-writer.js
  ui/nginx.conf
  ui/src/core/providers/auth.ts
  ui/src/core/providers/base/index.ts
  ui/src/core/utils/__tests__/auth.spec.ts
  ui/src/core/utils/auth.ts
  ui/src/core/utils/profile.ts
  ui/src/core/utils/workspace.ts
Labels: ui

#423 Segmentation view - Hide logical operator and vertical line
  ui/src/modules/Circles/Segments/Clause.tsx
  ui/src/modules/Circles/Segments/__tests__/Rule.spec.tsx
  ui/src/modules/Circles/Segments/__tests__/Segments.spec.tsx
  ui/src/modules/Circles/Segments/index.tsx
  ui/src/modules/Circles/Segments/styled.ts
  ui/src/modules/Main/Sidebar/__tests__/Sidebar.spec.tsx
Labels: TESTED, ui

#438 Circle segments validation on PATCH
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/request/PatchCircleRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/PatchCircleInteractorImplTest.groovy
Labels: TESTED, moove

#428 Adding filter to UserGroup findAll
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2UserGroupController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/UserGroupService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/usergroup/FindAllUserGroupsInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/usergroup/impl/FindAllUserGroupsInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/usergroup/impl/FindAllUserGroupsInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/UserGroupRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserGroupRepository.kt
Labels: moove

#470 Update link to documentation
  ui/src/modules/Main/Sidebar/index.tsx
Labels: ui

#472 fix one deployment issues
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/utils/common-template.utils.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-hostname-gateway.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-same-tag-diff-circles-rollback.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-same-tag-diff-circles-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-same-tag-same-circle.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-virtualservice.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-with-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-hostname-gateway.ts
Labels: butler

#474 fix hardcoded sandbox namespace
  butler/src/app/v2/core/integrations/spinnaker/pipeline-builder.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/bake-stage.ts
  butler/src/main.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/one-component-custom-namespace.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-deployment.spec.ts
Labels: butler

#476 Change on click expand for a redirect to that circle
  ui/src/modules/Metrics/Circles/History/CircleRow.tsx
  ui/src/modules/Metrics/Circles/History/__tests__/CircleRow.spec.tsx
Labels: TESTED, ui

#483 Transaction on create deployment use-case
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
Labels: butler

#486 Notification transaction
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/use-cases/receive-notification.usecase.ts
Labels: butler

#414 Fixing workspace permissions.
  ui/src/containers/Can/__tests__/Can.spec.tsx
  ui/src/containers/Can/index.tsx
  ui/src/containers/PrivateRoute/__tests__/PrivateRoute.spec.tsx
  ui/src/containers/PrivateRoute/helpers.ts
  ui/src/containers/PrivateRoute/index.tsx
  ui/src/core/state/index.ts
  ui/src/core/state/interfaces/Reducer.ts
  ui/src/core/utils/auth.ts
  ui/src/modules/Circles/Comparation/Item/Layer/Metrics.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/__tests__/Layer.Metrics.spec.tsx
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Circles/List/index.tsx
  ui/src/modules/Circles/Menu/index.tsx
  ui/src/modules/Main/Sidebar/MenuItems/index.tsx
  ui/src/modules/Main/index.tsx
  ui/src/modules/Modules/Comparation/Form/Component.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Component.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Modules/Comparation/Tab.tsx
  ui/src/modules/Modules/Comparation/View/index.tsx
  ui/src/modules/Modules/Comparation/__tests__/Modules.spec.tsx
  ui/src/modules/Modules/Menu/MenuItem.tsx
  ui/src/modules/Modules/Menu/index.tsx
  ui/src/modules/Modules/index.tsx
  ui/src/modules/Settings/Credentials/__tests__/Credentials.spec.tsx
  ui/src/modules/Settings/Credentials/index.tsx
  ui/src/modules/Settings/hooks.ts
  ui/src/modules/Settings/index.tsx
  ui/src/modules/Settings/state/actions.ts
  ui/src/modules/Settings/state/reducer.ts
  ui/src/modules/Workspaces/Menu/MenuItem.tsx
  ui/src/modules/Workspaces/Menu/__tests__/MenuWorkspace.spec.tsx
  ui/src/modules/Workspaces/__tests__/Workspace.spec.tsx
  ui/src/modules/Workspaces/interfaces/WorkspaceState.ts
  ui/src/modules/Workspaces/state/actions.ts
  ui/src/modules/Workspaces/state/reducer.ts
Labels: TESTED, ui

#491 lock Casl version
  ui/package.json
Labels: ui

#502 Update application-k8s.properties
  moove/web/src/main/resources/application-k8s.properties
Labels: moove

#442 Fix multiple registry auth bug
  villager/src/main/java/io/charlescd/villager/api/resources/registry/DockerRegistryResource.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/DockerRegistryHttpApiV2Client.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/RegistryClient.java
  villager/src/main/java/io/charlescd/villager/interactor/build/impl/UpdateBuildInfoInteractorImpl.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/GetDockerRegistryTagInteractor.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/impl/GetDockerRegistryTagInteractorImpl.java
Labels: bug, villager

#509 Change Octopipe to not update deployed resources
  octopipe/pkg/deployment/deployment.go
Labels: octopipe

#511 Fix import csv bug
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/CircleMatcherClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/CircleMatcherClient.kt
Labels: moove

#503 fix users load workspace
  ui/src/containers/PrivateRoute/index.tsx
Labels: bug, ui

#512 fix-villager-swagger-path
  villager/README.md
Labels: villager

#487 Remove proxy
  ui/.env
  ui/src/core/providers/base/index.ts
  ui/src/setupProxy.js
Labels: enhancement, ui

#497 Using database permissions on moove filter
  moove/application/src/main/kotlin/io/charlescd/moove/application/UserGroupService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/WorkspaceService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/CreateUserInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/usergroup/impl/AddMemberToUserGroupInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/usergroup/impl/RemoveMemberFromUserGroupInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/AssociateUserGroupToWorkspaceInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/DisassociateUserGroupFromWorkspaceInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/CreateUserInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/usergroup/impl/AddMemberToUserGroupInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/usergroup/impl/RemoveMemberFromUserGroupInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/AssociateUserGroupToWorkspaceInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/DisassociateUserGroupFromWorkspaceInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/UserGroupRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/WorkspaceRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/KeycloakService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserGroupRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/UserPermissionsExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/WorkspacePermissionsExtractor.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/CharlesAccessToken.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/WorkspacePermissionsMapping.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilter.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/service/KeycloakClientService.kt
  moove/security/src/test/groovy/io/charlescd/moove/security/filter/CharlesSecurityFilterTest.groovy
  moove/security/src/test/groovy/io/charlescd/moove/security/service/KeycloakClientServiceTest.groovy
Labels: moove

#506 Feature change login process
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2UserController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/CreateUserInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/CreateUserInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/request/CreateUserRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/CreateUserInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/exceptions/ForbiddenException.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyGroovyUnitTest.groovy
  moove/web/src/main/resources/application-k8s.properties
  moove/web/src/main/resources/application-local.properties
  moove/web/src/main/resources/application.properties
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
  moove/web/src/main/resources/security-constraints.yml
Labels: moove

#522 Revert "Support to Google Cloud Registry"
  .github/.codecov.yml
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/RegistryConfiguration.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/VillagerClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/request/CreateVillagerRegistryConfigurationRequest.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/VillagerClientServiceTest.groovy
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/request/CreateVillagerRegistryConfigurationRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/configuration/CreateRegistryConfigurationRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationService.kt
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationServiceUnitTest.kt
  ui/src/core/assets/svg/gcp.svg
  ui/src/core/components/AceEditor/__tests__/AceEditor.spec.tsx
  ui/src/core/components/AceEditor/index.tsx
  ui/src/core/components/Form/AceEditor/__tests__/AceEditor.spec.tsx
  ui/src/core/components/Form/AceEditor/index.tsx
  ui/src/core/utils/validations.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/constants.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/interfaces.ts
  ui/src/modules/Settings/Credentials/__tests__/FormRegistry.spec.tsx
  villager/src/main/java/io/charlescd/villager/api/handlers/impl/CreateDockerRegistryRequestHandler.java
  villager/src/main/java/io/charlescd/villager/api/handlers/impl/GetDockerRegistryTagHandler.java
  villager/src/main/java/io/charlescd/villager/api/resources/registry/AzureCreateDockerRegistryRequest.java
  villager/src/main/java/io/charlescd/villager/api/resources/registry/CreateDockerRegistryConfigurationRequest.java
  villager/src/main/java/io/charlescd/villager/api/resources/registry/GCPCreateDockerRegistryRequest.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/DockerRegistryHttpApiV2Client.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/RegistryClient.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/RegistryType.java
  villager/src/main/java/io/charlescd/villager/infrastructure/persistence/DockerRegistryConfigurationEntity.java
  villager/src/main/java/io/charlescd/villager/infrastructure/persistence/DockerRegistryConfigurationRepository.java
  villager/src/main/java/io/charlescd/villager/interactor/build/impl/UpdateBuildInfoInteractorImpl.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/GCPDockerRegistryAuth.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/impl/GetDockerRegistryTagInteractorImpl.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/impl/SaveDockerRegistryConfigurationInteractorImpl.java
  villager/src/test/java/io/charlescd/villager/test/CreateDockerRegistryRequestHandlerTest.java
  villager/src/test/java/io/charlescd/villager/test/GetDockerRegistryTagInteractorTest.java
  villager/src/test/java/io/charlescd/villager/test/ListDockerRegistryRequestHandlerTest.java
  villager/src/test/java/io/charlescd/villager/test/SaveDockerRegistryConfigurationInteractorTest.java
  villager/src/test/java/io/charlescd/villager/test/UpdateBuildInfoInteractorTest.java
Labels: moove, ui, villager

#516 Issue workspace switch
  ui/src/modules/Main/Sidebar/index.tsx
Labels: TESTED, bug, ui

#455 Upgrade Quarkus 1.2.1 to 1.7.1 and fix Test for new version of Quarkus
  villager/pom.xml
  villager/src/test/java/io/charlescd/villager/test/MockBasePanacheQuery.java
Labels: villager

#525 Fix cd configuration eks form names
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/Form.tsx
Labels: ui

#530 Revert "[DevCraft] IDM and microfrontend feature"
  .github/workflows/ui-devrelease.yml
  ui/.env
  ui/.gitignore
  ui/Dockerfile
  ui/config-overrides.js
  ui/env-writer.js
  ui/package.json
  ui/src/App.tsx
  ui/src/Routes.tsx
  ui/src/__tests__/App.spec.tsx
  ui/src/__tests__/Routes.spec.tsx
  ui/src/containers/PrivateRoute/__tests__/PrivateRoute.spec.tsx
  ui/src/core/components/Avatar/__tests__/Avatar.spec.tsx
  ui/src/core/components/Avatar/index.tsx
  ui/src/core/components/Page/styled.ts
  ui/src/core/enums/HttpStatus.ts
  ui/src/core/providers/auth.ts
  ui/src/core/providers/base/hooks.ts
  ui/src/core/providers/base/index.ts
  ui/src/core/utils/__tests__/abilities.spec.ts
  ui/src/core/utils/__tests__/routes.spec.ts
  ui/src/core/utils/auth.ts
  ui/src/core/utils/domain.ts
  ui/src/core/utils/microfrontend.ts
  ui/src/core/utils/profile.ts
  ui/src/core/utils/routes.ts
  ui/src/microfrontend.tsx
  ui/src/modules/Account/__tests__/Account.spec.tsx
  ui/src/modules/Account/index.tsx
  ui/src/modules/Auth/Login/__tests__/hook.spec.tsx
  ui/src/modules/Auth/Login/hook.ts
  ui/src/modules/Auth/__tests__/Auth.spec.tsx
  ui/src/modules/Auth/hooks.ts
  ui/src/modules/Auth/index.tsx
  ui/src/modules/Main/Sidebar/MenuItems/index.tsx
  ui/src/modules/Main/Sidebar/index.tsx
  ui/src/modules/Main/__tests__/Main.spec.tsx
  ui/src/modules/Main/styled.ts
  ui/src/modules/Settings/hooks.ts
  ui/src/modules/Users/Comparation/Item/Modals/ResetPassword/__tests__/ModalResetPassword.spec.tsx
  ui/src/modules/Users/Comparation/Item/__tests__/Item.spec.tsx
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/Create/Form.tsx
  ui/src/modules/Users/hooks.ts
  ui/src/modules/Users/interfaces/User.ts
  ui/src/modules/Workspaces/Menu/index.tsx
  ui/src/modules/Workspaces/index.tsx
  ui/yarn.lock
Labels: ui

#536 Fix Create Workspace
  ui/src/modules/Workspaces/Menu/index.tsx
Labels: bug, ui

#540 Issues
  ui/src/Routes.tsx
  ui/src/modules/Main/Sidebar/index.tsx
Labels: bug, ui

#519 Fixing filter when adding user groups at workspace
  ui/package.json
  ui/src/core/components/Form/Select/Async/Select.tsx
  ui/src/core/components/Form/Select/Async/index.tsx
  ui/src/core/components/Form/Select/__tests__/AsyncSelect.spec.tsx
  ui/src/core/components/Form/Select/index.tsx
  ui/src/core/components/Form/Select/interfaces.ts
  ui/src/core/providers/base/hooks.ts
  ui/src/core/providers/userGroup.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/FormUserGroup.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/styled.ts
  ui/yarn.lock
Labels: bug, ui
