Repository ZupIT/charlescd, pull requests merged in 2020-05, with the labels that each got.

#34 [HEADER LIB SPRING] Renaming all references to Charles
  tracing/spring/README.md
  tracing/spring/pom.xml
  tracing/spring/src/main/java/io/charlescd/utils/tracing/configuration/CharlesTracingAutoConfiguration.java
  tracing/spring/src/main/java/io/charlescd/utils/tracing/decorator/CharlesJaegerSpanDecorator.java
  tracing/spring/src/main/resources/META-INF/spring.factories
Labels: tracing

#37 Workspace
  villager/pom.xml
  villager/src/main/java/br/com/zup/charlescd/villager/api/handlers/impl/CreateDockerRegistryRequestHandler.java
  villager/src/main/java/br/com/zup/charlescd/villager/api/handlers/impl/ListDockerRegistryRequestHandler.java
  villager/src/main/java/br/com/zup/charlescd/villager/api/handlers/impl/ListDockerRegistryTagsRequestHandler.java
  villager/src/main/java/br/com/zup/charlescd/villager/api/misc/WorkspaceIdValidationFilter.java
  villager/src/main/java/br/com/zup/charlescd/villager/api/resources/registry/DockerRegistryResource.java
  villager/src/main/java/br/com/zup/charlescd/villager/infrastructure/persistence/DockerRegistryConfigurationEntity.java
  villager/src/main/java/br/com/zup/charlescd/villager/infrastructure/persistence/DockerRegistryConfigurationRepository.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/DeleteDockerRegistryConfigurationInteractor.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/DockerRegistryConfigurationInput.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/ListDockerRegistryInput.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/ListDockerRegistryTagsInput.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/SaveDockerRegistryConfigurationInteractor.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/impl/DeleteDockerRegistryConfigurationInteractorImpl.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/impl/ListDockerRegistryInteractorImpl.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/impl/ListDockerRegistryTagsInteractorImpl.java
  villager/src/main/java/br/com/zup/charlescd/villager/interactor/registry/impl/SaveDockerRegistryConfigurationInteractorImpl.java
  villager/src/main/java/br/com/zup/charlescd/villager/util/Constants.java
  villager/src/main/resources/db/migration/V202004220000__alter_table_docker_registry_configuration_rename_column_application_id.sql
  villager/src/test/java/br/com/zup/charlescd/villager/interactor/registry/impl/DeleteDockerRegistryConfigurationInteractorImplTest.java
  villager/src/test/java/br/com/zup/charlescd/villager/test/ListDockerRegistryInteractorTest.java
  villager/src/test/java/br/com/zup/charlescd/villager/test/ListDockerRegistryTagsInteractorTest.java
  villager/src/test/java/br/com/zup/charlescd/villager/test/SaveDockerRegistryConfigurationInteractorTest.java
Labels: villager

#39 Adding postman collection.
  villager/data/postman/CharlesCD_Villager.postman_collection.json
  villager/data/postman/Villager_[LOCAL].postman_environment.json
Labels: villager

#40 Circle matcher checkstyle
  circle-matcher/checkstyle.xml
  circle-matcher/pom.xml
  circle-matcher/sonar-project.properties
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/request/IdentificationRequest.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/request/SegmentationRequest.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/request/UpdateSegmentationRequest.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/resource/IdentificationResource.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/resource/SegmentationResource.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/response/IdentificationResponse.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Circle.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Condition.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Content.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Node.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/IdentificationService.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/ScriptManagerService.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/IdentificationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/ScriptManagerServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/SegmentationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/handler/ErrorHandler.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/ResourceUtils.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/SegmentationKeyUtils.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/repository/KeyMetadataRepository.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/repository/RedisRepository.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/repository/SegmentationRepository.java
  circle-matcher/src/main/resources/application-local.properties
  circle-matcher/src/main/resources/application-redis-cluster.properties
  circle-matcher/src/main/resources/application-redis-sentinel.properties
  circle-matcher/src/main/resources/application-redis-standalone.properties
  circle-matcher/src/main/resources/application.properties
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/SegmentationKeyUtilsTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/utils/TestUtils.groovy
Labels: circle-matcher

#45 Updating information at Circle Matcher README.
  circle-matcher/README.md
Labels: circle-matcher

#42 Removing mvnw scripts
  villager/mvnw
  villager/mvnw.cmd
Labels: villager
