Repository ZupIT/charlescd, pull requests merged in 2020-10, with the labels that each got.

#492 Filter within the metrics group
  ui/src/core/assets/svg/no-view.svg
  ui/src/core/assets/svg/view.svg
  ui/src/core/assets/themes/checkbox.ts
  ui/src/core/components/Form/Select/MultiCheck/index.tsx
  ui/src/core/components/Form/Select/__tests__/FormSelect.spec.tsx
  ui/src/core/utils/select.ts
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetric.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetricsGroup.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/Metrics.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/MonitoringMetrics.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/__tests__/MonitoringMetrics.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/areaChart.options.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/index.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/styled.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddMetrics.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/MetricsGroups.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/fixtures.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/helpers.spec.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/helpers.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/index.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/styled.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/types.ts
  ui/src/modules/Metrics/Deploys/CircleFilter.tsx
Labels: TESTED, ui

#552 wrong react-select version change required props
  ui/package.json
  ui/yarn.lock
Labels: ui

#565 New summary component
  ui/src/core/assets/themes/index.ts
  ui/src/core/assets/themes/summary.ts
  ui/src/core/components/Summary/Item/index.tsx
  ui/src/core/components/Summary/Item/styled.tsx
  ui/src/core/components/Summary/__tests__/Summary.spec.tsx
  ui/src/core/components/Summary/index.tsx
  ui/src/core/components/Summary/styled.ts
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/Metrics.tsx
Labels: ui

#539 Fixing validation on PATCH at circle segments
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/request/PatchCircleRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/PatchCircleInteractorImplTest.groovy
Labels: TESTED, moove

#563 Create NavTabs component
  ui/src/core/assets/themes/index.ts
  ui/src/core/assets/themes/navTabs.ts
  ui/src/core/components/NavTabs/Tab.tsx
  ui/src/core/components/NavTabs/__tests__/NavTabs.spec.tsx
  ui/src/core/components/NavTabs/index.tsx
  ui/src/core/components/NavTabs/styled.ts
  ui/src/unit-test/testUtils.tsx
Labels: ui

#569 check execution on simultaneous-deployment pipe
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/tests/v2/integration/pipes/simultaneous-deployment-validation.integration-spec.ts
Labels: butler

#504 Format subset names to conform with k8s format
  butler/src/app/v1/core/integrations/cd/spinnaker/connector/utils/helpers/format-dns-label.ts
  butler/src/app/v1/core/integrations/cd/spinnaker/connector/utils/manifests/base-destination-rules.ts
  butler/src/app/v1/core/integrations/cd/spinnaker/connector/utils/manifests/base-virtual-service.ts
  butler/src/tests/unit/conectors/spinnaker/base-virtual-service.spec.ts
  butler/src/tests/unit/conectors/spinnaker/create-total-pipeline.spec.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-base-virtual-service-formatted-subsets.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-istio-pipeline-formatted-subsets.ts
  butler/src/tests/unit/conectors/spinnaker/format-dns-label.spec.ts
Labels: TESTED, butler

#560 Fix label and input text overlapping in login screen
  ui/src/core/components/Form/Input/__tests__/Input.spec.tsx
  ui/src/core/components/Form/Input/styled.ts
Labels: TESTED, bug, ui

#585 Butler v2 explicit update
  butler/src/app/v2/api/deployments/use-cases/receive-notification.usecase.ts
Labels: butler

#588 Fix undeploy race condition
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.usecase.ts
Labels: butler

#590 validate undeployment on non existing deployment
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/pipes/undeployment-validation.pipe.ts
  butler/src/tests/v2/integration/pipes/undeployment-validation.pipe.integration-spec.ts
Labels: butler

#591 Dont use typeorm .save for updating
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.usecase.ts
Labels: butler

#469 Create priority circles
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/request/SegmentationRequest.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/response/IdentificationResponse.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/KeyMetadata.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Segmentation.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/IdentificationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/SegmentationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/RedisClientConfiguration.java
  circle-matcher/src/main/resources/application.properties
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/RedisClientConfigurationTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/repository/KeyMetadataRepositoryTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/repository/SegmentationRepositoryTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/utils/TestUtils.groovy
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/CircleMatcherClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/request/CircleMatcherRequest.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/CircleMatcherClientServiceTest.groovy
Labels: TESTED, circle-matcher, moove

#594 Metric actions
  ui/src/core/assets/themes/circleGroupMetrics.ts
  ui/src/core/components/Form/Select/Async/Select.tsx
  ui/src/core/components/Form/Select/Async/index.tsx
  ui/src/core/components/Form/Select/interfaces.ts
  ui/src/core/components/NavTabs/Placeholder.tsx
  ui/src/core/components/NavTabs/index.tsx
  ui/src/core/components/NavTabs/styled.ts
  ui/src/core/providers/metricsGroups.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddAction.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/Action.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/CardHeader.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/__tests__/Action.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/index.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/styled.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddAction.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/fixtures.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/enums.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/helpers.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/hooks.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/index.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/styled.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/types.ts
  ui/src/modules/Circles/hooks.ts
Labels: ui

#595 Validate buildImageTag
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/validations/image-tag-validation.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: butler

#548 Force redirect to refresh chunk references
  ui/src/modules/Auth/Login/__tests__/Login.spec.tsx
  ui/src/modules/Auth/Login/index.tsx
Labels: TESTED, bug, ui

#596 Fix login error in password with special characters
  ui/src/core/providers/auth.ts
Labels: TESTED, bug, ui

#598 Unmatched x-circle-id header validation
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/validations/component-unique-by-name.ts
  butler/src/app/v2/api/deployments/validations/composite-field-size.ts
  butler/src/app/v2/api/deployments/validations/image-tag-validation.ts
  ui/src/core/providers/base/index.ts
  ui/src/modules/Auth/Login/hook.ts
Labels: butler, ui

#558 K3s docker compose
  butler/src/app/v2/core/integrations/octopipe/request-builder.ts
  octopipe/.gitignore
  octopipe/docker-compose.yaml
  octopipe/manifests/cert-manager-issuers.yaml
  octopipe/manifests/helm.yaml
  octopipe/manifests/istio-init.yaml
  octopipe/manifests/istio.yaml
  octopipe/manifests/openebs.yaml
  octopipe/mock.Dockerfile
  octopipe/mock_resources/Gemfile
  octopipe/mock_resources/Gemfile.lock
  octopipe/mock_resources/charts/quiz-app-backend/Chart.yaml
  octopipe/mock_resources/charts/quiz-app-backend/quiz-app-backend-darwin.tgz
  octopipe/mock_resources/charts/quiz-app-backend/quiz-app-backend.yaml
  octopipe/mock_resources/charts/quiz-app-backend/templates/_helpers.tpl
  octopipe/mock_resources/charts/quiz-app-backend/templates/configmap.yaml
  octopipe/mock_resources/charts/quiz-app-backend/templates/deployment.yaml
  octopipe/mock_resources/charts/quiz-app-backend/templates/service.yaml
  octopipe/mock_resources/charts/quiz-app-frontend/Chart.yaml
  octopipe/mock_resources/charts/quiz-app-frontend/quiz-app-frontend-darwin.tgz
  octopipe/mock_resources/charts/quiz-app-frontend/quiz-app-frontend.yaml
  octopipe/mock_resources/charts/quiz-app-frontend/templates/_helpers.tpl
  octopipe/mock_resources/charts/quiz-app-frontend/templates/configmap.yaml
  octopipe/mock_resources/charts/quiz-app-frontend/templates/deployment.yaml
  octopipe/mock_resources/charts/quiz-app-frontend/templates/service.yaml
  octopipe/mock_resources/github.Dockerfile
  octopipe/mock_resources/server.rb
  octopipe/pkg/manager/v2_commons.go
  octopipe/pkg/manager/v2_deployment.go
  octopipe/run.sh
  octopipe/start.sh
  octopipe/wait-for-it.sh
Labels: butler, octopipe

#606 Protected branches list configuration
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/CardService.kt
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CardServiceUnitTest.kt
  moove/web/src/main/resources/application.properties
Labels: TESTED, bug, moove

#631 Butler v1 endpoints
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/DeployApi.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/request/UndeployRequestV1.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/controller/DeploymentController.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/DeploymentServiceLegacy.kt
Labels: moove

#632 Create styled components declaration file
  ui/src/core/assets/themes/card/release.ts
  ui/src/core/assets/themes/circleGroupMetrics.ts
  ui/src/core/assets/themes/icon.ts
  ui/src/core/assets/themes/metrics.ts
  ui/src/core/assets/themes/modal/wizard.ts
  ui/src/core/assets/themes/notification.ts
  ui/src/core/assets/themes/summary.ts
  ui/src/core/assets/themes/text.ts
  ui/src/core/components/Modal/Trigger/styled.ts
  ui/src/styled.d.ts
Labels: ui

#640 Add Log component into core
  ui/src/core/assets/themes/index.ts
  ui/src/core/assets/themes/log.ts
  ui/src/core/components/Notification/Log/__tests__/Log.spec.tsx
  ui/src/core/components/Notification/Log/index.tsx
  ui/src/core/components/Notification/Log/styled.ts
  ui/src/core/components/Notification/index.tsx
Labels: enhancement, ui
