Repository ZupIT/charlescd, pull requests merged in 2020-07, with the labels that each got.

#215 add querystring to fetch builds
  ui/src/core/providers/builds.ts
  ui/src/modules/Circles/Release/Search/index.tsx
  ui/src/modules/Circles/Release/interfaces/Build.ts
Labels: bug, ui

#219 When changing workspace name, tab name does not update.
  ui/src/modules/Circles/Comparation/Item/Layer/Metrics.tsx
  ui/src/modules/Circles/List/index.tsx
  ui/src/modules/Settings/hooks.ts
Labels: bug, ui

#218 Improve behavior after close
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Modules/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/index.tsx
Labels: bug, ui

#220 Add response after remove a CM
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/hooks.ts
Labels: bug, ui

#226 add callback dependency
  ui/src/modules/Settings/hooks.ts
Labels: bug, ui

#236 Dummy changes for codecov
  .github/boring-cyborg.yml
  butler/README.md
  circle-matcher/README.md
  moove/README.md
  octopipe/README.md
  ui/README.md
  villager/README.md
Labels: butler, circle-matcher, moove, octopipe, ui

#229 highlight opened module
  ui/src/modules/Modules/Menu/MenuItem.tsx
Labels: bug, ui

#228 Fix unused components deployment phase
  butler/src/app/api/deployments/services/pipeline-deployments.service.ts
  butler/src/app/api/deployments/services/pipeline-queues.service.ts
  butler/src/app/api/deployments/use-cases/create-circle-deployment-request.usecase.ts
  butler/src/app/api/deployments/use-cases/create-default-deployment-request.usecase.ts
  butler/src/app/api/deployments/use-cases/create-undeployment-request.usecase.ts
  butler/src/app/core/integrations/cd/octopipe/octopipe.service.ts
  butler/src/app/core/integrations/cd/spinnaker/connector/pipelines/create-total-pipeline.ts
  butler/src/app/core/integrations/cd/spinnaker/spinnaker.service.ts
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-istio-pipeline.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-total-pipeline-without-deploy.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-total-pipeline.ts
  butler/src/tests/unit/services/octopipe-service.spec.ts
Labels: butler

#187 Validation duplicate component
  butler/src/app/api/deployments/controller/deployments.controller.ts
  butler/src/app/api/deployments/pipes/component-deployment-uniqueness.pipe.ts
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
Labels: butler

#188 Octopipe retry callback
  butler/src/app/core/constants/application/configuration.constants.ts
  butler/src/app/core/integrations/cd/octopipe/octopipe.service.ts
  butler/src/app/core/integrations/cd/spinnaker/spinnaker.service.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  octopipe/pkg/mozart/mozart.go
Labels: butler, octopipe

#249 Pass the workspaceId to (circle matcher) the identify request
  ui/src/core/providers/auth.ts
  ui/src/core/providers/base/index.ts
Labels: bug, ui

#260 Update .env with workspace env
  ui/.env
Labels: ui

#261 Temporarily disable codecov on butler
  .github/.codecov.yml
Labels: butler, octopipe

#266 Force coverage
  .github/workflows/butler-ci.yml
  butler/README.md
  circle-matcher/README.md
  moove/README.md
  octopipe/README.md
  ui/README.md
  villager/README.md
Labels: butler, circle-matcher, moove, octopipe, ui, villager

#259 Enhancement: adding gren to generate release notes.
  .github/workflows/gren.yml
  .grenrc.json
  CHANGELOG.md
Labels: enhancement

#223 Fix/configure ssl database connection
  butler/src/app/core/config/configurations.ts
  butler/src/app/core/constants/application/configuration.constants.ts
  butler/src/app/core/integrations/configuration/interfaces/env-configuration.interface.ts
  butler/src/app/core/integrations/databases/databases.service.ts
  butler/src/app/core/integrations/databases/interfaces/postgres-credentials.interface.ts
  butler/src/tests/stubs/configurations/env-configuration.stub.ts
  install/helm-chart/templates/charlescd-butler-deployment.yaml
  install/helm-chart/values.yaml
Labels: TESTED, butler, enhancement

#240 Adding var env for redis ssl and defaulting its value to false
  install/helm-chart/templates/charlescd-circle-matcher-deployment.yaml
  install/helm-chart/values.yaml
  moove/application/src/main/kotlin/io/charlescd/moove/application/module/impl/AddComponentInteractorImpl.kt
Labels: TESTED, circle-matcher, enhancement, moove

#267 Identify is not working
  ui/src/core/utils/circle.ts
  ui/src/modules/Auth/Login/__tests__/hook.spec.tsx
  ui/src/modules/Auth/Login/hook.ts
Labels: TESTED, bug, ui

#268 POC/Discussion: dont use nest dependency injection on simples tests
  butler/src/tests/unit/controllers/deployments-controller.spec.ts
  butler/src/tests/unit/use-cases/component-queue-usecase.spec.ts
Labels: butler

#190 Unify deployment resources
  butler/src/app/api/deployments/controller/deployments.controller.ts
  butler/src/app/api/deployments/dto/create-deployment/create-circle-deployment-request.dto.ts
  butler/src/app/api/deployments/dto/create-deployment/create-default-deployment-request.dto.ts
  butler/src/app/api/deployments/dto/create-deployment/create-deployment-request.dto.ts
  butler/src/app/api/deployments/dto/create-deployment/index.ts
  butler/src/app/api/deployments/dto/index.ts
  butler/src/app/api/deployments/use-cases/create-circle-deployment-request.usecase.ts
  butler/src/app/api/deployments/use-cases/create-default-deployment-request.usecase.ts
  butler/src/app/resources/postman/Darwin_Deploy.postman_collection.json
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/stubs/use-cases/create-circle-deployment-request-usecase.stub.ts
  butler/src/tests/unit/controllers/deployments-controller.spec.ts
  butler/src/tests/unit/use-cases/create-circle-deployment-request-usecase.spec.ts
  butler/src/tests/unit/use-cases/create-default-deployment-request-usecase.spec.ts
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/DeployClient.kt
Labels: TESTED, butler, moove

#239 Change virtual service template
  butler/src/app/core/integrations/cd/spinnaker/connector/interfaces/index.ts
  butler/src/app/core/integrations/cd/spinnaker/connector/utils/manifests/base-virtual-service.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-base-virtual-service.ts
  butler/src/tests/unit/conectors/spinnaker/fixtures/expected-istio-pipeline.ts
  butler/src/tests/unit/services/octopipe-service.spec.ts
Labels: butler

#192 Changing search deployed components query
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcComponentRepository.kt
Labels: moove

#213 change response status when deployment already exists
  butler/package.json
  butler/src/app/api/deployments/pipes/deployment-uniqueness.pipe.ts
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/unit/pipes/deployment-uniqueness.pipe.spec.ts
Labels: TESTED, butler

#280 Creating an API for deployment statistics
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/DeploymentMetrics.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/DeploymentRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/DeploymentAverageTimeStatsExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/DeploymentGeneralStatsExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/DeploymentStatsExtractor.kt
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/api/MetricsController.kt
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/api/PeriodType.kt
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/api/response/DeploymentMetricsRepresentation.kt
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/interactor/RetrieveDeploymentsMetricsInteractor.kt
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/interactor/impl/RetrieveDeploymentsMetricsInteractorImpl.kt
  moove/metrics/src/test/groovy/io/charlescd/moove/metrics/api/MetricsControllerUnitTest.groovy
  moove/metrics/src/test/groovy/io/charlescd/moove/metrics/interactor/impl/RetrieveDeploymentMetricsInteractorImplUnitTest.groovy
Labels: moove

#263 Fixing paged JDBC queries
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcBuildRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcGitConfigurationRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcModuleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserGroupRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
Labels: TESTED, bug, moove, severity/critical

#198 Unify resources undeployment
  butler/src/app/api/deployments/controller/deployments.controller.ts
  butler/src/app/api/deployments/controller/undeployments.controller.ts
  butler/src/app/api/deployments/deployments.module.ts
  butler/src/app/api/deployments/dto/create-undeployment/create-undeployment.dto.ts
  butler/src/app/api/deployments/use-cases/create-undeployment-request.usecase.ts
  butler/src/tests/integration/use-cases/create-undeployment-usecase.integration-spec.ts
  butler/src/tests/stubs/use-cases/create-undeployment-request-usecase.stub.ts
  butler/src/tests/unit/controllers/deployments-controller.spec.ts
  butler/src/tests/unit/controllers/undeployments-controller.spec.ts
  butler/src/tests/unit/use-cases/create-default-deployment-request-usecase.spec.ts
  butler/src/tests/unit/use-cases/create-undeployment-request-usecase.spec.ts
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/DeployClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/DeployClient.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/UndeployRequest.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/DeployClientServiceTest.groovy
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/DeployApi.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/request/UndeployRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/DeploymentServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/DeploymentServiceLegacyGroovyUnitTest.groovy
Labels: TESTED, butler, moove

#241 fixing docker registry component tag search
  .github/workflows/ui-ci.yml
  .github/workflows/ui-devrelease.yml
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2ModuleController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/module/FindComponentTagsInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/module/impl/FindComponentTagsInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/module/impl/FindComponentTagsInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/VillagerService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/VillagerClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/VillagerClient.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/VillagerClientServiceTest.groovy
  ui/package.json
  ui/src/core/assets/svg/ellipse-loading.svg
  ui/src/core/assets/themes/input.ts
  ui/src/core/components/Form/Input/__tests__/Input.spec.tsx
  ui/src/core/components/Form/Input/index.tsx
  ui/src/core/components/Form/Input/styled.ts
  ui/src/core/providers/modules.ts
  ui/src/modules/Circles/Release/Create/Module.tsx
  ui/src/modules/Circles/Release/Create/__tests__/CreateRelease.spec.tsx
  ui/src/modules/Circles/Release/Create/helpers.ts
  ui/src/modules/Circles/Release/Create/index.tsx
  ui/src/modules/Circles/Release/Search/index.tsx
  ui/src/modules/Circles/Release/__tests__/Release.spec.tsx
  ui/src/modules/Circles/Release/hooks.ts
  ui/src/modules/Circles/Release/interfaces/Module.ts
  ui/src/modules/Circles/Release/styled.ts
  ui/yarn.lock
  villager/src/main/java/io/charlescd/villager/api/handlers/impl/GetDockerRegistryTagHandler.java
  villager/src/main/java/io/charlescd/villager/api/resources/registry/DockerRegistryResource.java
  villager/src/main/java/io/charlescd/villager/exceptions/ResourceNotFoundException.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/DockerRegistryHttpApiV2Client.java
  villager/src/main/java/io/charlescd/villager/infrastructure/integration/registry/RegistryClient.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/GetDockerRegistryTagInput.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/GetDockerRegistryTagInteractor.java
  villager/src/main/java/io/charlescd/villager/interactor/registry/impl/GetDockerRegistryTagInteractorImpl.java
  villager/src/test/java/io/charlescd/villager/test/GetDockerRegistryTagHandlerTest.java
  villager/src/test/java/io/charlescd/villager/test/GetDockerRegistryTagInteractorTest.java
  villager/src/test/java/io/charlescd/villager/test/ListDockerRegistryTagsInteractorTest.java
  villager/src/test/java/io/charlescd/villager/test/MockGetDockerRegistryTagInteractor.java
Labels: TESTED, bug, moove, ui, villager

#288 Fix invalid date deploy metrics
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/api/response/DeploymentMetricsRepresentation.kt
  ui/src/modules/Metrics/Deploys/__tests__/helpers.spec.ts
  ui/src/modules/Metrics/Deploys/helpers.ts
Labels: bug, moove, ui

#289 Upload coverage report
  .github/workflows/butler-ci.yml
  butler/package-lock.json
  butler/package.json
Labels: butler

#282 Update doc link
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
  ui/src/modules/Users/Create/Form.tsx
Labels: TESTED, bug, ui

#297 Preventing wrong parse of boolean string on butler
  install/helm-chart/single-file.yaml
  install/helm-chart/templates/charlescd-butler-deployment.yaml
Labels: TESTED

#306 Update icon for Menu Item Hypotheses
  ui/src/modules/Hypotheses/Menu/MenuItem.tsx
Labels: TESTED, bug, ui

#216 Make upsert modules
  butler/src/app/api/deployments/services/modules.service.ts
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-undeployment-usecase.integration-spec.ts
  butler/src/tests/unit/services/modules-service.spec.ts
Labels: TESTED, butler

#250 Improve update deployment status
  butler/src/app/core/services/deployments/status-management-service.ts
  butler/src/tests/integration/fixtures/component_deployments.json
  butler/src/tests/integration/fixtures/components.json
  butler/src/tests/integration/fixtures/deployments.json
  butler/src/tests/integration/fixtures/module_deployments.json
  butler/src/tests/integration/fixtures/modules.json
  butler/src/tests/integration/fixtures/queued_deployments.json
  butler/src/tests/integration/fixtures/queued_istio_deployments.json
  butler/src/tests/integration/use-cases/receive-deployment-callback-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/receive-istio-deployment-callback-usecase.integration-spec.ts
  butler/src/tests/integration/utils/fixture-utils.service.ts
  butler/src/tests/unit/services/status-management-service.spec.ts
Labels: TESTED, butler

#248 Issue logout session
  ui/src/core/components/Card/Board/index.tsx
  ui/src/core/enums/HttpStatus.ts
  ui/src/core/providers/base/index.ts
  ui/src/core/utils/auth.ts
  ui/src/core/utils/path.ts
  ui/src/modules/Settings/hooks.ts
  ui/yarn.lock
Labels: bug, ui

#276 update keycloak realm and moove admin user
  install/helm-chart/charts/keycloak/templates/realm-keycloak.yaml
  moove/infrastructure/src/main/resources/db/changelog/db.changelog-master.yaml
  moove/infrastructure/src/main/resources/db/changelog/includes/20200620103400_update_admin_email.yaml
Labels: TESTED, moove

#286 Limiting release tag name length to 50 characters
  moove/application/src/main/kotlin/io/charlescd/moove/application/build/request/CreateBuildRequest.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/build/request/CreateComposedBuildRequest.kt
  moove/infrastructure/src/main/resources/db/changelog/db.changelog-master.yaml
  moove/infrastructure/src/main/resources/db/changelog/includes/20200713113020_change_tag_name_column_length.yaml
Labels: TESTED, enhancement, moove

#287 Improving Button Rounded Component
  ui/src/core/assets/themes/button/rounded.ts
  ui/src/core/components/Button/Rounded/__tests__/ButtonIconRounded.spec.tsx
  ui/src/core/components/Button/Rounded/index.tsx
  ui/src/core/components/Button/Rounded/styled.ts
  ui/src/modules/Circles/Comparation/Item/Layer/Metrics.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Release.tsx
  ui/src/modules/Circles/Matcher/ResultList.tsx
  ui/src/modules/Error/403/index.tsx
  ui/src/modules/Error/404/index.tsx
  ui/src/modules/Groups/Tabs/Form/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Members/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Modules/index.tsx
  ui/src/modules/Hypotheses/Board/Columns/ReadyToGo/Actions/index.tsx
  ui/src/modules/Hypotheses/Board/Columns/ToDo/index.tsx
  ui/src/modules/Modules/Comparation/View/index.tsx
  ui/src/modules/Settings/Credentials/Section/index.tsx
Labels: TESTED, enhancement, ui

#300 UI improve use fetch
  ui/src/core/providers/base/hooks.ts
  ui/src/modules/Circles/Release/Create/Module.tsx
  ui/src/modules/Circles/Release/hooks.ts
Labels: bug, enhancement, ui

#318 Adding unique constraint to artifact snapshots
  moove/application/src/main/kotlin/io/charlescd/moove/application/build/impl/BuildCallbackInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/BuildCallbackInteractorImplTest.groovy
  moove/infrastructure/src/main/resources/db/changelog/db.changelog-master.yaml
  moove/infrastructure/src/main/resources/db/changelog/includes/20200721113800_add_unique_constraint_to_artifact_snapshots_table.yaml
Labels: TESTED, moove

#285 Correcting circle matcher on credentials layout
  ui/src/core/components/Card/Body/styled.ts
Labels: TESTED, bug, ui

#307 Add access token signature validation
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/KeycloakCustomService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/KeycloakCustomClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/KeycloakCustomClient.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/KeycloakCustomClientServiceTest.groovy
  moove/security/src/main/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilter.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/service/KeycloakClientService.kt
  moove/security/src/test/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilterDisabledTest.kt
  moove/security/src/test/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilterTest.groovy
  moove/security/src/test/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilterTest.kt
  moove/security/src/test/kotlin/io/charlescd/moove/security/filter/SecurityControllerTest.kt
Labels: TESTED, enhancement, moove, security

#324 WIP: Stabilization entities
  butler/package-lock.json
  butler/package.json
  butler/src/app/resources/migrations/20200715113000-create-v2-deployments.ts
  butler/src/app/resources/migrations/20200715114000-create-v2-components.ts
  butler/src/app/v1/api/configurations/entity/cd-configuration.entity.ts
  butler/src/app/v2/deployment.ts
  butler/src/app/v2/entities/component.entity.ts
  butler/src/app/v2/entities/deployment.entity.ts
  butler/src/joi.ts
Labels: butler

#308 Fix Deployment callback update
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/request/DeploymentCallbackRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImplTest.groovy
Labels: TESTED, bug, moove

#328 Fixing moove deployment template and single-file.
  install/helm-chart/single-file.yaml
  install/helm-chart/templates/charlescd-moove-deployment.yaml
Labels: bug, installer

#329 Stabilization v2 modules config
  butler/package-lock.json
  butler/package.json
  butler/src/app/app.module.ts
  butler/src/app/resources/migrations/20200715113000-create-v2-deployments.ts
  butler/src/app/v1/api/configurations/entity/cd-configuration.entity.ts
  butler/src/app/v2/api/api.module.ts
  butler/src/app/v2/api/deployments/controller/deployment.controller.ts
  butler/src/app/v2/api/deployments/deployments.module.ts
  butler/src/app/v2/api/deployments/dto/create-circle-request.dto.ts
  butler/src/app/v2/api/deployments/dto/create-component-request.dto.ts
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/entity/component.entity.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/pipes/cd-configuration-existence-pipe.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-use-case.ts
  butler/src/joi.ts
  butler/src/main.ts
  butler/src/tests/integration/utils/fixture-utils.service.ts
  butler/src/tests/integration/utils/test-setup-utils.ts
  butler/src/tests/integration/v2/deployment.controller.integration-spec.ts
Labels: butler

#336 Updating copyright
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/domain/service/MetricService.kt
  moove/metrics/src/main/kotlin/io/charlescd/moove/metrics/domain/service/impl/MetricServiceImpl.kt
Labels: moove

#316 Remove global state integration test
  .github/workflows/butler-ci.yml
  butler/src/tests/integration/fixtures/cd_configurations.json
  butler/src/tests/integration/fixtures/component_deployments.json
  butler/src/tests/integration/fixtures/component_undeployments.json
  butler/src/tests/integration/fixtures/components.json
  butler/src/tests/integration/fixtures/deployments.json
  butler/src/tests/integration/fixtures/module_deployments.json
  butler/src/tests/integration/fixtures/module_undeployments.json
  butler/src/tests/integration/fixtures/modules.json
  butler/src/tests/integration/fixtures/queued_deployments.json
  butler/src/tests/integration/fixtures/queued_istio_deployments.json
  butler/src/tests/integration/fixtures/queued_undeployments.json
  butler/src/tests/integration/fixtures/undeployments.json
  butler/src/tests/integration/use-cases/create-circle-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-default-deployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/create-undeployment-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/receive-deployment-callback-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/receive-istio-deployment-callback-usecase.integration-spec.ts
  butler/src/tests/integration/use-cases/receive-undeployment-callback-usecase.integration-spec.ts
  butler/src/tests/integration/utils/fixture-utils.service.ts
Labels: butler

#346 Spinnaker connector v2
  butler/.eslintrc
  butler/src/app/v2/api/deployments/entity/component.entity.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/core/integrations/spinnaker/connector.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/cd-configuration.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/component.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/connector-result.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/deployment.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/index.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/spinnaker-pipeline.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/bake-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/delete-unused-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployments-evaluation.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/failure-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/helm-template.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/helm-value.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/index.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/proxy-evaluation.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/rollback-deployments-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/success-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/virtual-service-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/tests/pipeline-object.ts
  butler/src/app/v2/core/integrations/spinnaker/tests/test.spec.ts
Labels: butler

#344 Stabilization v2 implement handler
  butler/src/app/resources/migrations/20200715115000-create-v2-executions.ts
  butler/src/app/v2/api/deployments/controller/notification.controller.ts
  butler/src/app/v2/api/deployments/deployments.module.ts
  butler/src/app/v2/api/deployments/dto/deployment-notification-request.dto.ts
  butler/src/app/v2/api/deployments/entity/deployment.entity.ts
  butler/src/app/v2/api/deployments/entity/execution.entity.ts
  butler/src/app/v2/api/deployments/jobs/pgboss.worker.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-use-case.ts
  butler/src/tests/integration/utils/fixture-utils.service.ts
  butler/src/tests/integration/v2/controllers/callback.controller.integration-spec.ts
  butler/src/tests/integration/v2/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/integration/v2/deployment.handler.integration-spec.ts
  butler/src/tests/integration/v2/handlers/deployment.handler.integration-spec.ts
Labels: butler

#352 Handler test example without testing pgboss
  butler/src/app/v2/api/deployments/jobs/pgboss.worker.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/tests/integration/v2/handlers/deployment.handler.integration-spec.ts
Labels: butler

#356 Update components status on callback, more handler tests
  butler/src/app/v2/api/deployments/entity/execution.entity.ts
  butler/src/app/v2/api/deployments/jobs/pgboss.worker.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-use-case.ts
  butler/src/tests/integration/v2/controllers/callback.controller.integration-spec.ts
  butler/src/tests/integration/v2/handlers/deployment.handler.integration-spec.ts
Labels: butler

#355 Spinnaker v2 tests
  butler/src/app/v2/core/integrations/spinnaker/connector.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/deployment.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/interfaces/spinnaker-pipeline.interface.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/delete-unused-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/failure-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/rollback-deployments-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/success-webhook-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/virtual-service-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/tests/test.spec.ts
  butler/src/tests/v2/unit/spinnaker/connector.spec.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/index.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/no-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/one-component-virtualservice.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/one-component.ts
Labels: butler

#357 Removing intermitent unit test
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentsHistoryInteractorTest.groovy
Labels: moove
