Repository ZupIT/charlescd, pull requests merged in 2020-12, with the labels that each got.

#693 accepted adr
  butler/doc/adr/0001-operator-architecture.md
  butler/doc/adr/0001.png
Labels: butler

#715 Fix multicluster/opensea bugs
  butler/src/app/v2/api/deployments/pipes/simultaneous-deployment-validation.pipe.ts
  butler/src/app/v2/api/deployments/pipes/undeployment-validation.pipe.ts
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/app/v2/api/deployments/use-cases/deployment-handler.usecase.ts
  butler/src/tests/v2/integration/handlers/deployment.handler.integration-spec.ts
  butler/src/tests/v2/integration/pipes/simultaneous-deployment-validation.integration-spec.ts
Labels: TESTED, butler

#733 Implementing gitlab ignore certificate errors.
  moove/commons/src/main/kotlin/io/charlescd/moove/commons/integration/git/factory/GitLabClientFactoryLegacy.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitLabClientFactory.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/GitLabClientFactoryTest.groovy
Labels: moove

#728 Patch user and database error handler
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2UserController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/UserService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/PatchUserInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/PatchUserInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/request/PatchUserRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/PatchUserInteractorImplTest.groovy
  moove/commons/src/main/kotlin/io/charlescd/moove/commons/constants/MooveErrorCodeLegacy.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/UserRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/KeycloakService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcUserRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/GitConfigurationMapper.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/GitHubService.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/controller/UserController.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/controller/UserControllerUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyGroovyUnitTest.groovy
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
  ui/src/core/components/Card/Board/__tests__/Board.spec.tsx
  ui/src/core/components/Card/Board/index.tsx
  ui/src/core/components/Card/__tests__/Card.spec.tsx
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/core/providers/__tests__/users.spec.ts
  ui/src/core/providers/users.ts
  ui/src/modules/Account/__tests__/Account.spec.tsx
  ui/src/modules/Account/index.tsx
  ui/src/modules/Circles/Segments/helpers.ts
  ui/src/modules/Groups/Menu/index.tsx
  ui/src/modules/Groups/Tabs/Modal/__tests__/Modal.spec.tsx
  ui/src/modules/Groups/__tests__/Groups.spec.tsx
  ui/src/modules/Groups/__tests__/hooks.spec.tsx
  ui/src/modules/Groups/hooks.ts
  ui/src/modules/Groups/index.tsx
  ui/src/modules/Main/Footer/__tests__/Footer.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/__tests__/hooks.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/hooks.ts
  ui/src/modules/Users/Comparation/Item/__tests__/Item.spec.tsx
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/Menu/MenuItem.tsx
  ui/src/modules/Users/__tests__/hooks.spec.tsx
  ui/src/modules/Users/hooks.ts
  ui/src/modules/Users/interfaces/User.ts
Labels: TESTED, moove, security, ui

#722 Butler helm strategy
  butler/Dockerfile
  butler/package-lock.json
  butler/package.json
  butler/src/app/v2/api/deployments/deployments.module.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/app/v2/core/integrations/interfaces/k8s-manifest.interface.ts
  butler/src/app/v2/core/integrations/interfaces/repository.interface.ts
  butler/src/app/v2/core/integrations/repository-strategy-factory.ts
  butler/src/app/v2/core/manifests/helm/helm-manifest.ts
  butler/src/app/v2/core/manifests/manifest.interface.ts
  butler/src/app/v2/core/manifests/manifest.ts
  butler/src/resources/helm-test-chart/Chart.yaml
  butler/src/resources/helm-test-chart/helm-test-chart.yaml
  butler/src/resources/helm-test-chart/manifest-default.yaml
  butler/src/resources/helm-test-chart/manifest.yaml
  butler/src/resources/helm-test-chart/templates/deployment.yaml
  butler/src/resources/helm-test-chart/templates/service.yaml
  butler/src/tests/v2/stubs/helm-chart/github-contents.json
  butler/src/tests/v2/stubs/helm-chart/gitlab-contents.json
  butler/src/tests/v2/unit/github/github-repository.spec.ts
  butler/src/tests/v2/unit/gitlab/gitlab-repository.spec.ts
  butler/src/tests/v2/unit/manifests/helm/helm-manifest.spec.ts
Labels: butler

#721 Remove old components when deploying on a circle (Override deployment)
  butler/src/app/v2/core/integrations/octopipe/request-builder.ts
  butler/src/app/v2/core/integrations/spinnaker/pipeline-builder.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/delete-unused-stage.ts
  butler/src/app/v2/core/integrations/utils/deployment.utils.ts
  butler/src/tests/v2/unit/octopipe/fixtures/deployment/complete-request-override.ts
  butler/src/tests/v2/unit/octopipe/request-builder-deployment-override.spec.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-with-overrides.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-deployment-override.spec.ts
  butler/src/tests/v2/unit/utils/replaced-components.spec.ts
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImplTest.groovy
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: TESTED, butler, moove, ui

#674 Compass authorization
  compass/Dockerfile
  compass/auth.conf
  compass/cmd/main.go
  compass/docker-compose.yml
  compass/go.mod
  compass/go.sum
  compass/internal/action/action.go
  compass/internal/action/main.go
  compass/internal/configuration/configuration.go
  compass/internal/datasource/datasource.go
  compass/internal/datasource/main.go
  compass/internal/health/health.go
  compass/internal/health/main.go
  compass/internal/health/periodmetric.go
  compass/internal/health/queries.go
  compass/internal/metricsgroupaction/main.go
  compass/internal/metricsgroupaction/metricsgroupaction.go
  compass/internal/moove/main.go
  compass/internal/moove/moove.go
  compass/internal/moove/mooveclient.go
  compass/internal/tests/action_test.go
  compass/internal/tests/datasource_test.go
  compass/internal/tests/health_test.go
  compass/internal/tests/metricsgroupaction_test.go
  compass/internal/tests/moove_test.go
  compass/pkey.txt
  compass/policy.csv
  compass/resources/init.sql
  compass/web/api/api.go
  compass/web/api/v1/action.go
  compass/web/api/v1/circle.go
  compass/web/api/v1/datasource.go
  compass/web/api/v1/health.go
  compass/web/api/v1/metric.go
  compass/web/api/v1/metricsgroup.go
  compass/web/api/v1/metricsgroupaction.go
  compass/web/api/v1/plugin.go
  compass/web/api/v1/v1.go
  install/helm-chart/templates/charlescd-compass-deployment.yaml
Labels: TESTED, compass, enhancement, security

#700 Compass encrypt
  compass/.env
  compass/BREAKING-CHANGE.md
  compass/internal/action/action.go
  compass/internal/action/main.go
  compass/internal/action/queries.go
  compass/internal/configuration/configuration.go
  compass/internal/datasource/datasource.go
  compass/internal/datasource/main.go
  compass/internal/datasource/queries.go
  compass/internal/metricsgroupaction/metricsgroupaction.go
  compass/internal/tests/action_test.go
  compass/internal/tests/datasource_test.go
  compass/internal/tests/health_test.go
  compass/internal/tests/metric_test.go
  compass/internal/tests/metricsgroup_test.go
  compass/internal/tests/metricsgroupaction_test.go
  compass/internal/tests/util.go
  compass/migrations/20201124150400_encrypt_data_sources_and_actions.down.sql
  compass/migrations/20201124150400_encrypt_data_sources_and_actions.up.sql
  compass/resources/encryption-update.sql
Labels: TESTED, compass, security, severity/moderate

#725 Butler operator crd
  butler/src/resources/k8s-crds/CharlesDeployment-crd.yaml
  butler/src/resources/k8s-crds/CharlesRoute-crd.yaml
  butler/src/resources/k8s-crds/deployments-controller.yaml
  butler/src/resources/k8s-crds/examples/CharlesDeployment.yaml
  butler/src/resources/k8s-crds/examples/CharlesRoute.yaml
  butler/src/resources/k8s-crds/hook.ts
  butler/src/resources/k8s-crds/metacontroller-install/metacontroller-rbac.yaml
  butler/src/resources/k8s-crds/metacontroller-install/metacontroller.yaml
  butler/src/resources/k8s-crds/routes-controller.yaml
Labels: butler

#690 OpenResty version in header disabled
  install/helm-chart/charts/nginx/templates/nginx-conf.yaml
Labels: TESTED

#644 add request limiter octopipe
  install/helm-chart/charts/octopipe-charlescd/values.yaml
  install/helm-chart/single-file.yaml
  install/helm-chart/values.yaml
  octopipe/go.mod
  octopipe/web/api/api.go
Labels: TESTED, octopipe

#688 Compass http limit
  compass/cmd/main.go
  compass/go.mod
  compass/go.sum
  compass/internal/configuration/configuration.go
  compass/web/api/v1/v1.go
  install/helm-chart/values.yaml
Labels: TESTED, compass, security, severity/minor

#741 Restore healthcheck module and map it on the v2 base module
  butler/package-lock.json
  butler/package.json
  butler/src/main.ts
Labels: butler

#666 Api authorization refactor
  moove/security/src/main/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilter.kt
  moove/security/src/test/groovy/io/charlescd/moove/security/filter/CharlesSecurityFilterTest.groovy
Labels: TESTED, moove

#680 Fix workspace infinite loading
  ui/src/containers/PrivateRoute/index.tsx
Labels: TESTED, ui

#745 changing compass limit rate
  install/helm-chart/values.yaml
Labels: compass, installer

#672 validate default circle
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: TESTED, butler, ready-for-qa

#740 Butler operator install
  butler/src/resources/k8s-crds/deployments-controller.yaml
  butler/src/resources/k8s-crds/examples/CharlesDeployment.yaml
  butler/src/resources/k8s-crds/examples/CharlesRoutes.yaml
  butler/src/resources/k8s-crds/hook.ts
  butler/src/resources/k8s-crds/routes-controller.yaml
  install/helm-chart/charts/metacontroller/Chart.yaml
  install/helm-chart/charts/metacontroller/crds/metacontroller-crds.yaml
  install/helm-chart/charts/metacontroller/templates/metacontroller-rbac.yaml
  install/helm-chart/charts/metacontroller/templates/metacontroller.yaml
  install/helm-chart/crds/charlescd-butler-deployment-crd.yaml
  install/helm-chart/crds/charlescd-butler-routes-crd.yaml
  install/helm-chart/requirements.yaml
  install/helm-chart/templates/charlescd-butler-cluster-role-binding.yaml
  install/helm-chart/templates/charlescd-butler-cluster-role.yaml
  install/helm-chart/templates/charlescd-butler-deployment.yaml
  install/helm-chart/templates/charlescd-butler-initial-charlesroutes.yaml
  install/helm-chart/templates/charlescd-butler-service-account.yaml
  install/helm-chart/values.yaml
Labels: butler

#747 fix metrics groups button
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/__tests__/MetricsGroups.spec.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/__tests__/fixtures.ts
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: TESTED, bug, ui

#707 Update of the ConnectionStatus component to be generic
  ui/src/core/components/ConnectionStatus/__tests__/ConnectionStatus.spec.tsx
  ui/src/core/components/ConnectionStatus/index.tsx
  ui/src/core/hooks/useTestConnection.ts
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/Form.spec.tsx
Labels: TESTED, enhancement, ui

#730 Circle-matcher should allow create only one default circle by workspace
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/exception/BusinessException.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/exception/MatcherErrorCode.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/SegmentationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/handler/ErrorHandler.java
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/service/SegmentationServiceImplTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/handler/ErrorHandlerTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/utils/TestUtils.groovy
Labels: TESTED, circle-matcher

#706 The 'delete' button should be inactive when the circle is active
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/DeleteCircleByIdInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/DeleteCircleByIdInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
  ui/src/containers/Can/index.tsx
  ui/src/core/assets/colors.ts
  ui/src/core/assets/themes/dropdown.ts
  ui/src/core/components/Dropdown/Item/__tests__/DropdownItem.spec.tsx
  ui/src/core/components/Dropdown/Item/index.tsx
  ui/src/core/components/Dropdown/Item/styled.ts
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
  ui/src/modules/Circles/Comparation/Item/helpers.ts
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: TESTED, bug, moove, severity/minor, ui

#686 Creating rate limit of APIs access
  moove/pom.xml
  moove/security/pom.xml
  moove/security/src/main/kotlin/io/charlescd/moove/security/config/CharlesRateLimitConfiguration.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/filter/RateLimitInterceptor.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/service/RateLimitService.kt
  moove/security/src/test/groovy/io/charlescd/moove/security/filter/RateLimitInterceptorTest.groovy
  moove/security/src/test/groovy/io/charlescd/moove/security/service/RateLimitServiceTest.groovy
  moove/web/src/main/kotlin/io/charlescd/moove/web/CharlesApplication.kt
  moove/web/src/main/resources/application-k8s.properties
  moove/web/src/main/resources/application-local.properties
Labels: TESTED, backend, moove, security, severity/moderate

#623 removing unused legacy code
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/controller/LabelController.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/controller/WorkspaceController.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/label/CreateLabelRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/label/UpdateLabelRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/LabelService.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/V1WorkspaceService.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/controller/LabelControllerUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/LabelServiceGroovyUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/WorkspaceServiceUnitTest.groovy
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/BuildRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/CircleRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/ComponentRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/KeyValueRuleRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/MetricConfigurationRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/WorkspaceRepository.kt
Labels: TESTED, enhancement, moove
