Repository ZupIT/charlescd, pull requests merged in 2021-09, with the labels that each got.

#1406 Fix helm ambiguity
  butler/src/app/v2/core/manifests/helm/helm-manifest.ts
  butler/src/resources/helm-test-chart/templates/deployment.yaml
  butler/src/resources/stubby/integrations-ci.yml
  butler/src/resources/stubby/integrations.yml
  samples/circles/circles-sample/templates/deployment.yaml
Labels: butler, TESTED

#1368 System Token improvements
  gate/Makefile
  gate/cmd/db.go
  gate/hack/docker-compose.yaml
  gate/hack/sql/create_tables.sql
  gate/internal/logging/errors.go
  gate/internal/repository/queries/system_token_queries.sql
  gate/internal/repository/system_token_repository.go
  gate/internal/use_case/authorization/authorize_system_token.go
  gate/internal/use_case/system_token/create_system_token.go
  gate/internal/use_case/system_token/create_system_token_input.go
  gate/internal/use_case/system_token/revoke_system_token.go
  gate/internal/utils/array_utils.go
  gate/resources/auth.conf
  gate/resources/migrations/20210620143200_hash_system_token.down.sql
  gate/resources/migrations/20210620143200_hash_system_token.up.sql
  gate/tests/unit/mocks/system_token_repository.go
  gate/tests/unit/use_case/system_token/create_system_token_test.go
  gate/tests/unit/use_case/system_token/revoke_system_token_test.go
  gate/web/api/handlers/representation/system_token.go
  gate/web/api/handlers/system_token_handler.go
Labels: bug, TESTED, gate

#1400 Fix callback deploy 1
  butler/src/app/v2/api/deployments/repository/deployment.repository.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployment.usecase.ts
  butler/src/app/v2/operator/use-cases/reconcile-routes.usecase.ts
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/integration/operator/reconcile-routes-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
Labels: butler, TESTED

#1429 get base deploy callback url by env
  install/helm-chart/templates/_helpers.tpl
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/DeployClientService.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/DeployClientServiceTest.groovy
  moove/web/src/main/resources/application-k8s.properties
  moove/web/src/main/resources/application.properties
Labels: moove

#1413 Pin dependencies of all components
  .github/workflows/butler-ci.yml
  .github/workflows/butler-devrelease.yml
  .github/workflows/charlescd-ci-alpha-images.yml
  .github/workflows/charlescd-cicd-staging.yml
  .github/workflows/charlescd-prerelease.yml
  .github/workflows/charlescd-release.yml
  .github/workflows/circle-matcher-ci.yml
  .github/workflows/circle-matcher-devrelease.yml
  .github/workflows/circles-sample-devrelease.yml
  .github/workflows/compass-ci.yml
  .github/workflows/compass-devrelease.yml
  .github/workflows/gate-ci.yml
  .github/workflows/gate-devrelease.yml
  .github/workflows/hermes-ci.yml
  .github/workflows/hermes-devrelease.yml
  .github/workflows/keycloak-ci.yaml
  .github/workflows/matcher-s3-sync-ci.yaml
  .github/workflows/matcher-s3-sync-devrelease.yml
  .github/workflows/moove-ci.yaml
  .github/workflows/moove-devrelease.yml
  .github/workflows/stale.yml
  .github/workflows/ui-ci.yml
  .github/workflows/ui-devrelease.yml
  .github/workflows/villager-ci.yml
  .github/workflows/villager-devrelease.yml
  butler/Dockerfile
  butler/DockerfileBuilder
  butler/src/resources/scripts/upgrades/0.3.11-0.4.0/Dockerfile
  circle-matcher/Dockerfile
  compass/Dockerfile
  compass/test/Dockerfile.test
  compass/test/docker-compose.test.yaml
  gate/Dockerfile
  hermes/Dockerfile
  keycloak/Dockerfile
  moove/DockerfileBuilder
  moove/web/Dockerfile
  samples/circles/app/Dockerfile
  ui/Dockerfile
  utils/matcher-s3-sync/Dockerfile
  villager/Dockerfile
  villager/src/main/docker/Dockerfile.jvm
  villager/src/main/docker/Dockerfile.native
Labels: butler, TESTED, circle-matcher, hermes, gate
