Repository ZupIT/charlescd, pull requests merged in 2021-04, with the labels that each got.

#1011 remove the actions from module tab when creating
  ui/src/modules/Modules/Comparation/Tab.tsx
Labels: TESTED, ui

#1013 Fix list metric prometheus error
  compass/plugins/datasource/prometheus/prometheus.go
Labels: TESTED, backend, compass

#996 Moove attach matcher
  moove/application/src/main/kotlin/io/charlescd/moove/application/CircleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/KeyValueRuleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/UpdateCircleWithCsvFileInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/TestUtils.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/ArchiveBuildInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/BuildCallbackInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/DeleteBuildByIdInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/FindAllBuildsInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/FindBuildByIdInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleWithCsvFileInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleWithPercentageInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/DeleteCircleByIdInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindAllCirclesInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindCircleByIdInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindCircleComponentsInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindCirclesPercentageInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/PatchCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/PatchCirclePercentageInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/UpdateCircleWithCsvFileInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/DeploymentServiceTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/UndeployInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/domain/CircleTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/domain/DeploymentTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Circle.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Circles.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/CircleRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/KeyValueRuleRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/CircleMatcherService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcKeyValueRuleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/CircleExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/KeyValueExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/CircleMatcherClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/request/CircleMatcherRequest.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/fixture/CircleFixture.groovy
  moove/infrastructure/src/test/groovy/io/charlescd/moove/fixture/Fixtures.groovy
  moove/infrastructure/src/test/groovy/io/charlescd/moove/fixture/UserFixture.groovy
  moove/infrastructure/src/test/groovy/io/charlescd/moove/fixture/WorkspaceFixture.groovy
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/CircleMatcherClientServiceTest.groovy
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/DeployClientServiceTest.groovy
  ui/src/core/components/Modal/Trigger/index.tsx
  ui/src/core/components/Modal/Trigger/styled.ts
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/index.tsx
Labels: TESTED, moove, ui

#1016 Fix showing username undefined in the initial screen
  ui/src/modules/Workspaces/__tests__/Workspaces.spec.tsx
  ui/src/modules/Workspaces/index.tsx
Labels: TESTED, bug, ui

#1028 [GATE] Regenerate token
  gate/cmd/http.go
  gate/internal/use_case/system_token/regenerate_system_token.go
  gate/tests/unit/mocks/use_case/system_token/regenerate_system_token.go
  gate/tests/unit/mocks/use_case/system_token/regenerate_token.go
  gate/tests/unit/use_case/system_token/regenerate_token_test.go
  gate/tests/unit/use_case/system_token/system_token_suites_test.go
  gate/web/api/handlers/representation/system_token.go
  gate/web/api/handlers/system_token_handler.go
Labels: gate

#1032 Integration system token
  ui/src/core/utils/validations.ts
  ui/src/modules/Tokens/Comparation/Form/Scopes/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/index.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/hooks.ts
  ui/src/modules/Tokens/interfaces.ts
Labels: ui

#1037 System token integration
  ui/src/core/providers/tokens.ts
  ui/src/core/state/index.ts
  ui/src/core/state/interfaces/Reducer.ts
  ui/src/core/state/interfaces/State.ts
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Modal/Regenerate.tsx
  ui/src/modules/Tokens/Comparation/Modal/Revoke.tsx
  ui/src/modules/Tokens/Comparation/Tab.tsx
  ui/src/modules/Tokens/Menu/index.tsx
  ui/src/modules/Tokens/hooks.ts
  ui/src/modules/Tokens/state/actions.ts
  ui/src/modules/Tokens/state/reducer.ts
Labels: ui

#1036 Checking if subscription is null.
  hermes/web/api/subscription/subscription.go
Labels: TESTED, hermes

#1039 History order
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
Labels: moove

#1040 System token UI adjusts
  ui/src/core/assets/svg/regenerate.svg
  ui/src/core/assets/svg/revoke.svg
  ui/src/core/components/Placeholder/__tests__/Placeholder.spec.tsx
  ui/src/core/components/Placeholder/index.tsx
  ui/src/core/components/Placeholder/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Tab.tsx
  ui/src/modules/Tokens/Placeholder/index.tsx
Labels: bug, ui

#1041 System token fixes
  ui/src/modules/Tokens/Comparation/Form/__tests__/Form.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Form/styled.ts
  ui/src/modules/Tokens/interfaces.ts
  ui/src/modules/Tokens/interfaces/TokenPagination.ts
Labels: ui

#1043 Deploy logs fix
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2DeploymentController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/ResourceValueResponse.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/exceptions/NotFoundException.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/CustomFeignErrorDecoder.kt
Labels: moove

#1046 add logs view
  ui/src/core/components/AceEditor/index.tsx
  ui/src/core/components/Modal/FullScreen/styled.ts
  ui/src/core/utils/date.ts
  ui/src/modules/Circles/Comparation/Item/History/Logs.tsx
  ui/src/modules/Circles/Comparation/Item/History/index.tsx
  ui/src/modules/Circles/Comparation/Item/History/styled.ts
Labels: ui

#1048 add new color status
  ui/src/core/assets/themes/circleDeploymentHistory.ts
  ui/src/modules/Circles/Comparation/Item/History/helpers.ts
  ui/src/modules/Circles/Comparation/Item/History/index.tsx
  ui/src/modules/Circles/Comparation/Item/History/styled.ts
Labels: ui

#1052 Hotfix/workspace complete status
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/FindAllWorkspaceInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
Labels: moove

#1055 Hotfix: duplicated component name should not be allowed
  moove/application/src/main/kotlin/io/charlescd/moove/application/ModuleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/module/impl/CreateModuleInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/module/impl/UpdateComponentInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/module/impl/CreateModuleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/module/impl/UpdateComponentInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: moove

#1057 [Gate] UI tests and query bug
  gate/internal/repository/queries/system_token_queries.sql
  gate/internal/repository/queries/workspace_queries.sql
  gate/internal/repository/system_token_repository.go
  gate/internal/repository/user_repository.go
  gate/internal/repository/workspace_repository.go
  gate/internal/use_case/system_token/get_all_system_token.go
  gate/resources/policy.csv
  gate/tests/unit/mocks/system_token_repository.go
  gate/tests/unit/use_case/authorization/authorize_system_token_test.go
  gate/tests/unit/use_case/authorization/authorize_user_token_test.go
  gate/tests/unit/use_case/system_token/get_all_system_tokens_test.go
  gate/web/api/handlers/representation/system_token.go
  gate/web/api/handlers/system_token_handler.go
  ui/src/containers/PrivateRoute/index.tsx
  ui/src/core/assets/svg/regenerate.svg
  ui/src/core/assets/svg/revoke.svg
  ui/src/core/components/Form/InputTitle/__tests__/InputTitle.spec.tsx
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/core/components/Form/InputTitle/styled.ts
  ui/src/core/components/Form/SearchInput/styled.tsx
  ui/src/core/components/Placeholder/__tests__/Placeholder.spec.tsx
  ui/src/core/components/Placeholder/index.tsx
  ui/src/core/components/Placeholder/styled.ts
  ui/src/mocks/handlers.ts
  ui/src/mocks/handlers/gate/index.ts
  ui/src/mocks/handlers/gate/responses.ts
  ui/src/modules/Tokens/Comparation/Form/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Scopes/__tests__/Scopes.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/Scopes/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/index.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/Form.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Form/styled.ts
  ui/src/modules/Tokens/Comparation/Tab.tsx
  ui/src/modules/Tokens/Placeholder/index.tsx
  ui/src/modules/Tokens/__tests__/Tokens.spec.tsx
  ui/src/modules/Tokens/hooks.ts
  ui/src/modules/Tokens/interfaces.ts
  ui/src/modules/Tokens/interfaces/TokenPagination.ts
Labels: gate, ui

#1058 fix action card test
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/__tests__/ActionCard.spec.tsx
Labels: bug, ui

#1059 Hotfix/UI error messages
  ui/src/modules/Circles/Release/hooks.ts
  ui/src/modules/Modules/hooks/component.ts
  ui/src/modules/Modules/hooks/module.ts
  ui/src/modules/Workspaces/hooks.ts
Labels: ui

#1060 UI bug hunt 0.7.0
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Circles/interfaces/Circle.ts
  ui/src/modules/Modules/Comparation/Form/ComponentForm.tsx
  ui/src/modules/Modules/Comparation/Tab.tsx
  ui/src/modules/Modules/hooks/module.ts
Labels: bug, ui

#1061 UI bug hunt 0.7.0
  ui/src/modules/Circles/Comparation/Item/Layer/Name.tsx
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Modules/Comparation/Form/helpers.ts
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/Form.tsx
Labels: bug, ui

#1045 Operator override fix
  butler/src/app/v2/core/integrations/interfaces/k8s-manifest.interface.ts
  butler/src/app/v2/operator/cron/timeout.scheduler.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployment.usecase.ts
  butler/src/app/v2/operator/use-cases/reconcile-routes.usecase.ts
  butler/src/app/v2/operator/utils/reconcile.utils.ts
  butler/src/resources/helm-test-chart/complex-manifests.yaml
  butler/src/resources/helm-test-chart/simple-manifests.yaml
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
  butler/src/tests/v2/integration/pipes/undeployment-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/schedulers/timeout.scheduler.integration-spec.ts
  butler/src/tests/v2/integration/test-setup-utils.ts
  butler/src/tests/v2/integration/use-cases/create-deployment-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
  butler/src/tests/v2/unit/operator/params.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile.spec.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/two-subsets-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-default-circle-dr.ts
  butler/src/tests/v2/unit/utils/istio-deployment.spec.ts
  butler/src/tests/v2/unit/utils/istio-undeployment.spec.ts
  butler/src/tests/v2/unit/utils/replaced-components.spec.ts
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/DeployClient.kt
Labels: butler, moove

#1064 Changing name by email deploymentslog
  moove/application/src/main/kotlin/io/charlescd/moove/application/ModuleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/response/DeploymentHistoryResponse.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/DeploymentHistory.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/DeploymentHistoryExtractor.kt
  ui/src/modules/Circles/Comparation/Item/History/index.tsx
  ui/src/modules/Metrics/Circles/interfaces.ts
Labels: backend, moove, severity/moderate, ui

#1063 Inserting circleId in metrics before validate
  compass/Makefile
  compass/internal/configuration/configuration.go
  compass/internal/metricsgroup/metricsgroup.go
  compass/web/api/v1/metric/metric.go
Labels: bug, compass

#1062 Fix log bug hunting
  ui/src/core/assets/themes/circleDeploymentHistory.ts
  ui/src/core/utils/date.ts
  ui/src/modules/Circles/Comparation/Item/History/helpers.ts
  ui/src/modules/Circles/Comparation/Item/History/index.tsx
  ui/src/modules/Circles/Comparation/Item/History/styled.ts
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: ui

#1065 UI bug hunt 0.7.0
  ui/src/core/components/Page/constants.ts
  ui/src/modules/Main/Sidebar/index.tsx
  ui/src/modules/Main/Sidebar/styled.tsx
Labels: bug, ui

#1067 Added DEPLOYING and UNDEPLOYING status on deploy history list
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/FindDeploymentsHistoryForCircleInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentsHistoryForCircleInteractorImplTest.groovy
Labels: backend, bug, moove

#1066 Fix Layout
  ui/src/core/components/Form/Input/index.tsx
  ui/src/core/components/Form/Input/styled.ts
  ui/src/core/components/Modal/Trigger/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/Item.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/List.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Modal/Regenerate.tsx
  ui/src/modules/Tokens/Comparation/Modal/Revoke.tsx
  ui/src/modules/Tokens/Menu/MenuItem.tsx
  ui/src/modules/Tokens/Menu/index.tsx
Labels: ui

#1068 fix metrics bug hunt erros
  ui/package.json
  ui/src/core/components/Dropdown/Item/index.tsx
  ui/src/core/components/Dropdown/index.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/MetricCard.tsx
  ui/src/modules/Metrics/Deploys/CircleFilter.tsx
  ui/src/modules/Metrics/Deploys/Release/index.tsx
  ui/yarn.lock
Labels: ui

#1069 Fix test build
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/__tests__/ActionCard.spec.tsx
Labels: moove, ui

#1070 fix build
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/MetricCard.tsx
Labels: ui

#1071 UI bug hunt 0.7.0 - Remove spinnaker from ui
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/styled.ts
Labels: bug, ui

#1072 UI bug hunt 0.7.0
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddAction.tsx
  ui/src/modules/Main/Sidebar/styled.tsx
Labels: backend, ui

#1074 UI bug hunt 0.7.0 - remove unnecessary tests
  ui/src/modules/Settings/Credentials/__tests__/FormCDConfiguration.spec.tsx
Labels: bug, ui

#1073 Fix logical operator edition
  ui/src/modules/Circles/Segments/helpers.ts
Labels: ui

#1075 Bughunt/duplicated workspace
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2UserController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/FindWorkspaceByUserIdInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/FindWorkspaceByUserIdInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/FindWorkspaceByUserIdInteractorImplTest.groovy
Labels: bug, moove

#1076 Layout issues
  ui/src/core/assets/svg/workspace-not-found.svg
  ui/src/core/assets/themes/token.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/Empty.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Form/index.tsx
Labels: ui

#1078 Bug hunting logs
  ui/src/modules/Circles/Comparation/Item/History/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/styled.ts
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/styled.ts
Labels: ui

#1050 Bughunting/request limit
  install/helm-chart/single-file.yaml
Labels: bug, compass

#1077 Operator fix virtualservice bugs
  butler/src/app/v2/operator/use-cases/reconcile-routes.usecase.ts
  butler/src/app/v2/operator/utils/reconcile.utils.ts
  butler/src/resources/helm-test-chart/no-labels-manifests.yaml
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
Labels: butler

#1021 Upgrade react-scripts from 4.0.1 to 4.0.3
  ui/package.json
  ui/yarn.lock
Labels: enhancement, security, ui

#1090 [GATE] Fixing revoked token
  gate/internal/use_case/authorization/authorize_system_token.go
  gate/tests/unit/use_case/authorization/authorize_system_token_test.go
Labels: gate

#1092 fixing lastused value
  gate/go.mod
  gate/internal/domain/system_token.go
  gate/internal/use_case/authorization/authorize_system_token.go
  gate/tests/unit/use_case/authorization/authorize_system_token_test.go
Labels: bug, gate

#1089 Fix virtual service generation for non healthy deployments / Fix validations
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/pipes/default-circle-namespace-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/app/v2/operator/use-cases/reconcile-routes.usecase.ts
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/operator/create-routes-manifests-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
Labels: butler

#1101 Hotfix/moove cdconfiguration unique validation
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/CreateGitConfigurationInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/DeploymentConfigurationRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentConfigurationRepository.kt
  moove/web/src/main/resources/locale/messages.properties
Labels: moove

#1104 Fix error messages
  butler/src/app/v2/api/deployments/pipes/default-circle-namespace-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/pipes/default-circle-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/pipes/deployment-uniqueness.pipe.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: butler

#1099 Operator tests fix
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/pipes/namespace-validation.pipe.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/app/v2/core/integrations/k8s/client.ts
  butler/src/app/v2/operator/use-cases/reconcile-routes.usecase.ts
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/pipes/namespace-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/test-setup-utils.ts
  butler/src/tests/v2/unit/k8s/deployment-client.spec.ts
  butler/src/tests/v2/unit/k8s/routing-client.spec.ts
  butler/src/tests/v2/unit/k8s/undeployment-client.spec.ts
Labels: butler

#1095 Fix availability and callbacks
  butler/src/app/v2/core/integrations/interfaces/k8s-manifest.interface.ts
  butler/src/app/v2/core/integrations/utils/istio-manifests.utilts.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployment.usecase.ts
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/integration/operator/reconcile-deployment-usecase.integration-spec.ts
  butler/src/tests/v2/integration/operator/reconcile-routes-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/two-subsets-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-default-circle-dr.ts
Labels: butler

#1106 Fixing lint
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
Labels: butler

#1100 Fix invalid operator url
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/request/CreateDeploymentConfigurationRequest.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/TestUtils.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorTest.groovy
  moove/data/stubby/integrations.yml
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/DeployService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/DeployClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/DeployClient.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/HealthCheckResponse.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: moove

#1096 Moove interactors tests with system token
  moove/application/src/test/groovy/io/charlescd/moove/application/TestUtils.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/CreateBuildInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/build/impl/CreateComposedBuildInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleWithCsvFileInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/CreateGitConfigurationInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/CreateMetricConfigurationInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/UndeployInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/module/impl/CreateModuleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/usergroup/impl/CreateUserGroupInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/CreateWebhookSubscriptionInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/DeleteWebhookSubscriptionInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/EventHistoryWebhookSubscriptionInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/GetWebhookSubscriptionInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/HealthCheckWebhookSubscriptionInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/UpdateWebhookSubscriptionInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/CreateWorkspaceInteractorImplTest.groovy
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationServiceUnitTest.kt
Labels: moove

#1113 Hotfix/webhook event error
  moove/application/src/main/kotlin/io/charlescd/moove/application/WebhookEventService.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/WebhookEventServiceTest.groovy
Labels: moove

#1098 Butler events logs aggregator
  .gitignore
  butler/package-lock.json
  butler/package.json
  butler/src/app/v2/api/deployments/repository/log.repository.ts
  butler/src/app/v2/core/integrations/k8s/client.ts
  butler/src/app/v2/operator/logs-aggregator/events-operator-service.ts
  butler/src/app/v2/operator/logs-aggregator/kubernetes-events-aggregator.ts
  butler/src/app/v2/operator/logs-aggregator/kubernetes-events-watcher.ts
  butler/src/app/v2/operator/operator.module.ts
  butler/src/tests/v2/unit/operator/kubernetes-events-aggregator.spec.ts
Labels: butler

#1109 Hotfix/moove request git token base64
  butler/src/app/v2/api/deployments/pipes/git-token-decryption.pipe.ts
  butler/src/app/v2/core/constants/application/configuration.constants.ts
  install/helm-chart/single-file.yaml
  install/helm-chart/templates/_helpers.tpl
Labels: butler

#1107 Handle template error
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/controller/executions.controller.ts
  butler/src/app/v2/api/deployments/pipes/default-circle-namespace-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/pipes/default-circle-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/pipes/deployment-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/pipes/git-token-decryption.pipe.ts
  butler/src/app/v2/api/deployments/pipes/joi-validation-pipe.ts
  butler/src/app/v2/api/deployments/pipes/namespace-validation.pipe.ts
  butler/src/app/v2/api/deployments/pipes/undeployment-validation.pipe.ts
  butler/src/app/v2/api/deployments/validations/create-deployment-validator.ts
  butler/src/app/v2/core/filters/http-exception.filter.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/app/v2/core/manifests/helm/helm-manifest.ts
  butler/src/app/v2/core/utils/exception.utils.ts
  butler/src/main.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/operator/reconcile-deployment-usecase.integration-spec.ts
  butler/src/tests/v2/integration/pipes/namespace-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/pipes/undeployment-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/test-setup-utils.ts
  butler/src/tests/v2/unit/joi-schemas/create-deployment-dto-schema.spec.ts
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorImpl.kt
Labels: butler, moove

#1091 Update routing when account is clicked
  ui/src/modules/Main/Sidebar/MenuItems/__tests__/MenuItems.spec.tsx
  ui/src/modules/Main/Sidebar/__tests__/Sidebar.spec.tsx
  ui/src/modules/Main/constants.ts
Labels: TESTED, ui

#1114 Charlescd: release 0.7.1
  .github/workflows/charlescd-release.yml
  moove/application/src/main/kotlin/io/charlescd/moove/application/WebhookEventService.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/WebhookEventServiceTest.groovy
Labels: moove

#1102 bug hunting: fix typos
  ui/src/modules/Tokens/Comparation/Modal/Regenerate.tsx
  ui/src/modules/Tokens/Comparation/Modal/Revoke.tsx
  ui/src/modules/Tokens/Comparation/Modal/__tests__/Regenerate.spec.tsx
  ui/src/modules/Tokens/Comparation/Modal/__tests__/Revoke.spec.tsx
  ui/src/modules/Tokens/Comparation/Modal/__tests__/fixtures.ts
Labels: ui

#1024 Add max length validation to input fields
  ui/src/core/components/ConnectionStatus/index.tsx
  ui/src/core/components/Form/Input/index.tsx
  ui/src/core/components/Text/index.tsx
  ui/src/modules/Circles/Release/Create/Module.tsx
  ui/src/modules/Circles/Release/Create/__tests__/CreateRelease.spec.tsx
  ui/src/modules/Circles/Release/Create/helpers.ts
  ui/src/modules/Circles/Release/Create/index.tsx
  ui/src/modules/Modules/Comparation/Form/Component.tsx
  ui/src/modules/Modules/Comparation/Form/ComponentForm.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Component.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/ComponentForm.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Components.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Modules/Comparation/Form/styled.ts
Labels: TESTED, ui

#1112 Fix regen system token
  gate/internal/repository/models/system_token.go
Labels: gate

#1116 add workspace id to authorize request and log deny request
  install/helm-chart/charts/envoy/templates/envoy-conf.yml
Labels: bug, gate

#1103 bug hunting: Fix menu item layout
  moove/application/src/main/kotlin/io/charlescd/moove/application/SystemTokenService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/UserService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/WebhookService.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/SystemTokenRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcSystemTokenRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/SystemTokenRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/UserRepository.kt
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/entity/SystemToken.kt
  ui/src/modules/Main/Sidebar/styled.tsx
Labels: moove, ui

#1118 Fix namespaced deployment
  butler/src/app/v2/operator/controller/deployments.hook.controller.ts
  butler/src/app/v2/operator/utils/reconcile.utils.ts
  butler/src/tests/v2/integration/test-setup-utils.ts
  butler/src/tests/v2/integration/use-cases/create-deployment-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
  install/helm-chart/crds/butler-deployment-crd.yaml
  install/helm-chart/crds/butler-routes-crd.yaml
Labels: butler

#1119 updating policy adding workspace post to management role
  gate/resources/policy.csv
Labels: bug, gate

#1120 adjust system token regenerate
  gate/internal/repository/system_token_repository.go
Labels: bug, gate

#1125 Butler fix log endpoint
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/repository/log.repository.ts
  butler/src/app/v2/api/deployments/use-cases/find-deployment-logs-by-id.usecase.ts
  butler/src/app/v2/api/deployments/use-cases/receive-notification.usecase.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: butler

#1129 changing token, gatewayName and host value validation
  butler/src/app/v2/api/deployments/validations/create-deployment-validator.ts
Labels: butler

#1126 Fix git error
  butler/src/app/v2/core/constants/application/configuration.constants.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/app/v2/core/integrations/k8s/client.ts
  butler/src/tests/v2/unit/github/github-repository.spec.ts
  butler/src/tests/v2/unit/gitlab/gitlab-repository.spec.ts
Labels: butler

#1131 remove created at from permission struct
  gate/internal/repository/models/permission.go
Labels: bug, gate

#1122 [BUG HUNT] Add clipboard support for HTTP protocol
  ui/src/core/utils/clipboard.ts
  ui/src/modules/Settings/Credentials/index.tsx
Labels: ui

#1029 Fix matcher csv update
  moove/application/src/main/kotlin/io/charlescd/moove/application/KeyValueRuleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImplTest.groovy
Labels: TESTED, moove

#1135 Improve moove error message
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/exceptions/ConflictException.kt
Labels: moove

#1137 Remove unnecessary id from log response
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorTest.groovy
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/LogResponse.kt
Labels: moove

#1138 Fixing system token test that broke by deployment logs service update
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorTest.groovy
Labels: moove
