Repository ZupIT/charlescd, pull requests merged in 2021-05, with the labels that each got.

#1144 [BUG HUNT] Fix usergroup modal
  ui/src/modules/Groups/Tabs/Modal/__tests__/Modal.spec.tsx
  ui/src/modules/Groups/Tabs/helpers.ts
Labels: bug, ui

#1145 Fix butler package lock file
  butler/package-lock.json
Labels: butler

#1155 Bug hunting: fixing documentation links
  ui/src/modules/Settings/Credentials/Sections/Webhook/Form.tsx
  ui/src/modules/Tokens/Comparation/Form/Scopes/index.tsx
Labels: ui

#1157 Bug hunting: fixing workspace status
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
Labels: moove

#1154 [BUG HUNT] Fix typos
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/fixtures.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/FormUserGroup.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Webhook/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Webhook/__tests__/FormWebhook.spec.tsx
Labels: ui

#1156 Bug hunting/fix matcher update
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/UndeployInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/TestUtils.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/UndeployInteractorImplTest.groovy
  moove/commons/src/test/kotlin/io/charlescd/moove/commons/MaestroToRepresentationTest.kt
Labels: moove

#1161 Sorts logs by date
  butler/src/app/v2/api/deployments/repository/log.repository.ts
  butler/src/tests/v2/unit/repository/log.repository.spec.ts
Labels: butler

#1163 Bughunt/deploy same circle
  compass/plugins/action/circledeployment/circledeployment.go
Labels: backend, bug-hunting, compass

#1159 Add minLength to workspace description
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
  ui/src/modules/Settings/Credentials/Sections/Webhook/Form.tsx
Labels: bug-hunting, moove, ui

#1167 [BUG HUNT] Fix login error message
  ui/src/core/providers/users.ts
  ui/src/mocks/handlers/circles/index.ts
  ui/src/mocks/handlers/circles/responses.ts
  ui/src/modules/Auth/Login/__tests__/Login.spec.tsx
  ui/src/modules/Auth/Login/index.tsx
Labels: bug-hunting, ui

#1158 Adding ellipsis for items
  ui/src/modules/Groups/Menu/MenuItem.tsx
  ui/src/modules/Groups/Menu/styled.ts
  ui/src/modules/Groups/Tabs/Modal/index.tsx
  ui/src/modules/Groups/Tabs/Modal/styled.ts
Labels: bug-hunting, ui

#1160 Fix defaultValue for Account Profile
  ui/src/modules/Account/index.tsx
Labels: bug-hunting, ui

#1168 Workspace test timeout
  ui/src/modules/Workspaces/__tests__/Workspaces.spec.tsx
Labels: bug, ui

#1164 Bug hunt metric actions fix
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/MetricAction/styled.ts
Labels: bug-hunting, ui

#1170 503 when creating a new workspace
  ui/src/modules/Workspaces/hooks.ts
Labels: bug, ui

#1175 fix test
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/Form.spec.tsx
Labels: bug-hunting, ui

#1162 Adding margin for subtitle in editing mode
  ui/src/core/components/Text/index.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Modules/Comparation/Form/styled.ts
Labels: bug-hunting, ui

#1165 Fix vertical align for InputTitle
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/modules/Circles/Comparation/Item/styled.ts
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Form/styled.ts
Labels: bug-hunting, ui

#1178 [UI module] Solve build failing
  ui/src/modules/Tokens/Comparation/Form/index.tsx
Labels: butler, moove, ui

#1176 Bughunt/metrics group filter by workspace
  compass/internal/metricsgroup/main.go
  compass/internal/metricsgroup/metricsgroup.go
  compass/internal/tests/metricsgroup_test.go
  compass/web/api/v1/metricsgroup/metricsgroup.go
Labels: backend, bug-hunting, compass

#1179 Fix CSV validator version
  .github/workflows/charlescd-cicd-staging.yml
  moove/pom.xml
Labels: moove

#1183 Fix semver version from csv validator
  moove/pom.xml
Labels: moove

#1184 Only overrides csv validator dependencies
  moove/pom.xml
Labels: moove

#1186 [BUG HUNT] Fix UI build
  ui/src/core/components/Form/InputTitle/__tests__/InputTitle.spec.tsx
Labels: bug-hunting, butler, gate, moove, ui

#1177 Bug hunting/log events
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
  butler/src/app/v2/core/constants/deployments/deployments-configuration.constants.ts
  butler/src/app/v2/core/integrations/interfaces/k8s-manifest.interface.ts
  butler/src/app/v2/core/integrations/k8s/crd-builder.ts
  butler/src/app/v2/operator/logs-aggregator/kubernetes-events-aggregator.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/unit/operator/kubernetes-events-aggregator.spec.ts
  install/helm-chart/Chart.yaml
  install/helm-chart/charts/metacontroller/templates/StatefulSet.yaml
  install/helm-chart/crds/butler-deployment-crd.yaml
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorTest.groovy
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/LogResponse.kt
Labels: butler, gate, moove

#1187 Bug hunting: fixing error message
  moove/web/src/main/resources/locale/messages.properties
  ui/src/modules/Settings/__tests__/Settings.spec.tsx
Labels: butler, gate, moove, ui

#1189 Fix execution time value
  moove/application/src/main/kotlin/io/charlescd/moove/application/WebhookEventService.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/WebhookEventServiceTest.groovy
  moove/pom.xml
Labels: moove

#1173 Set modules branch field as not required
  ui/src/modules/Modules/Comparation/Form/index.tsx
Labels: bug, ui

#1174 Change isNotBlank text from 'No whitespace' to 'Cannot start with whitespaces'
  ui/src/core/utils/validations.ts
Labels: bug, ui

#1171 Add responsiveness to change password modal
  ui/src/modules/Account/index.tsx
  ui/src/modules/Account/styled.ts
Labels: bug-hunting, ui

#1172 Add validation isNotBlank for Workspaces' name on creation
  ui/src/modules/Workspaces/index.tsx
Labels: bug-hunting, ui

#1192 fix build
  ui/src/core/utils/__tests__/validation.spec.ts
  ui/src/modules/Account/index.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
Labels: ui

#1194 [BUG HUNT] Fix UI webhook
  ui/src/modules/Settings/Credentials/Sections/Webhook/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Webhook/__tests__/FormWebhook.spec.tsx
Labels: bug-hunting, ui

#1190 adding undeploy moove notification
  butler/src/app/v2/api/deployments/enums/deployment-status.enum.ts
  butler/src/app/v2/api/deployments/use-cases/create-undeployment.usecase.ts
Labels: butler

#1191 Fix users menu refresh
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/index.tsx
Labels: bug, ui

#1199 Bug-Hunting/Fix keycloak delete
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/KeycloakServiceLegacy.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/KeycloakServiceLegacyGroovyUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyGroovyUnitTest.groovy
Labels: moove

#1195 Bug hunting/fix error cache
  butler/src/app/v2/operator/logs-aggregator/kubernetes-events-aggregator.ts
  butler/src/tests/v2/unit/operator/kubernetes-events-aggregator.spec.ts
Labels: butler

#1196 fix namespace override "deadlock"
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/pipes/default-circle-namespace-uniqueness.pipe.ts
  butler/src/app/v2/api/deployments/pipes/default-circle-uniqueness.pipe.ts
  butler/src/resources/helm-test-chart/Chart.yaml
  butler/src/resources/stubby/integrations-ci.yml
  butler/src/resources/stubby/integrations.yml
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/unit/manifests/helm/helm-manifest.spec.ts
Labels: butler

#1203 Fix save action
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/hooks.spec.ts
  ui/src/modules/Settings/Credentials/Sections/MetricAction/hooks.ts
Labels: ui

#1206 fix build error
  ui/src/modules/Settings/Credentials/Sections/MetricAction/hooks.ts
Labels: ui

#1001 Fix user group permission and creates a modal for user group removal
  ui/src/core/assets/themes/modal/trigger.ts
  ui/src/core/components/Card/Config/index.tsx
  ui/src/core/components/Modal/Trigger/__tests__/Trigger.spec.tsx
  ui/src/core/components/Modal/Trigger/index.tsx
  ui/src/core/components/Modal/Trigger/styled.ts
  ui/src/core/components/Text/index.tsx
  ui/src/core/components/Text/styled.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/SectionUserGroup.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/fixtures.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/helpers.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/index.tsx
  ui/src/modules/Settings/Credentials/__tests__/Credentials.spec.tsx
  ui/src/modules/Users/__tests__/hooks.spec.ts
  ui/src/modules/Workspaces/index.tsx
Labels: TESTED, bug, ui

#1209 Update user menu by changing the name
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/index.tsx
Labels: bug, ui

#1201 Returning correct error when helm url is invalid
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/tests/v2/unit/github/github-repository.spec.ts
  butler/src/tests/v2/unit/gitlab/gitlab-repository.spec.ts
Labels: butler

#1213 [BUG HUNT] Disable button on deploy
  ui/src/modules/Circles/Release/Create/__tests__/CreateRelease.spec.tsx
  ui/src/modules/Circles/Release/Create/index.tsx
Labels: bug-hunting, ui

#1208 Bug-hunting/not allow delete default root user
  moove/commons/src/main/kotlin/io/charlescd/moove/commons/constants/MooveErrorCodeLegacy.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/KeycloakServiceLegacyGroovyUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyGroovyUnitTest.groovy
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyUnitTest.groovy
  moove/web/src/main/resources/application.properties
Labels: moove

#1215 update the user menu after modifying any user
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/hooks.ts
Labels: bug-hunting, ui

#1216 Bughunting UI fix
  ui/src/core/components/Page/__tests__/Page.spec.tsx
  ui/src/core/components/Page/constants.ts
  ui/src/core/enums/HttpStatus.ts
  ui/src/modules/Settings/Credentials/Sections/MetricAction/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
  ui/src/modules/Users/__tests__/hooks.spec.ts
Labels: ui

#1217 Improve text of button in token creation
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/Form.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/__tests__/Tab.spec.tsx
Labels: bug-hunting, ui

#1218 test useUpdateName exception
  ui/src/modules/Users/__tests__/hooks.spec.ts
  ui/src/modules/Users/hooks.ts
Labels: bug-hunting, ui

#1219 Change logs Set to List to garantee order
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/FindDeploymentLogsInteractorTest.groovy
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/LogResponse.kt
Labels: moove

#1220 update keycloak version
  moove/pom.xml
Labels: moove

#1225 Bug hunting/add edit menu component
  ui/src/mocks/handlers/modules/responses.ts
  ui/src/modules/Modules/Comparation/View/index.tsx
Labels: ui

#1227 [Module] Change text in button
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
Labels: bug-hunting, ui

#1224 Show notification on delete a webhook
  ui/src/modules/Settings/Credentials/Sections/Webhook/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Webhook/index.tsx
Labels: bug-hunting, ui

#1226 created new endpoint to find simplified circle data
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2CircleController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/CircleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/FindAllCirclesSimpleInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/FindAllCirclesSimpleInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/response/SimpleCircleResponse.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/FindAllCirclesSimplifiedInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/CircleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/CircleSimpleExtractor.kt
  ui/src/core/providers/circle.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddAction.tsx
  ui/src/modules/Circles/hooks.ts
Labels: backend, bug-hunting, moove, ui

#1223 adding validation when delete configuration to active deployments
  moove/application/src/main/kotlin/io/charlescd/moove/application/DeploymentConfigurationService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/DeploymentService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/impl/DeleteDeploymentConfigurationByIdInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/configuration/impl/DeleteDeploymentConfigurationByIdInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/DeploymentRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: moove

#1228 Setting butler request size limit for 50mb by default
  butler/src/app/v2/core/config/configurations.ts
  butler/src/app/v2/core/configuration/interfaces/env-configuration.interface.ts
  butler/src/app/v2/core/constants/application/configuration.constants.ts
  butler/src/main.ts
  install/helm-chart/templates/_helpers.tpl
  install/helm-chart/values.yaml
Labels: butler

#1229 Show notification on delete
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/hooks.ts
Labels: bug-hunting, ui

#1230 fixing query
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
Labels: moove

#1231 Add some new bugfixs
  ui/src/core/components/Form/Number/helper.ts
  ui/src/core/components/Page/constants.ts
  ui/src/core/components/Page/index.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddAction.tsx
  ui/src/modules/Circles/index.tsx
  ui/src/modules/Metrics/index.tsx
  ui/src/modules/Modules/Placeholder/index.tsx
Labels: ui

#1232 [UI] fix tests
  ui/src/modules/Modules/Comparation/__tests__/Tab.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
Labels: ui

#1169 Enhancement/duplicated entities
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/CircleService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/WorkspaceService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/request/CreateCircleRequest.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/CreateWorkspaceInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/CircleRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/WorkspaceRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: moove

#1233 fixing count query
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
Labels: moove

#1235 Bug-Hunting/ check if workspace has matcher url before creating circle
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/CreateCircleInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/CreateCircleWithCsvFileInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/CreateCircleWithPercentageInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/TestUtils.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleWithCsvFileInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/CreateCircleWithPercentageInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: moove

#1234 Fix workspace menu
  ui/src/containers/Can/index.tsx
  ui/src/modules/Modules/Comparation/__tests__/Tab.spec.tsx
Labels: bug-hunting, ui

#1236 Fix action circle lsit
  ui/src/core/components/Form/Number/helper.ts
  ui/src/core/providers/circle.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddAction.tsx
Labels: ui

#1237 Butler skip tls option
  butler/src/app/v2/core/config/configurations.ts
  butler/src/app/v2/core/configuration/interfaces/env-configuration.interface.ts
  butler/src/app/v2/core/constants/application/configuration.constants.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/tests/v2/unit/github/github-repository.spec.ts
  butler/src/tests/v2/unit/gitlab/gitlab-repository.spec.ts
  butler/src/tests/v2/unit/manifests/helm/helm-manifest.spec.ts
  install/helm-chart/templates/_helpers.tpl
  install/helm-chart/values.yaml
Labels: butler

#1238 fix workspace refresh when changed
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/index.tsx
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/index.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/SectionUserGroup.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Webhook/index.tsx
  ui/src/modules/Settings/Credentials/index.tsx
  ui/src/modules/Settings/index.tsx
Labels: bug-hunting, ui

#1239 Hotfix/fix condiguration delete validation
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
Labels: moove

#1240 [component] Change text in button
  ui/src/modules/Modules/Comparation/Form/Component.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Component.spec.tsx
Labels: bug-hunting, ui

#1214 remove unused dependency villager
  villager/pom.xml
Labels: villager

#1242 [BUG HUNTING] fix deletion of user from user group
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyUnitTest.groovy
  moove/legacy-repository/src/main/kotlin/io/charlescd/moove/legacy/repository/UserRepository.kt
Labels: moove

#1243 adding deployment active on patch workspace to remove deployment config
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImplTest.groovy
Labels: moove

#1244 Workspace refresh menu
  ui/src/containers/Can/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/__tests__/MetricsProvider.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/SectionRegistry.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/index.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/index.tsx
  ui/src/modules/Settings/Credentials/index.tsx
  ui/src/modules/Settings/hooks.ts
  ui/src/modules/Settings/index.tsx
Labels: bug-hunting, ui

#1246 validate uppercase tags
  butler/src/app/v2/api/deployments/validations/create-deployment-validator.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/unit/joi-schemas/create-deployment-dto-schema.spec.ts
Labels: butler

#1254 Change ui package manager from yarn to npm
  .github/workflows/charlescd-ci-alpha-images.yml
  .github/workflows/charlescd-cicd-staging.yml
  .github/workflows/charlescd-prerelease.yml
  .github/workflows/charlescd-release.yml
  .github/workflows/ui-ci.yml
  .github/workflows/ui-devrelease.yml
  ui/package-lock.json
  ui/package.json
  ui/public/mockServiceWorker.js
  ui/src/core/providers/base/hooks.ts
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/helpers.ts
  ui/src/modules/Tokens/Comparation/Form/Modal/index.tsx
  ui/src/modules/Users/Comparation/Item/Modals/ResetPassword/index.tsx
  ui/yarn.lock
Labels: ui

#1258 remove infinite scroll n update react ace n read me
  ui/README.md
  ui/package-lock.json
  ui/package.json
  ui/src/modules/Circles/Comparation/Item/History/index.tsx
  ui/src/modules/Metrics/Circles/History/CircleReleasesTable.tsx
  ui/src/modules/Metrics/Circles/History/index.tsx
  ui/src/modules/Metrics/Deploys/Release/index.tsx
Labels: ui

#1256 HotFix: Fixing deployment configuration validation on workspace update
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImplTest.groovy
Labels: bug, hotfix, moove, severity/critical

#1255 Improve package.json
  ui/package-lock.json
  ui/package.json
  ui/src/containers/Can/index.tsx
  ui/src/core/components/Form/Select/Async/Select.tsx
  ui/src/modules/Groups/Tabs/Tab.tsx
  ui/src/modules/Groups/state/reducer.ts
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
Labels: ui

#1266 add prettierc
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImplTest.groovy
  ui/src/.prettierrc
Labels: moove, ui

#1261 Initialize Storybook
  ui/.gitignore
  ui/.prettierrc
  ui/.storybook/main.js
  ui/.storybook/preview.js
  ui/package-lock.json
  ui/package.json
  ui/src/core/components/TabPanel/index.tsx
  ui/src/core/components/Text/index.tsx
  ui/src/stories/TabPanel.stories.tsx
  ui/src/stories/Text.stories.tsx
Labels: ui

#1269 Chart components story
  ui/src/core/components/Chart/config.ts
  ui/src/core/components/Chart/index.tsx
  ui/src/core/components/Chart/styled.ts
  ui/src/core/components/Charts/Area/config.ts
  ui/src/core/components/Charts/Area/styled.ts
  ui/src/core/components/Charts/Column/config.ts
  ui/src/core/components/Charts/Column/index.tsx
  ui/src/core/components/Charts/Column/styled.ts
  ui/src/core/components/Charts/Mixed/index.tsx
  ui/src/core/components/Charts/index.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/MonitoringMetrics.tsx
  ui/src/modules/Metrics/Deploys/styled.ts
  ui/src/stories/Chart.stories.tsx
Labels: ui

#1271 Cards refactor
  ui/src/core/assets/themes/card/circle.ts
  ui/src/core/assets/themes/card/index.ts
  ui/src/core/assets/themes/card/role.ts
  ui/src/core/components/Button/ButtonDefault/__tests__/Button.Default.spec.tsx
  ui/src/core/components/Card/Base/index.tsx
  ui/src/core/components/Card/Base/styled.ts
  ui/src/core/components/Card/Body/index.tsx
  ui/src/core/components/Card/Circle/__tests__/Circle.spec.tsx
  ui/src/core/components/Card/Circle/index.tsx
  ui/src/core/components/Card/Circle/styled.ts
  ui/src/core/components/Card/Config/index.tsx
  ui/src/core/components/Card/Expand/index.tsx
  ui/src/core/components/Card/Expand/styled.ts
  ui/src/core/components/Card/Main/index.tsx
  ui/src/core/components/Card/Main/styled.ts
  ui/src/core/components/Card/Release/__tests__/Release.spec.tsx
  ui/src/core/components/Card/Release/index.tsx
  ui/src/core/components/Card/Role/index.tsx
  ui/src/core/components/Card/Role/styled.ts
  ui/src/core/components/Card/__tests__/Card.spec.tsx
  ui/src/core/components/Card/index.ts
  ui/src/modules/Circles/Comparation/Item/Layer/Release.tsx
  ui/src/modules/Modules/Comparation/View/styled.ts
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/index.tsx
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/index.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Webhook/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/index.tsx
  ui/src/modules/Tokens/Comparation/View/styled.ts
  ui/src/stories/Cards/CardBase.stories.tsx
  ui/src/stories/Cards/CardBody.stories.tsx
  ui/src/stories/Cards/CardConfig.stories.tsx
  ui/src/stories/Cards/CardExpand.stories.tsx
  ui/src/stories/Cards/CardHeader.stories.tsx
  ui/src/stories/Cards/CardMain.stories.tsx
  ui/src/stories/Cards/CardRelease.stories.tsx
Labels: ui
