Repository ZupIT/charlescd, pull requests merged in 2021-07, with the labels that each got.

#1346 fix modal token size
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/styled.ts
Labels: bug, ui

#1348 fix token next button
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/core/components/Modal/Default/index.tsx
  ui/src/core/components/Text/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
Labels: bug, ui

#1347 Set preview background to dark
  ui/.storybook/main.js
  ui/.storybook/preview.js
  ui/package-lock.json
Labels: ui

#1358 fix failing run
  ui/package-lock.json
  ui/src/stories/Panel/Content.stories.tsx
  ui/src/stories/Panel/Section.stories.tsx
Labels: ui

#1356 Update moove pom.xml - Keycloak Admin Client 13.0.0 and Jboss RestEAS…
  moove/pom.xml
Labels: moove

#1369 Update gate postman collection
  butler/README.md
  gate/resources/postman/Charles Gate.postman_collection.json
  gate/resources/postman/Charles_Gate.postman_collection.json
  gate/resources/postman/gate local.postman_environment.json
Labels: butler, gate

#1366 Add hermes postman collection v1
  hermes/resources/postman/Hermes.postman_collection.json
Labels: butler, hermes

#1364 Updating butler postman collection v2
  butler/src/resources/postman/Charles_Butler.Local_setup.json
  butler/src/resources/postman/Charles_Butler.postman_collection.json
  butler/src/resources/postman/Darwin_Deploy.postman_collection.json
  butler/src/resources/postman/local.postman_environment.json
Labels: butler

#1343 Improvement/gate returning right error code
  gate/internal/logging/errors.go
  gate/web/api/handlers/authorization_handler.go
  gate/web/api/handlers/representation/system_token.go
  gate/web/api/handlers/system_token_handler.go
Labels: TESTED, gate

#1370 Hotfix/charlescd release 1.0.1
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2CircleController.kt
  ui/src/modules/Circles/Release/Create/Module.tsx
  ui/src/modules/Circles/Release/Create/helpers.ts
  ui/src/modules/Circles/Release/Create/index.tsx
  ui/src/modules/Modules/Comparation/Form/helpers.ts
Labels: moove, ui

#1367 Add circle matcher postman collection
  circle-matcher/src/postman/circle-matcher.postman_collection.json
Labels: butler, circle-matcher

#1378 fix error-500
  hermes/web/api/subscription/subscription.go
Labels: TESTED, bug, hermes

#1381 Add introduction to storybook
  ui/src/stories/introduction.stories.mdx
Labels: ui

#1384 Fix button disable
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Release.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Segments.tsx
Labels: bug, ui

#1385 Revert "Fix button disable"
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Release.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Segments.tsx
Labels: ui

#1386 Fix failing snapshots
  ui/src/__snapshots__/storybook.test.js.snap
  ui/src/core/components/Card/Main/styled.ts
  ui/src/core/components/RadioButtons/index.tsx
  ui/src/stories/Cards/CardRelease.stories.tsx
  ui/src/stories/Modal/Trigger.stories.tsx
Labels: ui

#1377 improve response on subscription publish
  hermes/internal/notification/message/main.go
  hermes/internal/notification/message/message.go
Labels: TESTED, bug, hermes

#1393 fix button disable
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Release.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Segments.tsx
Labels: TESTED, ui
