Repository ZupIT/charlescd, pull requests merged in 2021-06, with the labels that each got.

#1283 add storybook testing
  ui/README.md
  ui/package-lock.json
  ui/package.json
  ui/src/__snapshots__/storybook.test.js.snap
  ui/src/core/components/Chart/__tests__/Chart.spec.tsx
  ui/src/core/components/Chart/config.ts
  ui/src/stories/Button/ButtonDefault.stories.tsx
  ui/src/stories/Button/ButtonRounded.stories.tsx
  ui/src/stories/Chart.stories.tsx
  ui/src/storybook.test.js
Labels: ui

#1290 Adjust chart component story
  ui/src/stories/Chart.stories.tsx
Labels: ui

#1285 Switch
  ui/src/core/components/Switch/index.tsx
  ui/src/stories/Switch/Switch.stories.tsx
Labels: documentation, ui

#1291 Avatar
  ui/src/core/components/Avatar/__tests__/Avatar.spec.tsx
  ui/src/core/components/Avatar/helper.ts
  ui/src/core/components/Avatar/index.tsx
  ui/src/core/components/Avatar/styled.ts
  ui/src/core/components/AvatarName/__tests__/AvatarName.spec.tsx
  ui/src/core/components/AvatarName/helper.ts
  ui/src/core/components/AvatarName/styled.ts
  ui/src/modules/Account/index.tsx
  ui/src/modules/Groups/Tabs/Form/styled.ts
  ui/src/modules/Groups/Tabs/Modal/styled.ts
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/stories/Avatar/Avatar.stories.tsx
Labels: documentation, ui

#1276 Badge
  ui/package-lock.json
  ui/src/core/components/Badge/__tests__/Badge.spec.tsx
  ui/src/core/components/Badge/index.tsx
  ui/src/stories/Badge/Badge.stories.tsx
Labels: documentation, ui

#1294 Editor refactor
  ui/package-lock.json
  ui/package.json
  ui/src/core/assets/themes/editor.ts
  ui/src/core/assets/themes/index.ts
  ui/src/core/components/AceEditor/index.tsx
  ui/src/core/components/AceEditor/styled.ts
  ui/src/core/components/Editor/__tests__/Editor.spec.tsx
  ui/src/core/components/Editor/helper.ts
  ui/src/core/components/Editor/index.tsx
  ui/src/core/components/Editor/styled.tsx
  ui/src/core/components/Form/AceEditor/__tests__/AceEditor.spec.tsx
  ui/src/core/components/Form/AceEditor/index.tsx
  ui/src/core/utils/validations.ts
  ui/src/modules/Circles/Comparation/Item/History/Logs.tsx
  ui/src/modules/Circles/Comparation/Item/History/styled.ts
  ui/src/modules/Circles/Matcher/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
  ui/src/modules/Workspaces/index.tsx
  ui/src/stories/Editor.stories.tsx
Labels: ui

#1280 fix module edit
  ui/src/modules/Modules/Comparation/Form/helpers.ts
Labels: bug, ui

#1278 Auth and token is now nullable
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2CircleController.kt
Labels: moove

#1301 add storybook tests
  ui/package.json
  ui/src/__snapshots__/storybook.test.js.snap
  ui/src/core/components/Avatar/helper.ts
  ui/src/core/providers/base/hooks.ts
  ui/src/modules/Users/Comparation/Item/__tests__/Item.spec.tsx
Labels: ui

#1298 Link
  ui/src/core/components/Card/Expand/Module/index.tsx
  ui/src/core/components/DocumentationLink/__tests__/DocumentationLink.spec.tsx
  ui/src/core/components/DocumentationLink/interface.ts
  ui/src/core/components/Form/InputLink/__tests__/Input.Link.spec.tsx
  ui/src/core/components/Form/InputLink/index.tsx
  ui/src/core/components/Form/InputLink/styled.ts
  ui/src/core/components/Form/Link/__tests__/Input.Link.spec.tsx
  ui/src/core/components/Form/Link/index.tsx
  ui/src/core/components/Form/index.ts
  ui/src/core/components/Link/index.tsx
  ui/src/core/components/Link/styled.ts
  ui/src/modules/Modules/Comparation/View/index.tsx
  ui/src/modules/Modules/Comparation/View/styled.ts
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/styled.ts
  ui/src/modules/Settings/Credentials/Sections/Webhook/Form.tsx
  ui/src/modules/Tokens/Comparation/Form/Scopes/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/View/index.tsx
  ui/src/modules/Tokens/Comparation/View/styled.ts
  ui/src/stories/Form/InputLink/InputLink.stories.tsx
  ui/src/stories/Link/Link.stories.tsx
Labels: documentation, ui

#1297 Add modals to storybook
  ui/.storybook/preview.js
  ui/src/core/components/Modal/FullScreen/index.tsx
  ui/src/core/components/Modal/ModalDefault/index.tsx
  ui/src/core/components/Modal/ModalDefault/styled.ts
  ui/src/core/components/Modal/Trigger/__tests__/Trigger.spec.tsx
  ui/src/core/components/Modal/Trigger/index.tsx
  ui/src/core/components/Modal/Trigger/styled.ts
  ui/src/core/components/Modal/Wizard/__tests__/Wizard.spec.tsx
  ui/src/core/components/Modal/Wizard/index.tsx
  ui/src/core/components/Modal/index.tsx
  ui/src/modules/Account/styled.ts
  ui/src/modules/Circles/Comparation/Item/CreateSegments/index.tsx
  ui/src/modules/Circles/Comparation/Item/History/styled.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetricsGroup.tsx
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Groups/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/index.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/index.tsx
  ui/src/modules/Settings/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Modal/Regenerate.tsx
  ui/src/modules/Tokens/Comparation/Modal/Revoke.tsx
  ui/src/modules/Users/Comparation/Item/Modals/ResetPassword/styled.ts
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Workspaces/index.tsx
  ui/src/stories/Modal/Default.stories.tsx
  ui/src/stories/Modal/FullScreen.stories.tsx
  ui/src/stories/Modal/Trigger.stories.tsx
  ui/src/stories/Modal/Wizard.stories.tsx
Labels: ui

#1299 add Checkpassword to storybook
  ui/src/core/components/CheckPassword/CheckPassword.tsx
  ui/src/core/components/CheckPassword/index.tsx
  ui/src/stories/CheckPassword.stories.tsx
Labels: ui

#1303 update test file to use msw
  ui/src/mocks/handlers/modules/index.ts
  ui/src/modules/Modules/Comparation/View/__tests__/View.spec.tsx
Labels: ui

#1305 Fix layout
  ui/src/modules/Circles/Comparation/Item/styled.ts
Labels: TESTED, ui

#1247 Fix new form already filled
  ui/src/modules/Users/Create/Form.tsx
  ui/src/modules/Users/Create/__tests__/CreateUser.spec.tsx
  ui/src/modules/Users/interfaces/User.ts
Labels: TESTED, ui

#1310 [documentation] LabeledIcon
  ui/package-lock.json
  ui/src/stories/LabeledIcon.stories.tsx
Labels: ui

#1309 Added Dropdown component to storybook
  ui/src/core/components/Dropdown/DropdownItem/__tests__/DropdownItem.spec.tsx
  ui/src/core/components/Dropdown/DropdownItem/index.tsx
  ui/src/core/components/Dropdown/DropdownItem/styled.ts
  ui/src/core/components/Dropdown/NewDropDown.tsx
  ui/src/core/components/Dropdown/index.tsx
  ui/src/core/components/Dropdown/styled.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/ActionCard.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/MetricCard.tsx
  ui/src/stories/Dropdown/DrodownItem.stories.tsx
  ui/src/stories/Dropdown/Dropdown.stories.tsx
Labels: ui

#1311 [documentation] Layer
  ui/src/core/components/Layer/index.tsx
  ui/src/stories/LabeledIcon.stories.tsx
  ui/src/stories/Layer.stories.tsx
Labels: ui

#1292 Fix permission when user has limited access
  ui/src/modules/Circles/Comparation/Item/Layer/MetricsGroups.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Name.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Release.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/__tests__/MetricsGroups.spec.tsx
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Circles/Comparation/Item/styled.ts
  ui/src/modules/Modules/Comparation/View/index.tsx
Labels: TESTED, bug, ui

#1316 new data test id
  ui/src/modules/Tokens/Comparation/Form/Scopes/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/index.tsx
Labels: ui

#1314 add Icon component to storybook
  ui/src/core/components/Icon/index.tsx
  ui/src/stories/Icon.stories.tsx
Labels: ui

#1320 Component infinitescroll
  ui/src/core/components/InfiniteScroll/__tests__/InfiniteScroll.spec.tsx
  ui/src/core/components/InfiniteScroll/index.tsx
  ui/src/stories/InfiniteScroll/InfiniteScroll.stories.tsx
  ui/src/stories/InfiniteScroll/Styled.ts
Labels: ui

#1308 Fix tooltip text for delete circle
  ui/src/containers/Can/index.tsx
  ui/src/core/components/Dropdown/Item/styled.ts
  ui/src/modules/Circles/Comparation/Item/__tests__/CircleComparationItem.spec.tsx
  ui/src/modules/Circles/Comparation/Item/__tests__/helpers.spec.tsx
  ui/src/modules/Circles/Comparation/Item/helpers.ts
  ui/src/modules/Circles/Comparation/Item/index.tsx
Labels: TESTED, bug, ui

#1326 add placeholder component to storybook
  ui/src/core/components/Placeholder/index.tsx
  ui/src/modules/Groups/Placeholder/index.tsx
  ui/src/stories/Placeholder.stories.tsx
Labels: ui

#1325 add popover component to storybook
  ui/src/core/components/Popover/index.tsx
  ui/src/stories/Popover.stories.tsx
Labels: ui

#1322 add Page component to storybook
  ui/src/core/components/Page/index.tsx
  ui/src/stories/Page.stories.tsx
Labels: ui

#1319 Add Notification component to storybook
  ui/src/core/components/Notification/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/index.tsx
  ui/src/stories/Notification/Notification.stories.tsx
  ui/src/stories/Notification/NotificationLog.stories.tsx
Labels: ui

#1315 Add Navtabs to storybook
  ui/src/core/components/NavTabs/Placeholder.tsx
  ui/src/core/components/NavTabs/index.tsx
  ui/src/stories/Navtabs.stories.tsx
Labels: ui

#1328 [refator and documentation] Component radio
  ui/src/__snapshots__/storybook.test.js.snap
  ui/src/core/components/Radio/Cards/Item.tsx
  ui/src/core/components/Radio/Cards/index.tsx
  ui/src/core/components/Radio/Cards/styled.ts
  ui/src/core/components/RadioButtons/__tests__/RadioButtons.spec.tsx
  ui/src/core/components/RadioButtons/index.tsx
  ui/src/core/components/RadioButtons/styled.ts
  ui/src/modules/Circles/Release/index.tsx
  ui/src/modules/Settings/Credentials/Sections/DeploymentConfiguration/constants.ts
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/constants.ts
  ui/src/stories/RadioButtons.stories.tsx
Labels: ui

#1330 fix access token next button
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/modules/Groups/Tabs/Form/__tests__/Form.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/Form.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/__tests__/Tab.spec.tsx
  ui/src/modules/Users/Comparation/Item/__tests__/Item.spec.tsx
Labels: bug, ui

#1341 list workspace owner
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/Content/Item.tsx
  ui/src/modules/Workspaces/hooks.ts
  ui/src/modules/Workspaces/interfaces/WorkspacePagination.ts
Labels: bug, ui
