Repository ZupIT/charlescd, pull requests merged in 2021-01, with the labels that each got.

#766 Butler k8s tests
  butler/src/app/v2/core/integrations/k8s/client.ts
  butler/src/tests/v2/integration/test-setup-utils.ts
  butler/src/tests/v2/unit/k8s/deployment-client.spec.ts
  butler/src/tests/v2/unit/k8s/routing-client.spec.ts
  butler/src/tests/v2/unit/k8s/undeployment-client.spec.ts
Labels: butler

#704 Adding Transactional to create user
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/CreateUserInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/CreateUserInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
Labels: TESTED, bug, moove

#774 Butler operator manifests
  butler/src/app/v2/api/deployments/dto/create-component-request.dto.ts
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
  butler/src/app/v2/api/deployments/entity/component.entity.ts
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/resources/migrations/20210106163900-add-manifests-column-to-v2components.ts
  butler/src/resources/stubby/integrations.yml
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/integration/controllers/callback.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
  butler/src/tests/v2/integration/fixture-utils.service.ts
  butler/src/tests/v2/integration/handlers/deployment-cleanup.handler.integration-spec.ts
  butler/src/tests/v2/integration/handlers/deployment.handler.integration-spec.ts
  butler/src/tests/v2/integration/pipes/simultaneous-deployment-validation.integration-spec.ts
  butler/src/tests/v2/integration/pipes/undeployment-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/use-cases/create-deployment-usecase.integration-spec.ts
  butler/src/tests/v2/unit/utils/replaced-components.spec.ts
Labels: butler

#738 Payload validation
  circle-matcher/pom.xml
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/request/SegmentationRequest.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Content.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Node.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/SegmentationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/validation/NodeConstraint.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/validation/NodeValidator.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/handler/ErrorHandler.java
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/NodeTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/service/SegmentationServiceImplTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/validation/NodeValidationTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/repository/SegmentationRepositoryTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/utils/TestUtils.groovy
Labels: TESTED, circle-matcher

#780 Checkbox - New core/component
  ui/src/core/assets/themes/checkbox.ts
  ui/src/core/assets/themes/select.ts
  ui/src/core/components/Form/Checkbox/__tests__/Checkbox.spec.tsx
  ui/src/core/components/Form/Checkbox/index.tsx
  ui/src/core/components/Form/Checkbox/styled.ts
  ui/src/core/components/Form/Select/CustomOptions/Check/index.tsx
  ui/src/core/components/Form/Select/CustomOptions/Checkbox/__tests__/Checkbox.spec.tsx
  ui/src/core/components/Form/Select/CustomOptions/Checkbox/index.tsx
  ui/src/core/components/Form/Select/CustomOptions/Checkbox/styled.ts
Labels: ui

#787 Hotfix: registry connection test.
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/controller/CredentialConfigurationController.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationService.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/controller/CredentialConfigurationControllerUnitTest.groovy
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationServiceUnitTest.kt
Labels: hotfix, moove

#695 Git branch name validations
  moove/README.md
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/card/BranchNameValidations.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/card/CreateCardRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/card/UpdateCardRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/CardService.kt
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CardServiceUnitTest.kt
  ui/src/core/components/NavTabs/Placeholder.tsx
  ui/src/core/providers/base/index.ts
  ui/src/modules/Circles/Comparation/Item/Layer/Metrics.tsx
  ui/src/modules/Circles/List/helpers.ts
  ui/src/modules/Circles/List/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Modules/Modal/__tests__/Modal.spec.tsx
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Modules/Modal/index.tsx
  ui/src/modules/Hypotheses/Board/hooks.ts
  ui/src/modules/Hypotheses/Board/interfaces.ts
  villager/README.md
Labels: TESTED, moove, ui, villager

#789 Fix moove public paths
  moove/security/src/main/kotlin/io/charlescd/moove/security/filter/CharlesSecurityFilter.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/filter/RateLimitInterceptor.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/utils/FileUtils.kt
  moove/security/src/main/kotlin/io/charlescd/moove/security/utils/FilterUtils.kt
  moove/security/src/test/groovy/io/charlescd/moove/security/filter/RateLimitInterceptorTest.groovy
Labels: TESTED, moove

#783 Datasource improvements
  ui/src/core/assets/themes/text.ts
  ui/src/core/components/Form/Select/Async/Select.tsx
  ui/src/core/components/Form/Select/Select.tsx
  ui/src/core/components/Form/Select/Single/SingleValue.tsx
  ui/src/core/components/Form/Select/SingleValue.tsx
  ui/src/core/components/Form/Select/__tests__/Select.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/styled.ts
Labels: TESTED, ui

#762 Update typescript and jest dependencies
  butler/package-lock.json
  butler/package.json
  butler/src/app/v2/core/integrations/interfaces/cd-connector.interface.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: butler

#782 User group improvements
  ui/public/manifest.json
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/FormUserGroup.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/fixtures.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/interfaces.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/styled.ts
Labels: TESTED, ui

#798 UI improvement in workspace configuration screen
  ui/src/modules/Settings/Credentials/Section/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/index.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/index.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/index.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/index.tsx
  ui/src/modules/Settings/Credentials/__tests__/Credentials.spec.tsx
  ui/src/modules/Settings/Credentials/index.tsx
  ui/src/modules/Settings/Credentials/styled.ts
Labels: TESTED, ui

#805 Hotfix: adding authorId when creating cd configuration.
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/request/CreateDeployOctopipeCdConfigurationRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/request/CreateDeploySpinnakerCdConfigurationRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/configuration/CreateOctopipeCdConfigurationRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/request/configuration/CreateSpinnakerCdConfigurationRequest.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationService.kt
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CardServiceUnitTest.kt
  moove/legacy-moove/src/test/kotlin/io/charlescd/moove/legacy/moove/service/CredentialConfigurationServiceUnitTest.kt
Labels: TESTED, moove

#806 Change aws secret key text field to password field
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
Labels: TESTED, ui

#811 Fix link menu size
  ui/src/modules/Circles/Menu/styled.ts
Labels: TESTED, bug, ui

#813 Compass token bug hotfix
  compass/Dockerfile
  compass/pkey.txt
  compass/web/api/v1/v1.go
Labels: compass

#817 Registry and git improvements
  ui/src/core/components/Form/Select/Single/Select.tsx
  ui/src/core/components/Form/Select/Single/SingleValue.tsx
  ui/src/core/components/Form/Select/Single/styled.ts
  ui/src/core/components/Form/Select/interfaces.ts
  ui/src/core/hooks/useTestConnection.ts
  ui/src/core/providers/registry.ts
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/hooks.ts
  ui/src/modules/Settings/Credentials/Sections/Registry/styled.ts
Labels: TESTED, ui

#781 UI improvement in Metric Action
  ui/src/core/assets/colors.ts
  ui/src/core/assets/themes/popover.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetric.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddMetric.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/styled.ts
Labels: TESTED, ui

#821 Automation data testid
  ui/src/modules/Groups/__tests__/Groups.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
Labels: ui

#822 Hermes workflows
  .github/.codecov.yml
  .github/boring-cyborg.yml
  .github/workflows/hermes-ci.yml
  .github/workflows/hermes-devrelease.yml
  hermes/Dockerfile
  hermes/Makefile
Labels: hermes

#823 Datasource test connection error
  compass/web/api/v1/datasource/datasource.go
Labels: TESTED, compass

#770 Update engine matcher
  .github/workflows/circle-matcher-ci.yml
  .github/workflows/circle-matcher-devrelease.yml
  circle-matcher/Dockerfile
  circle-matcher/README.md
  circle-matcher/run-local.sh
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/ScriptManagerService.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/ScriptManagerServiceImpl.java
Labels: TESTED, circle-matcher

#739 Fix octopipe overriding helm objects
  octopipe/pkg/template/helm/fake/simple-darwin-overriding-helm.tgz
  octopipe/pkg/template/helm/fake/simple-darwin.tgz
  octopipe/pkg/template/helm/helm.go
  octopipe/pkg/template/helm/helm_test.go
Labels: TESTED, octopipe

#825 Update graalvm image
  circle-matcher/Dockerfile
Labels: circle-matcher

#833 Fix metrics endpoint
  compass/web/api/api.go
Labels: bug, compass

#820 Butler operator routes
  butler/src/app/v2/operator/hook-reconcile-response.dto.ts
  butler/src/app/v2/operator/operator.module.ts
  butler/src/app/v2/operator/routes.hook.controller.ts
  butler/src/app/v2/operator/use-cases/create-routes-manifests.usecase.ts
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
Labels: butler

#835 Fix filter workspaces
  ui/src/modules/Workspaces/index.tsx
Labels: ui

#815 Fix duplicated circle list after delete a circle
  ui/src/core/components/Dropdown/Item/__tests__/DropdownItem.spec.tsx
  ui/src/core/components/Dropdown/Item/index.tsx
  ui/src/core/components/Dropdown/Item/styled.ts
  ui/src/modules/Circles/Comparation/Item/__tests__/helpers.spec.tsx
  ui/src/modules/Circles/Comparation/Item/helpers.ts
  ui/src/modules/Circles/Comparation/Item/index.tsx
  ui/src/modules/Circles/index.tsx
Labels: TESTED, ui

#797 Fix octopipe cd configuration
  butler/src/app/v2/core/validations/schemas/octopipe-default-configuration-data.schema.ts
  butler/src/app/v2/core/validations/schemas/octopipe-eks-configuration-data.schema.ts
  butler/src/app/v2/core/validations/schemas/octopipe-generic-configuration-data.schema.ts
  butler/src/main.ts
Labels: TESTED, butler

#761 Improve git usability
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/request/CreateGitConfigurationRequest.kt
  ui/src/core/assets/colors.ts
  ui/src/core/assets/themes/popover.ts
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/__tests__/Form.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/styled.ts
Labels: TESTED, moove, ui

#853 Fixed regex URL validation
  moove/application/src/main/kotlin/io/charlescd/moove/application/module/request/CreateModuleRequest.kt
Labels: TESTED, backend, bug, moove
