Repository ZupIT/charlescd, pull requests merged in 2021-02, with the labels that each got.

#866 fix bean error
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2DeploymentController.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/HermesPublisherEncoderConfiguration.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/SimpleFeignEncoderConfiguration.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/HermesPublisherClient.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/configuration/SimpleFeignErrorDecoderConfigurationTest.groovy
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/config/DefaultLegacyErrorDecoderConfiguration.kt
Labels: moove

#867 fixing tests
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/config/DefaultLegacyErrorDecoderConfigurationTest.groovy
Labels: moove

#863 fix git payload build
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
Labels: TESTED, ui

#841 Fix infinite scroll when page zoom is above 80%
  ui/src/core/components/InfiniteScroll/index.tsx
  ui/src/core/hooks/useInfiniteScroll.ts
Labels: TESTED, ui

#857 Verify git configuration is is null on git configuration mapper
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/GitConfigurationMapper.kt
Labels: moove

#873 Fix workspace list in external IDM flow
  ui/src/modules/Circles/Release/Create/__tests__/CreateRelease.spec.tsx
  ui/src/modules/Workspaces/__tests__/Workspace.spec.tsx
  ui/src/modules/Workspaces/index.tsx
Labels: bug, ui

#878 HOTFIX: getting workspaces when user is authenticated with external IDM and is not root.
  ui/src/modules/Workspaces/index.tsx
Labels: bug, ui

#879 Improvements for IDM flow
  ui/src/modules/Users/hooks.ts
Labels: bug, ui

#886 change response paylod from event history webhook service
  moove/application/src/main/kotlin/io/charlescd/moove/application/webhook/response/EventHistoryWebhookSubscriptionResponse.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/webhook/impl/EventHistoryWebhookSubscriptionInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/WebhookSubscriptionEventHistory.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/HermesClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/HermesClient.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/HermesSubscriptionEventHistoryResponse.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/HermesClientServiceTest.groovy
Labels: moove

#871 Add data-testid
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
Labels: data-testid, ui

#893 putting null apikey
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/WebhookSubscription.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/request/HermesCreateSubscriptionRequest.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/HermesSubscriptionResponse.kt
Labels: moove

#894 fix webhook checkpoint endpoint details and response
  hermes/internal/notification/payloads/messagepayloads.go
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/WebhookController.kt
Labels: moove

#827 Configure timeout for charts download from github and gitlab
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/app/v2/core/constants/application/configuration.constants.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
Labels: butler

#851 Adding pagination for User Groups menu items
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2UserGroupController.kt
  ui/src/core/providers/user-group.ts
  ui/src/modules/Groups/Menu/Loaders/list.tsx
  ui/src/modules/Groups/Menu/MenuItem.tsx
  ui/src/modules/Groups/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Groups/Menu/index.tsx
  ui/src/modules/Groups/Menu/styled.ts
  ui/src/modules/Groups/__tests__/GroupsComponents.spec.tsx
  ui/src/modules/Groups/helpers.ts
  ui/src/modules/Groups/hooks.ts
  ui/src/modules/Groups/index.tsx
  ui/src/modules/Groups/state/actions.ts
  ui/src/modules/Groups/state/reducer.ts
Labels: TESTED, moove, ui

#888 Fixing find user by email
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/FindUserByEmailInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/FindUserByEmailInteractorImplTest.groovy
Labels: TESTED, moove

#901 Workspaces users endpoint
  .github/.codecov.yml
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2WorkspaceController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/FindAllWorkspaceUsersInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/FindAllWorkspaceUsersInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/FindAllWorkspaceUsersInteractorImplTest.groovy
Labels: moove, ui

#900 User Group modal multi-selection lost the selection after a search
  ui/src/modules/Groups/Tabs/Modal/index.tsx
  ui/src/modules/Groups/Tabs/Modal/styled.ts
Labels: TESTED, bug, ui

#880 Improvements for Workspace list menu in IDM flow
  ui/src/modules/Users/hooks.ts
  ui/src/modules/Workspaces/index.tsx
Labels: TESTED, bug, ui

#864 Add pagination to Modules menu
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2ModuleController.kt
  ui/src/core/providers/modules.ts
  ui/src/modules/Modules/Comparation/styled.ts
  ui/src/modules/Modules/Menu/Loaders/list.tsx
  ui/src/modules/Modules/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Modules/Menu/index.tsx
  ui/src/modules/Modules/Menu/styled.ts
  ui/src/modules/Modules/hooks/module.ts
  ui/src/modules/Modules/index.tsx
  ui/src/modules/Modules/interfaces/Component.ts
  ui/src/modules/Modules/interfaces/Module.ts
  ui/src/modules/Modules/state/actions.ts
  ui/src/modules/Modules/state/reducer.ts
  ui/yarn.lock
Labels: TESTED, enhancement, moove, ui

#763 Updating prerelease and prodrelease workflows
  .github/workflows/charlescd-prerelease.yml
  .github/workflows/charlescd-prodrelease.yml
Labels: no-pr-activity

#892 Deployments pagination: adding max page length.
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2DeploymentController.kt
  ui/src/core/providers/metrics.ts
Labels: TESTED, moove, ui

#910 Updating typeorm version
  butler/package-lock.json
  butler/package.json
Labels: butler

#613 User flow with external IDM
  moove/application/src/main/kotlin/io/charlescd/moove/application/UserService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/ChangeUserPasswordInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/CreateUserInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/user/impl/ResetUserPasswordInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/ChangeUserPasswordInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/CreateUserInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/user/impl/ResetUserPasswordInteractorImplTest.groovy
  moove/commons/src/main/kotlin/io/charlescd/moove/commons/constants/MooveErrorCodeLegacy.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/service/UserServiceLegacy.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/service/UserServiceLegacyGroovyUnitTest.groovy
  moove/web/src/main/resources/locale/messages.properties
  moove/web/src/main/resources/locale/messages_pt_BR.properties
  ui/src/Routes.tsx
  ui/src/core/assets/svg/shield.svg
  ui/src/core/providers/base/hooks.ts
  ui/src/core/utils/auth.ts
  ui/src/modules/Account/index.tsx
  ui/src/modules/Auth/index.tsx
  ui/src/modules/Circles/Release/Create/__tests__/CreateRelease.spec.tsx
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/Menu/MenuItem.tsx
  ui/src/modules/Users/Menu/index.tsx
  ui/src/modules/Users/Menu/styled.ts
  ui/src/modules/Users/hooks.ts
  ui/src/modules/Users/index.tsx
  ui/src/modules/Workspaces/__tests__/Workspaces.spec.tsx
  ui/src/modules/Workspaces/index.tsx
Labels: TESTED, moove, ui

#611 Identify only active circles
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/configuration/ApplicationReadyListener.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/api/request/SegmentationRequest.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Condition.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/KeyMetadata.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/Segmentation.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/IdentificationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/SegmentationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/infrastructure/repository/KeyMetadataRepository.java
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/configuration/ApplicationReadyEventTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/ConditionTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/service/IdentificationServiceImplTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/domain/service/SegmentationServiceImplTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/SegmentationKeyUtilsTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/repository/KeyMetadataRepositoryTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/infrastructure/repository/SegmentationRepositoryTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/utils/TestUtils.groovy
  moove/application/src/main/kotlin/io/charlescd/moove/application/CsvSegmentationService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/PatchCircleInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/circle/impl/UpdateCircleWithCsvFileInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImpl.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/PatchCircleInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/circle/impl/UpdateCircleWithCsvFileInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImplTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/CircleMatcherService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/CircleMatcherClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/request/CircleMatcherRequest.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/CircleMatcherClientServiceTest.groovy
Labels: TESTED, butler, circle-matcher, moove

#779 Added new validation in the createModuleRequest
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/validations/component-not-empty.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
Labels: TESTED, butler

#913 Update Metrics Bug
  compass/internal/metric/main.go
  compass/internal/metric/metric.go
  compass/internal/tests/metric_test.go
  compass/web/api/v1.go
  compass/web/api/v1/metric/metric.go
Labels: TESTED

#916 Fix show Compass error messages
  ui/src/core/interfaces/ValidationError.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetric.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/hooks.ts
Labels: ui

#914 Remove totalPages from executions response
  butler/src/app/v2/api/deployments/dto/execution/paginated-execution-query.dto.ts
  butler/src/app/v2/api/deployments/dto/execution/paginated-executions.dto.ts
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/api/deployments/use-cases/paginated-executions.usecase.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
Labels: TESTED, butler

#912 Butler operator health status
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/app/v2/api/deployments/repository/deployment.repository.ts
  butler/src/app/v2/api/deployments/use-cases/create-undeployment.usecase.ts
  butler/src/app/v2/core/integrations/utils/istio-deployment-manifests.utils.ts
  butler/src/app/v2/core/integrations/utils/istio-undeployment-manifests.utils.ts
  butler/src/app/v2/operator/deployments.hook.controller.ts
  butler/src/app/v2/operator/params.interface.ts
  butler/src/app/v2/operator/partial-params.interface.ts
  butler/src/app/v2/operator/use-cases/create-routes-manifests.usecase.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployments.usecase.ts
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/integration/operator/create-routes-manifests-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile.spec.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/no-repeated-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/no-repeated-default-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-default-circle-dr.ts
Labels: butler

#915 Fix butler operator namespace issues
  butler/src/app/v2/core/config/configurations.ts
  butler/src/app/v2/core/configuration/interfaces/env-configuration.interface.ts
  butler/src/app/v2/core/constants/application/configuration.constants.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/k8s/client.ts
  butler/src/app/v2/core/integrations/k8s/crd-builder.ts
  butler/src/app/v2/operator/deployments.hook.controller.ts
  butler/src/app/v2/operator/operator.module.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployment.usecase.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployments.usecase.ts
  butler/src/tests/v2/fixtures/deployment-entity.fixture.ts
  butler/src/tests/v2/unit/github/github-repository.spec.ts
  butler/src/tests/v2/unit/gitlab/gitlab-repository.spec.ts
  butler/src/tests/v2/unit/k8s/create-deployment-crd.spec.ts
  butler/src/tests/v2/unit/k8s/create-route-crd.spec.ts
  butler/src/tests/v2/unit/k8s/deployment-client.spec.ts
  butler/src/tests/v2/unit/k8s/fixtures/expected-deployment-crd.ts
  butler/src/tests/v2/unit/k8s/routing-client.spec.ts
  butler/src/tests/v2/unit/k8s/undeployment-client.spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile.spec.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-with-overrides-and-delete-proxy-circle.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-with-overrides-and-delete-proxy.ts
  butler/src/tests/v2/unit/spinnaker/pipeline-builder-deployment-override-remove-proxies.spec.ts
  install/helm-chart/templates/charlescd-butler-deployment.yaml
Labels: butler

#927 Removing mem param from dockerfile.
  circle-matcher/Dockerfile
  moove/web/Dockerfile
Labels: circle-matcher, moove

#929 refactoring last status health check endpoint
  hermes/internal/notification/message/message.go
  hermes/internal/notification/messagePubSub/consumer.go
  hermes/internal/notification/messagePubSub/main.go
  hermes/internal/notification/messagePubSub/publisher.go
  hermes/internal/notification/messageexecutionhistory/main.go
  hermes/internal/notification/messageexecutionhistory/messageexecutionhistory.go
  hermes/internal/notification/payloads/messageexecutionpayloads.go
  hermes/internal/notification/payloads/messagepayloads.go
  hermes/internal/subscription/subscription.go
  hermes/migrations/202012140957_initial_structure.up.sql
  hermes/web/api/subscription/subscription.go
  ui/src/core/assets/themes/card/main.ts
  ui/src/core/components/Card/Main/index.tsx
  ui/src/core/utils/http.ts
  ui/src/modules/Settings/Credentials/Sections/Webhook/index.tsx
Labels: ui

#925 Resources whitelist adr
  butler/doc/adr/0002-concat-circleid-whitelist.md
Labels: butler

#926 Fix field array default values
  ui/package.json
  ui/src/core/interfaces/ValidationError.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetric.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/BasicQueryForm.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/MetricsGroupCard/__tests__/MonitoringMetrics.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddMetric.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/AddMetricsGroup.spec.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/__tests__/fixtures.ts
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/hooks.ts
  ui/src/modules/Circles/Matcher/ParametersForm.tsx
  ui/src/modules/Circles/Matcher/__tests__/Matcher.spec.tsx
  ui/src/modules/Circles/Matcher/__tests__/ParametersForm.spec.tsx
  ui/src/modules/Circles/Matcher/__tests__/ResultList.spec.tsx
  ui/src/modules/Circles/Matcher/__tests__/helpers.spec.ts
  ui/src/modules/Modules/Comparation/Form/ComponentForm.tsx
  ui/src/modules/Modules/Comparation/Form/Components.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/ComponentForm.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/yarn.lock
Labels: ui

#832 Improve error details
  circle-matcher/Dockerfile
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/exception/BusinessException.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/exception/MatcherErrorCode.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/domain/service/impl/SegmentationServiceImpl.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/handler/DefaultErrorResponse.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/handler/ErrorHandler.java
  circle-matcher/src/main/java/io/charlescd/circlematcher/handler/ExceptionUtils.java
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/handler/DefaultErrorResponseTest.groovy
  circle-matcher/src/test/groovy/io/charlescd/circlematcher/handler/ErrorHandlerTest.groovy
  moove/api/src/main/kotlin/io/charlescd/moove/api/MooveExceptionHandler.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/ErrorDetailedResponse.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/exceptions/BadRequestClientException.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/exceptions/InternalErrorClientException.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/exceptions/NotFoundClientException.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/MatcherEncoderConfiguration.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/CircleMatcherClient.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/configuration/MatcherDecoderConfigurationTest.groovy
Labels: TESTED, circle-matcher, moove

#885 Add Form whitespace validation
  ui/src/core/hooks/useForm.tsx
  ui/src/core/utils/__tests__/validation.spec.ts
  ui/src/core/utils/validations.ts
  ui/src/modules/Account/index.tsx
  ui/src/modules/Auth/Login/index.tsx
  ui/src/modules/Circles/Comparation/Item/CreateSegments/ImportCSV.tsx
  ui/src/modules/Circles/Comparation/Item/Layer/Name.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddAction.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetric.tsx
  ui/src/modules/Circles/Comparation/Item/MetricsGroups/AddMetricsGroup.tsx
  ui/src/modules/Circles/Comparation/Item/styled.ts
  ui/src/modules/Circles/Release/Create/Module.tsx
  ui/src/modules/Circles/Release/Create/index.tsx
  ui/src/modules/Circles/Segments/Clause.tsx
  ui/src/modules/Circles/Segments/Rule.tsx
  ui/src/modules/Circles/Segments/index.tsx
  ui/src/modules/Groups/Tabs/Form/index.tsx
  ui/src/modules/Groups/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/Layers/Modules/Modal/index.tsx
  ui/src/modules/Hypotheses/Board/Card/View/index.tsx
  ui/src/modules/Hypotheses/Board/Columns/ReadyToGo/GenerateRelease/index.tsx
  ui/src/modules/Hypotheses/Board/Columns/ToDo/FakeCard.tsx
  ui/src/modules/Hypotheses/Menu/index.tsx
  ui/src/modules/Modules/Comparation/Form/Component.tsx
  ui/src/modules/Modules/Comparation/Form/ComponentForm.tsx
  ui/src/modules/Modules/Comparation/Form/helpers.ts
  ui/src/modules/Modules/Comparation/Form/index.tsx
  ui/src/modules/Settings/Credentials/Sections/CDConfiguration/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/CircleMatcher/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Git/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricAction/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/MetricProvider/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/Form.tsx
  ui/src/modules/Settings/Credentials/Sections/Registry/__tests__/FormRegistry.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/Form.tsx
  ui/src/modules/Settings/Credentials/index.tsx
  ui/src/modules/Users/Comparation/Item/index.tsx
  ui/src/modules/Users/Create/Form.tsx
  ui/src/modules/Workspaces/Menu/index.tsx
Labels: TESTED, ui
