Repository ZupIT/charlescd, pull requests merged in 2021-03, with the labels that each got.

#902 Remove microfrontend
  .github/workflows/charlescd-ci.yml
  .github/workflows/charlescd-prerelease.yml
  .github/workflows/charlescd-prodrelease.yml
  .github/workflows/ui-ci.yml
  .github/workflows/ui-devrelease.yml
  ui/Dockerfile
  ui/config-overrides.js
  ui/package.json
  ui/src/App.tsx
  ui/src/Routes.tsx
  ui/src/__tests__/Routes.spec.tsx
  ui/src/core/components/Page/styled.ts
  ui/src/core/utils/auth.ts
  ui/src/core/utils/microfrontend.ts
  ui/src/microfrontend.tsx
  ui/src/modules/Main/Sidebar/index.tsx
  ui/src/modules/Main/styled.ts
  ui/yarn.lock
Labels: TESTED, javascript, ui

#944 fixing find modules by ids and workspace id query
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcModuleRepository.kt
Labels: TESTED, bug, moove, severity/critical

#941 Validation error messages - Error responses pattern
  butler/package-lock.json
  butler/package.json
  butler/src/app/v2/api/deployments/controller/deployments.controller.ts
  butler/src/app/v2/api/deployments/dto/create-circle-request.dto.ts
  butler/src/app/v2/api/deployments/dto/create-deployment-request.dto.ts
  butler/src/app/v2/api/deployments/dto/create-module-request.dto.ts
  butler/src/app/v2/api/deployments/pipes/joi-validation-pipe.ts
  butler/src/app/v2/api/deployments/validations/component-not-empty.ts
  butler/src/app/v2/api/deployments/validations/component-unique-by-name.ts
  butler/src/app/v2/api/deployments/validations/composite-field-size.ts
  butler/src/app/v2/api/deployments/validations/create-deployment-validator.ts
  butler/src/app/v2/api/deployments/validations/image-tag-validation.ts
  butler/src/tests/v2/integration/controllers/deployment.controller.integration-spec.ts
  butler/src/tests/v2/unit/joi-schemas/create-deployment-dto-schema.spec.ts
Labels: butler

#954 fix moove not returning circle deployment
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentRepository.kt
Labels: moove

#939 Feature/get system token
  gate/.gitignore
  gate/cmd/db.go
  gate/cmd/http.go
  gate/go.mod
  gate/go.sum
  gate/hack/tool.go
  gate/internal/domain/system_token.go
  gate/internal/logging/errors.go
  gate/internal/logging/logger.go
  gate/internal/repository/models/system_token.go
  gate/internal/repository/models/user.go
  gate/internal/repository/queries/system_token_queries.sql
  gate/internal/repository/system_token_repository.go
  gate/internal/tracking/errors.go
  gate/internal/tracking/logger.go
  gate/internal/use_case/system_token/create_system_token.go
  gate/internal/use_case/system_token/get_system_token.go
  gate/internal/utils/mapper/permissions_mapper.go
  gate/internal/utils/mapper/system_token_mapper.go
  gate/tests/unit/mocks/repository/system_token_repository.go
  gate/tests/unit/mocks/use_case/system_token/create_system_token.go
  gate/tests/unit/mocks/use_case/system_token/get_system_token.go
  gate/tests/unit/system_token/system_token_test.go
  gate/web/api/handlers/error_handler.go
  gate/web/api/handlers/representation/permission.go
  gate/web/api/handlers/representation/system_token.go
  gate/web/api/handlers/system_token_handler.go
  gate/web/api/middlewares/tracker.go
Labels: enhancement, gate

#930 [UserGroups] Permission to Maintainer remove Groups from Workspace
  moove/web/src/main/resources/security-constraints.yml
  ui/src/core/providers/base/__tests__/base.spec.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/__tests__/hooks.spec.tsx
  ui/src/modules/Settings/Credentials/Sections/UserGroup/constants.ts
  ui/src/modules/Settings/Credentials/Sections/UserGroup/hooks.ts
Labels: TESTED, bug, moove, ui

#947 fix workspace response when hermes api throw error
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/FindWorkspaceInteractorImpl.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/CustomFeignErrorDecoder.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/HermesPublisherEncoderConfiguration.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/configuration/SimpleFeignEncoderConfiguration.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/configuration/SimpleFeignErrorDecoderConfigurationTest.groovy
  moove/legacy-moove/src/main/kotlin/io/charlescd/moove/legacy/moove/api/config/DefaultLegacyErrorDecoderConfiguration.kt
  moove/legacy-moove/src/test/groovy/io/charlescd/moove/legacy/moove/config/DefaultLegacyErrorDecoderConfigurationTest.groovy
Labels: moove

#963 Circle creation from CSV file fix
  ui/src/core/hooks/useForm.tsx
  ui/src/core/utils/__tests__/validation.spec.ts
  ui/src/core/utils/validations.ts
Labels: TESTED, bug, ui

#971 Fix watch log on octopipe
  octopipe/pkg/deployment/deployment.go
Labels: octopipe

#972 ASCII Armor + Base64 encoding for token column
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcButlerConfigurationRepository.kt
Labels: moove

#955 Custom virtual service
  octopipe/.env
  octopipe/cmd/main.go
  octopipe/go.mod
  octopipe/go.sum
  octopipe/pkg/deployment/deployment.go
  octopipe/pkg/manager/main.go
  octopipe/pkg/manager/v2_commons.go
  octopipe/pkg/manager/v2_constants.go
  octopipe/pkg/manager/v2_deployment.go
  octopipe/pkg/manager/v2_undeployment.go
  octopipe/pkg/template/helm/dat
Labels: octopipe

#973 get environment from window
  ui/src/core/providers/base/index.ts
  ui/src/index.tsx
Labels: ui

#966 Fix button enabled/disabled when creating a new user
  ui/src/core/components/Form/Input/index.tsx
  ui/src/modules/Users/Create/Form.tsx
  ui/src/modules/Users/Create/__tests__/FormUser.spec.tsx
Labels: TESTED, bug, ui

#918 [UserGroups] Prevent duplicate list after updates
  ui/src/core/state/__tests__/hooks.spec.ts
  ui/src/modules/Groups/Menu/__tests__/fixtures.ts
  ui/src/modules/Groups/Menu/index.tsx
  ui/src/modules/Groups/Tabs/Form/__tests__/Form.spec.tsx
  ui/src/modules/Groups/Tabs/Form/__tests__/fixtures.ts
  ui/src/modules/Groups/Tabs/Form/index.tsx
  ui/src/modules/Groups/Tabs/Tab.tsx
  ui/src/modules/Groups/__tests__/reducer.spec.ts
  ui/src/modules/Groups/hooks.ts
  ui/src/modules/Groups/interfaces/UserGroups.ts
  ui/src/modules/Groups/interfaces/UserGroupsPagination.ts
  ui/src/modules/Groups/state/actions.ts
  ui/src/modules/Groups/state/reducer.ts
Labels: TESTED, bug, ui

#951 Feature: revoke system token
  gate/.gitignore
  gate/Makefile
  gate/cmd/http.go
  gate/internal/domain/system_token.go
  gate/internal/repository/models/system_token.go
  gate/internal/repository/system_token_repository.go
  gate/internal/use_case/system_token/revoke_system_token.go
  gate/tests/unit/mocks/repository/system_token_repository.go
  gate/tests/unit/mocks/use_case/system_token/revoke_system_token.go
  gate/tests/unit/system_token/revoke_system_token_test.go
  gate/tests/unit/system_token/system_token_suites_test.go
  gate/web/api/handlers/system_token_handler.go
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
Labels: gate, moove

#922 Butler executions filters
  butler/src/app/v2/api/deployments/controller/executions.controller.ts
  butler/src/app/v2/api/deployments/dto/execution/paginated-execution-query.dto.ts
  butler/src/app/v2/api/deployments/dto/paginated-response.dto.ts
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/api/deployments/use-cases/paginated-executions.usecase.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
Labels: TESTED, butler

#987 fixing webhook history event service
  hermes/internal/notification/payloads/messagepayloads.go
  hermes/web/api/subscription/subscription.go
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/WebhookController.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/HermesClientService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/client/response/HermesSubscriptionEventHistoryResponse.kt
Labels: hermes, moove

#986 Add version
  install/helm-chart/templates/_helpers.tpl
  ui/.env
  ui/.env.local
  ui/src/core/providers/base/index.ts
  ui/src/modules/Main/Footer/__tests__/Footer.spec.tsx
  ui/src/modules/Main/Footer/index.tsx
  ui/src/modules/Main/Footer/styled.ts
  ui/src/setupTests.ts
Labels: TESTED, ui

#991 Butler operator install fix / Merge issues
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/core/integrations/moove/moove.service.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile.spec.ts
  butler/src/tests/v2/unit/utils/replaced-components.spec.ts
  install/helm-chart/Chart.yaml
  install/helm-chart/crds/butler-deployment-crd.yaml
  install/helm-chart/crds/butler-routes-crd.yaml
  install/helm-chart/templates/_helpers.tpl
  install/helm-chart/templates/butler-cluster-role-binding.yaml
  install/helm-chart/templates/butler-cluster-role.yaml
  install/helm-chart/templates/butler-initial-charlesroutes.yaml
  install/helm-chart/templates/butler-service-account.yaml
  install/helm-chart/templates/charlescd-butler-cluster-role-binding.yaml
  install/helm-chart/templates/charlescd-butler-service-account.yaml
  install/helm-chart/templates/cluster-role.yaml
  install/helm-chart/values.yaml
Labels: butler

#992 setup nest scheduler
  butler/package-lock.json
  butler/package.json
  butler/src/app/app.module.ts
  butler/src/app/v2/api/deployments/repository/component.repository.ts
  butler/src/app/v2/api/deployments/repository/execution.repository.ts
  butler/src/app/v2/operator/cron/timeout.scheduler.ts
  butler/src/app/v2/operator/operator.module.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployment.usecase.ts
  butler/src/tests/v2/integration/controllers/execution.controller.integration-spec.ts
  butler/src/tests/v2/integration/pipes/undeployment-validation.pipe.integration-spec.ts
  butler/src/tests/v2/integration/schedulers/timeout.scheduler.integration-spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
Labels: butler

#995 fix undeploy start notification
  moove/application/src/main/kotlin/io/charlescd/moove/application/WebhookEventService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/DeploymentCallbackInteractorImpl.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/WebhookDeploymentEventType.kt
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/HermesClientServiceTest.groovy
Labels: moove

#1000 fixing history query
  hermes/internal/notification/message/main.go
  hermes/internal/notification/message/message.go
  hermes/web/api/subscription/subscription.go
Labels: hermes

#907 [Hypotheses] Removing hypotheses feature.
  moove/infrastructure/src/main/resources/db/changelog/db.changelog-master.yaml
  moove/infrastructure/src/main/resources/db/changelog/includes/20210217183000_remove_hypotheses_from_roles_description.yaml
  ui/src/core/components/Page/constants.ts
  ui/src/modules/Main/constants.ts
  ui/src/modules/Main/index.tsx
  ui/src/modules/Settings/Credentials/Sections/index.tsx
  ui/src/modules/Settings/Credentials/__tests__/Credentials.spec.tsx
  ui/src/modules/Settings/Credentials/index.tsx
Labels: TESTED, enhancement, moove, ui

#953 Fix showing required for an optional field when registering a module
  ui/src/core/utils/__tests__/validation.spec.ts
  ui/src/core/utils/validations.ts
  ui/src/modules/Modules/Comparation/Form/__tests__/helpers.spec.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Modules/Comparation/Form/helpers.ts
  ui/src/modules/Modules/Comparation/Form/index.tsx
Labels: TESTED, bug, ui

#981 Improve advanced options
  ui/src/modules/Modules/Comparation/Form/Component.tsx
  ui/src/modules/Modules/Comparation/Form/__tests__/Component.spec.tsx
  ui/src/modules/Modules/Comparation/Form/styled.ts
Labels: TESTED, bug, ui

#810 Change butler steps on pipeline
  butler/src/app/v2/core/integrations/octopipe/request-builder.ts
  butler/src/app/v2/core/integrations/spinnaker/pipeline-builder.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/deployment/destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-destination-rules-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-empty-virtual-services-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-proxy-evaluation-stage.ts
  butler/src/app/v2/core/integrations/spinnaker/templates/undeployment/undeploy-virtual-services-stage.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/dummy-virtualservice-pipeline.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/one-component-eks-config.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/one-component-generic-config.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-complete-pipeline.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-hostname-gateway.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-one-same-tag-diff-circles-unused.ts
  butler/src/tests/v2/unit/octopipe/fixtures/undeployment/undeploy-same-tag-diff-circles-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-with-overrides-and-delete-proxy-circle.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/deployment/deployment-complete-with-overrides-and-delete-proxy.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/dummy-virtualservice-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-complete-pipeline.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-diff-subsets-same-tag.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-hostname-gateway.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-one-same-tag-diff-circles-unused.ts
  butler/src/tests/v2/unit/spinnaker/fixtures/undeployment/undeploy-same-tag-diff-circles-unused.ts
Labels: TESTED, butler, octopipe

#1004 hotfix-percentage
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcCircleRepository.kt
Labels: TESTED, moove

#998 Deployment configuration / Github, gitlab integration
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/app/v2/core/integrations/github/github-repository.ts
  butler/src/app/v2/core/integrations/gitlab/gitlab-repository.ts
  butler/src/app/v2/core/integrations/interfaces/repository.interface.ts
  butler/src/app/v2/core/manifests/helm/helm-manifest.ts
  butler/src/app/v2/core/manifests/manifest.interface.ts
  butler/src/tests/v2/integration/test-constants.ts
  butler/src/tests/v2/stubs/helm-chart/gitlab-contents.json
  butler/src/tests/v2/unit/github/github-repository.spec.ts
  butler/src/tests/v2/unit/gitlab/gitlab-repository.spec.ts
  butler/src/tests/v2/unit/manifests/helm/helm-manifest.spec.ts
  moove/api/src/main/kotlin/io/charlescd/moove/api/controller/V2ConfigurationController.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/ButlerConfigurationService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/DeploymentConfigurationService.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/CreateDeploymentConfigurationInteractor.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/impl/CreateDeploymentConfigurationInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/request/CreateDeploymentConfigurationRequest.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/configuration/response/DeploymentConfigurationResponse.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/deployment/impl/CreateUndeploymentInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/FindWorkspaceInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImpl.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/request/PatchWorkspaceRequest.kt
  moove/application/src/main/kotlin/io/charlescd/moove/application/workspace/response/WorkspaceResponse.kt
  moove/application/src/test/groovy/io/charlescd/moove/application/TestUtils.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/deployment/impl/CreateDeploymentInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/CreateWorkspaceInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/FindAllWorkspaceInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/FindWorkspaceInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/impl/PatchWorkspaceInteractorImplTest.groovy
  moove/application/src/test/groovy/io/charlescd/moove/application/workspace/request/PatchWorkspaceRequestTest.groovy
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/DeploymentConfiguration.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/MooveErrorCode.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/Workspace.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/repository/DeploymentConfigurationRepository.kt
  moove/domain/src/main/kotlin/io/charlescd/moove/domain/service/DeployService.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcButlerConfigurationRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcDeploymentConfigurationRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/JdbcWorkspaceRepository.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/ButlerConfigurationMapper.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/DeploymentConfigurationExtractor.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/DeploymentConfigurationMapper.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/repository/mapper/WorkspaceMapper.kt
  moove/infrastructure/src/main/kotlin/io/charlescd/moove/infrastructure/service/DeployClientService.kt
  moove/infrastructure/src/main/resources/db/changelog/db.changelog-master.yaml
  moove/infrastructure/src/main/resources/db/changelog/includes/20210301151000_create_table_deployment_configurations.yaml
  moove/infrastructure/src/main/resources/db/changelog/includes/20210301165000_alter_table_workspaces_add_deployment_config_column.yaml
  moove/infrastructure/src/test/groovy/io/charlescd/moove/infrastructure/service/DeployClientServiceTest.groovy
Labels: butler, moove

#1007 Fix label injection
  butler/src/app/v2/operator/params.interface.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployments.usecase.ts
  butler/src/tests/v2/unit/operator/params.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile.spec.ts
  install/helm-chart/charts/metacontroller/crds/metacontroller-crds.yaml
  install/helm-chart/charts/metacontroller/templates/metacontroller-rbac.yaml
  install/helm-chart/charts/metacontroller/templates/metacontroller.yaml
Labels: butler

#1002 Solve services with same name in multiple circles
  butler/src/app/v2/operator/use-cases/create-routes-manifests.usecase.ts
  butler/src/app/v2/operator/use-cases/reconcile-deployment.usecase.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  install/helm-chart/charts/metacontroller/templates/metacontroller.yaml
Labels: butler

#942 Fix inconsistently displaying the menu after go to root path
  ui/src/modules/Main/Sidebar/MenuItems/__tests__/MenuItems.spec.tsx
  ui/src/modules/Main/Sidebar/MenuItems/index.tsx
  ui/src/modules/Main/Sidebar/__tests__/fixtures.ts
  ui/src/modules/Main/Sidebar/helpers.ts
  ui/src/modules/Main/constants.ts
  ui/src/modules/Workspaces/index.tsx
Labels: TESTED, bug, ui

#1012 UI system token
  ui/src/core/assets/svg/scopes.svg
  ui/src/core/assets/svg/token.svg
  ui/src/core/components/Form/Checkbox/index.tsx
  ui/src/core/components/Form/InputTitle/index.tsx
  ui/src/core/components/Form/InputTitle/styled.ts
  ui/src/core/constants/routes.ts
  ui/src/core/providers/tokens.ts
  ui/src/modules/Main/Sidebar/index.tsx
  ui/src/modules/Main/constants.ts
  ui/src/modules/Main/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Scopes/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Scopes/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/Modal/styled.ts
  ui/src/modules/Tokens/Comparation/Form/Workspaces/index.tsx
  ui/src/modules/Tokens/Comparation/Form/Workspaces/styled.ts
  ui/src/modules/Tokens/Comparation/Form/__tests__/Component.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/ComponentForm.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/Components.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/helpers.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/__tests__/index.spec.tsx
  ui/src/modules/Tokens/Comparation/Form/index.tsx
  ui/src/modules/Tokens/Comparation/Form/interfaces.ts
  ui/src/modules/Tokens/Comparation/Form/styled.ts
  ui/src/modules/Tokens/Comparation/Loaders/index.tsx
  ui/src/modules/Tokens/Comparation/Loaders/tab.tsx
  ui/src/modules/Tokens/Comparation/Tab.tsx
  ui/src/modules/Tokens/Comparation/View/constants.ts
  ui/src/modules/Tokens/Comparation/View/index.tsx
  ui/src/modules/Tokens/Comparation/View/styled.ts
  ui/src/modules/Tokens/Comparation/__tests__/Modules.spec.tsx
  ui/src/modules/Tokens/Comparation/helpers.ts
  ui/src/modules/Tokens/Comparation/index.tsx
  ui/src/modules/Tokens/Comparation/styled.ts
  ui/src/modules/Tokens/Menu/Loaders/index.tsx
  ui/src/modules/Tokens/Menu/Loaders/list.tsx
  ui/src/modules/Tokens/Menu/MenuItem.tsx
  ui/src/modules/Tokens/Menu/__tests__/Menu.spec.tsx
  ui/src/modules/Tokens/Menu/index.tsx
  ui/src/modules/Tokens/Menu/styled.ts
  ui/src/modules/Tokens/Placeholder/index.tsx
  ui/src/modules/Tokens/fixtures.ts
  ui/src/modules/Tokens/hooks.ts
  ui/src/modules/Tokens/index.tsx
  ui/src/modules/Tokens/interfaces.ts
  ui/src/modules/Tokens/styled.ts
Labels: ui

#1014 Fix labels injection
  butler/src/app/v2/api/deployments/use-cases/create-deployment.usecase.ts
  butler/src/app/v2/core/manifests/helm/helm-manifest.ts
  butler/src/app/v2/core/manifests/manifest.interface.ts
  butler/src/resources/helm-test-chart/manifest-default.yaml
  butler/src/resources/helm-test-chart/manifest.yaml
  butler/src/resources/helm-test-chart/templates/deployment.yaml
  butler/src/resources/helm-test-chart/templates/service.yaml
  butler/src/tests/v2/unit/manifests/helm/helm-manifest.spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  install/helm-chart/Chart.yaml
Labels: butler

#1018 Fix istio resources apiversion
  butler/src/app/v2/core/constants/deployments/deployments-configuration.constants.ts
  butler/src/app/v2/core/integrations/utils/istio-deployment-manifests.utils.ts
  butler/src/app/v2/core/integrations/utils/istio-undeployment-manifests.utils.ts
  butler/src/app/v2/operator/params.interface.ts
  butler/src/app/v2/operator/partial-params.interface.ts
  butler/src/app/v2/operator/use-cases/create-routes-manifests.usecase.ts
  butler/src/resources/stubby/integrations.yml
  butler/src/tests/v2/fixtures/manifests.fixture.ts
  butler/src/tests/v2/integration/use-cases/create-deployment-usecase.integration-spec.ts
  butler/src/tests/v2/unit/operator/create-routes-manifests-usecase.spec.ts
  butler/src/tests/v2/unit/operator/reconcile-deployment-usecase.spec.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/no-repeated-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/deployment/no-repeated-default-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-circle-dr.ts
  butler/src/tests/v2/unit/utils/fixtures/undeployment/no-repeated-undeployment-default-circle-dr.ts
  install/helm-chart/charts/metacontroller/templates/metacontroller.yaml
Labels: butler
